<template>
    <div>
        <div class="container mb-3">
            <div class="row justify-content-md-center">
                <div class="col-12">
                    <h4>{{ $trans('pages.dashboard.title') }}</h4>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-md-center">

                <!-- Primary column -->
                <div class="col-12 col-lg-8">

                    <div class="mb-3 d-md-none d-lg-none">
                        <b-button :href="urlToJournal()"
                                  variant="default"
                                  :title="$trans('links.consumed_foods.title')"
                                  :aria-label="$trans('links.consumed_foods.title')"
                        >{{ $trans('links.consumed_foods.text') }}</b-button>
                    </div>

                    <div class="row">

                        <div class="col-12 col-sm-6">
                            <reactive-card :menu="false">
                                <div slot="title">{{ $trans('others.consumed_calories') }}</div>
                                <div class="card-reactive-body pt-0">
                                    <value-unit-wrapper :val="round(user.nutrients.energy.consumed, 0)"
                                                        unit="kcal"
                                    ></value-unit-wrapper>
                                </div>
                            </reactive-card>
                        </div>

                        <div class="col-12 col-sm-6 d-none d-sm-block">
                            <reactive-card :menu="false">
                                <div slot="title">{{ $trans('others.last_meal_ago') }}</div>
                                <div class="card-reactive-body pt-0">
                                    <h4 class="mb-0">{{ lastMealAgo(user.lastMeal) }}</h4>
                                </div>
                            </reactive-card>
                        </div>

                        <div class="col-12">
                            <reactive-card :menu="false" class="pb-3">
                                <div slot="title">{{ $trans('others.macro_nutrients') }}</div>
                                <div class="row px-3">
                                    <div class="col-4 text-center border-right">
                                        <strong class="d-block h8 text-danger text-uppercase">
                                            {{ $trans('nutrients.groups.carb_short') }}
                                        </strong>
                                        <value-unit-wrapper :val="round(user.nutrients.carbohydrate_by_difference.consumed, 1)"
                                                            unit="g"
                                                            class="h6"
                                        ></value-unit-wrapper>
                                    </div>
                                    <div class="col-4 text-center border-right">
                                        <strong class="d-block h8 text-warning text-uppercase">
                                            {{ $trans('nutrients.groups.fat') }}
                                        </strong>
                                        <value-unit-wrapper :val="round(user.nutrients.total_lipid_fat.consumed, 1)"
                                                            unit="g"
                                                            class="h6"
                                        ></value-unit-wrapper>
                                    </div>
                                    <div class="col-4 text-center">
                                        <strong class="d-block h8 text-info text-uppercase">
                                            {{ $trans('nutrients.groups.protein') }}
                                        </strong>
                                        <value-unit-wrapper :val="round(user.nutrients.protein.consumed, 1)"
                                                            unit="g"
                                                            class="h6"
                                        ></value-unit-wrapper>
                                    </div>
                                </div>
                            </reactive-card>
                        </div>

                        <div class="col-12 col-sm-6 d-sm-none">
                            <reactive-card :menu="false">
                                <div slot="title">{{ $trans('others.last_meal_ago') }}</div>
                                <div class="card-reactive-body pt-0">
                                    <h4 class="mb-0">{{ lastMealAgo(user.lastMeal) }}</h4>
                                </div>
                            </reactive-card>
                        </div>

                        <div class="col-12">
                            <reactive-card :menu="false">
                                <div slot="title">
                                    {{ $trans('others.weekly_overview') }} |
                                    {{ $trans('others.consumed_calories') }}
                                </div>
                                <div class="px-2 pb-2">
                                    <week-bar-chart :week-data="caloriesWeekData"
                                                    unit="kcal"
                                                    bar-color="rgba(0,0,0,.5)"
                                    ></week-bar-chart>
                                </div>
                            </reactive-card>
                        </div>

                        <div class="col-12 col-sm-4">
                            <reactive-card :menu="false">
                                <div slot="title">{{ $trans('nutrients.fiber_total_dietary') }}</div>
                                <div class="card-reactive-body pt-0">
                                    <value-unit-wrapper :val="round(user.nutrients.fiber_total_dietary.consumed, 1)"
                                                        unit="g"
                                    ></value-unit-wrapper>
                                </div>
                            </reactive-card>
                        </div>

                        <div class="col-12 col-sm-4">
                            <reactive-card :menu="false">
                                <div slot="title">{{ $trans('nutrients.sugars_total') }}</div>
                                <div class="card-reactive-body pt-0">
                                    <value-unit-wrapper :val="round(user.nutrients.sugars_total.consumed, 1)"
                                                        unit="g"
                                    ></value-unit-wrapper>
                                </div>
                            </reactive-card>
                        </div>

                        <div class="col-12 col-sm-4">
                            <reactive-card :menu="false">
                                <div slot="title">{{ $trans('nutrients.salt') }}</div>
                                <div class="card-reactive-body pt-0">
                                    <value-unit-wrapper :val="round(user.nutrients.salt.consumed, 1)"
                                                        unit="g"
                                    ></value-unit-wrapper>
                                </div>
                            </reactive-card>
                        </div>

                        <div class="col-12">
                            <week-bar-chart-slider id="FiberSugarSalt"
                                                   :slides="slides"
                            ></week-bar-chart-slider>
                        </div>
                    </div>
                </div>


                <!-- Secondary column -->
                <div class="col-12 col-lg-4">
                    <reactive-card :menu="false">
                        <div slot="pre-btn" class="text-black-50">
                            <i class="fas fa-info-circle"
                               v-b-popover.hover.bottomleft="$trans('components.vue.frequently_consumed_foods.info')"
                               :title="$trans('others.info')"
                            ></i>
                        </div>
                        <div slot="title">{{ $trans('components.vue.frequently_consumed_foods.title') }}</div>
                        <div class="card-reactive-body pt-0">
                            <div class="row pb-3">
                                <div v-for="(food, fIdx) in user.food.last_used"
                                     :key="`food_${fIdx}`"
                                     class="col-12"
                                >
                                    <a :href="urlToFoodShow(food.id)"
                                       class="text-body"
                                    >{{ food.name }}</a>
                                </div>
                            </div>
                            <a :href="urlToFoodCatalogue()"
                               class="btn btn-default btn-sm"
                            >{{ $trans('components.vue.frequently_consumed_foods.btn') }}</a>
                        </div>
                    </reactive-card>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    /*
    |---------------------------------------------------------------------------
    | Smart component
    |---------------------------------------------------------------------------
    */


    import displayHelperMixin from '../../mixins/display_helper';
    import roundMixin from '../../mixins/round';
    import linksMixin from '../../mixins/links';

    import ReactiveCard from '../../shared/reactive_card';
    import WeekBarChart from '../../shared/week_bar_chart';
    import ValueUnitWrapper from '../../shared/value_unit_wrapper';
    import WeekBarChartSlider from '../../shared/week_bar_chart_slider';

    import {has} from '../../../utilities/helpers';
    import {create_week_date_map} from '../../../utilities/date_helper';

    export default {

        name: "dashboard_view",

        /*
         |---------------------------------------------------------------------------
         | Composition
         |---------------------------------------------------------------------------
         */

        mixins: [
            displayHelperMixin,
            roundMixin,
            linksMixin,
        ],

        // extends: {},

        /*
         |---------------------------------------------------------------------------
         | Assets
         |---------------------------------------------------------------------------
         */

        // directives: {},

        // filters: {},

        components: {
            ReactiveCard,
            WeekBarChart,
            ValueUnitWrapper,
            WeekBarChartSlider,
        },

        /*
         |---------------------------------------------------------------------------
         | Lifecycle Hooks
         |---------------------------------------------------------------------------
         */

        // created() {},

        // mounted() {},

        /*
         |---------------------------------------------------------------------------
         | Data
         |---------------------------------------------------------------------------
         */

        props: {
            userRef: {
                type: Object,
                required: true,
            }
        },

        // data() { return {}; },

        computed: {
            user() {

                const vm = this;

                Object.keys(this.userRef.consumed).forEach((nutrient) => {
                    let consumedWeek = create_week_date_map();
                    Object.keys(consumedWeek).forEach((date) => {
                        if (has.call(vm.userRef.consumed[nutrient].last_days, date)) {
                            consumedWeek[date] = vm.userRef.consumed[nutrient].last_days[date];
                        }
                    });
                    vm.userRef.consumed[nutrient].last_days = consumedWeek;
                });

                return {
                    lastMeal: this.userRef.last_meal,
                    nutrients: this.userRef.consumed,
                    food: this.userRef.food,
                };
            },
            caloriesWeekData() {
                return Object.values(this.user.nutrients.energy.last_days).reverse();
            },
            sugarsTotalWeekData() {
                return Object.values(this.user.nutrients.sugars_total.last_days).reverse();
            },
            fiberTotalDietaryTotalWeekData() {
                return Object.values(this.user.nutrients.fiber_total_dietary.last_days).reverse();
            },
            saltTotalWeekData() {
                return Object.values(this.user.nutrients.salt.last_days).reverse();
            },
            slides() {
                const slides = [];
                slides.push({
                    title: 'nutrients.fiber_total_dietary',
                    data: this.fiberTotalDietaryTotalWeekData,
                    unit: 'g',
                });
                slides.push({
                    title: 'nutrients.sugars_total',
                    data: this.sugarsTotalWeekData,
                    unit: 'g',
                });
                slides.push({
                    title: 'nutrients.salt',
                    data: this.saltTotalWeekData,
                    unit: 'g',
                });
                return slides;
            },
        },

        // watch: {},

        methods: {
            lastMealAgo(datetime) {
                if (!datetime) {
                    return '-';
                }
                const lastMealAgo = this.$moment(datetime);
                if (this.$moment().subtract(1, 'days').isAfter(lastMealAgo)) {
                    return lastMealAgo.fromNow();
                }
                const diff = this.$moment.duration(this.$moment().diff(lastMealAgo));
                return `${diff.hours()}h ${diff.minutes()}m`;
            }
        },

    }

</script>
