<template>
    <div>

        <consume-food-insert-update-modal modal-ref="consumeFoodInsertUpdateModalId"></consume-food-insert-update-modal>

        <add-food-to-template-modal modal-ref="addFoodToTemplateModalId"></add-food-to-template-modal>

        <div class="d-flex align-items-center justify-content-between mb-3">
            <div>
                <h4 class="m-0">{{ $trans('pages.food_catalouge.title') }}</h4>
            </div>
            <div>
                <b-button :href="urlToFoodNew()"
                          variant="success"
                          :title="$trans('components.button.new_food.title')"
                >
                    {{ $trans('components.button.new_food.text') }}
                </b-button>
            </div>
        </div>

        <div class="mb-3">
            <b-form-input id="search"
                          type="text"
                          v-model="searchTerm"
                          :placeholder="$trans('forms.search_foods.placeholder')"
                          :aria-label="$trans('forms.search_foods.aria_label')"
                          autofocus
            >
            </b-form-input>
        </div>

        <spinner-container :loading="areFoodsLoading">
            <state-container :active="!foodsFilterd.length"
                             :icon="true"
                             :title="$trans('components.states.no_foods_found.title')"
                             :message="stateMessage"
            >
                <div slot="icon">
                    <i class="fas fa-inbox"></i>
                </div>

                <b-pagination
                    v-model="currentPage"
                    :total-rows="foodsFilterd.length"
                    :per-page="itemsPerPage"
                ></b-pagination>

                <default-card v-for="(food, idx) in getFoodsForPagination"
                    :key="idx"
                    class="mb-card"
                >
                    <default-card-body class="clearfix">
                        <avatar-container :char="food.name[0]"
                                          :url="urlToFoodShow(food.id)"
                                          class="mr-75 float-left"
                        ></avatar-container>
                        <food-row :food="food"
                                  :init-visibility="false"
                        >
                            <div slot="menu">
                                <button class="dropdown-item"
                                        type="button"
                                        @click="onConsume(food)"
                                        :title="$trans('components.button.consume.title')"
                                        :aria-label="$trans('components.button.consume.title')"
                                >{{ $trans('components.button.consume.text') }}</button>
                                <button class="dropdown-item"
                                        type="button"
                                        @click="addFoodToTemplate(food)"
                                        :title="$trans('components.button.add_food_to_template.title')"
                                        :aria-label="$trans('components.button.add_food_to_template.title')"
                                >{{ $trans('components.button.add_food_to_template.text_mnu') }}</button>
                                <a class="dropdown-item"
                                   :href="urlToFoodShow(food.id)"
                                   :title="$trans('components.button.show.title', {action: $trans('glossar.food.word')})"
                                   :aria-label="$trans('components.button.show.title', {action: $trans('glossar.food.word')})"
                                >{{ $trans('components.button.show.text') }}</a>
                                <a class="dropdown-item"
                                   :href="urlToFoodEdit(food.id)"
                                   :title="$trans('components.button.edit.title', {action: $trans('glossar.food.word')})"
                                   :aria-label="$trans('components.button.edit.title', {action: $trans('glossar.food.word')})"
                                   v-show="food.editable"
                                >{{ $trans('components.button.edit.text') }}</a>
                            </div>
                        </food-row>
                    </default-card-body>
                    <default-card-footer>
                        <button @click="onConsume(food)"
                                class="btn btn-action-default btn-sm"
                                :title="$trans('components.button.consume.title')"
                                :aria-label="$trans('components.button.consume.title')"
                        >
                            <i class="fas fa-utensils"></i>
                        </button>
                        <a class="btn btn-action-default btn-sm"
                           :href="urlToFoodEdit(food.id)"
                           :title="$trans('components.button.edit.title', {action: $trans('glossar.food.word')})"
                           :aria-label="$trans('components.button.edit.title', {action: $trans('glossar.food.word')})"
                           v-show="food.editable"
                        >
                            <i class="far fa-edit"></i>
                        </a>
                    </default-card-footer>
                </default-card>

                <b-pagination
                    v-model="currentPage"
                    :total-rows="foodsFilterd.length"
                    :per-page="itemsPerPage"
                ></b-pagination>

            </state-container>
        </spinner-container>


    </div>
</template>

<script>

    /*
    |---------------------------------------------------------------------------
    | Smart component
    |---------------------------------------------------------------------------
    */

    import {sortBy} from 'lodash'; 

    import logMixin from '../../mixins/log';
    import linksMixin from '../../mixins/links';
    import roundMixin from '../../mixins/round';
    import consumeActionsMixin from '../../mixins/consume_actions';
    import addFoodToTemplateActionMixin from '../../mixins/food_add_to_template_action';

    import foodBlock from '../../shared/food_block';
    import foodRow from '../../shared/food_row';
    import spinnerContainer from '../../shared/spinner_container';
    import stateContainer from '../../shared/state_container';
    import consumeFoodInsertUpdateModal from '../../shared/consume_food_insert_update_modal/consume_food_insert_update_modal';
    import addFoodToTemplateModal from '../../shared/add_food_to_template_modal';
    import DefaultCard from '../../shared/default_card';
    import DefaultCardBody from '../../shared/default_card_body';
    import DefaultCardFooter from '../../shared/default_card_footer';
    import AvatarContainer from '../../shared/avatar_container';

    import {createNamespacedHelpers} from 'vuex';

    const {
        mapActions: mapFoodActions,
        mapGetters: mapFoodGetters,
    } = createNamespacedHelpers('food');

    export default {

        name: "food_catalouge_view",

        /*
         |---------------------------------------------------------------------------
         | Composition
         |---------------------------------------------------------------------------
         */

        mixins: [
            logMixin,
            linksMixin,
            roundMixin,
            consumeActionsMixin,
            addFoodToTemplateActionMixin,
        ],

        /*
         |---------------------------------------------------------------------------
         | Assets
         |---------------------------------------------------------------------------
         */

        components: {
            foodBlock,
            foodRow,
            consumeFoodInsertUpdateModal,
            spinnerContainer,
            stateContainer,
            addFoodToTemplateModal,
            DefaultCard,
            DefaultCardBody,
            DefaultCardFooter,
            AvatarContainer,
        },

        /*
         |---------------------------------------------------------------------------
         | Lifecycle Hooks
         |---------------------------------------------------------------------------
         */

        mounted() {
            this.fetchFoods();
        },

        /*
         |---------------------------------------------------------------------------
         | Data
         |---------------------------------------------------------------------------
         */

        data() {
            return {
                searchTerm: '',
                itemsPerPage: 20,
                currentPage: 1,
            };
        },

        computed: {
            ...mapFoodGetters([
                'foods',
                'areFoodsLoading',
            ]),
            foodSorted() {
                return sortBy(this.foods, 'name');
            },
            foodsFilterd() {
                const vm = this;
                const searchTerm = vm.getSearchTerm.toLowerCase();
                return this.foodSorted.filter((food) => {
                    return food.name.toLowerCase().indexOf(searchTerm) !== -1
                        || (food.brand && food.brand.toLowerCase().indexOf(searchTerm) !== -1)
                    ;
                });
            },
            getFoodsForPagination() {
                const from = (this.currentPage - 1) * this.itemsPerPage;
                const to = from + this.itemsPerPage;
                return this.foodsFilterd.slice(from, to);
            },
            getSearchTerm() {
                return this.searchTerm;
            },
            stateMessage() {
                if (!this.foods.length) {
                    return this.$trans('components.states.no_foods_found.message.db_empty');
                }
                return this.$trans('components.states.no_foods_found.message.nothing_found', {query: this.getSearchTerm});
            }
        },

        methods: {
            ...mapFoodActions([
                'fetchFoods',
            ]),
        }

    }

</script>
