$avatar-color: rgba(0,0,0,.5);

$avatar-container-width-sm: 40px;
$avatar-container-height-sm: $avatar-container-width-sm;

$avatar-container-width: 48px;
$avatar-container-height: $avatar-container-width;

.avatar {
    @extend .p-0;

    transition-property: none;
    width: $avatar-container-width;
    height: $avatar-container-height;

    overflow: hidden;

    text-align: center;
    vertical-align: top;
    color: $avatar-color;
}


.avatar-container {
    @extend .d-flex;

    width: $avatar-container-width-sm;
    height: $avatar-container-height-sm;

    overflow: hidden;

    background-color: rgba(65, 184, 131, 0.14);
    border-radius: $border-radius;

    a {
        @extend .d-flex;
        text-decoration: none;
        width: 100%;
        height: 100%;
    }

    .avatar {
        @extend .border-0;
        @extend .m-0;

        border-radius: 0;
        height: auto;
        width: 100%;
        align-self: center;
    }
}

@include media-breakpoint-up(sm) {
    .avatar-container {
        width: $avatar-container-width;
        height: $avatar-container-height;
    }
}
