/*
|---------------------------------------------------------------------------
| Cards
|---------------------------------------------------------------------------
*/

$rounded-card: .75rem !default;

$card-reactive-body-padding: 1rem;

.rounded-card {
    border-radius: $rounded-card !important;
}
.rounded-card-top {
    border-top-left-radius: $rounded-card !important;
    border-top-right-radius: $rounded-card !important;
}
.rounded-card-bottom {
    border-bottom-left-radius: $rounded-card !important;
    border-bottom-right-radius: $rounded-card !important;
}
.rounded-card-left {
    border-top-left-radius: $rounded-card !important;
    border-bottom-left-radius: $rounded-card !important;
}
.rounded-card-right {
    border-top-right-radius: $rounded-card !important;
    border-bottom-right-radius: $rounded-card !important;
}

.shadow-card {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.card-reactive-title {
    font-size: .875rem;
}

.card-reactive-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: $card-reactive-body-padding;
}

.mb-card {
    margin-bottom: $card-reactive-margin;
}
