/*
|---------------------------------------------------------------------------
| Footer
|---------------------------------------------------------------------------
*/

$footer__link-list-delimiter-space: 8;
$footer__link-list-color: rgba($black, 0.5);
$footer__link-list-color-hover: rgba($black, 0.8);

.footer {
    &__link-list {

        display: flex;
        justify-content: center;
        align-items: center;

        div {
            color: $footer__link-list-color;
            display: inherit;
            position: relative;
            margin-right: $footer__link-list-delimiter-space * 1px;
            padding-right: $footer__link-list-delimiter-space * 1px;

            > a {
                color: inherit;

                &:hover {
                    color: $footer__link-list-color-hover;
                    text-decoration: none;
                }
            }

            &:not(:last-child)::after {
                position: absolute;
                right: -4px;
                content: "•";
            }
        }
    }
}
