/*
|---------------------------------------------------------------------------
| Food row
|---------------------------------------------------------------------------
*/

$food-row__menu-width: 28;

.food-row {
    position: relative;
}

$list-btn-border-radius: $border-radius;
$list-btn--pill-border-radius: $rounded-pill;

.list-btn {
    display: inline-block;
    border: none;
    margin: 0;
    padding: 1px 6px;
    background-color: transparent;
    border-radius: $list-btn-border-radius;
    color: rgba(0, 0, 0, .87);

    &--pill {
        border-radius: $list-btn--pill-border-radius;
    }

    &--fa5-icon {
        width: 24px;
        heigth: 24px;
        padding: 0;
    }
}
