/*
|---------------------------------------------------------------------------
| Horizontal slider
|---------------------------------------------------------------------------
*/

$hslide-min-height: 1;
$hslide__scroll-hint-width: 24;

.hslide {
    position: relative;
    min-height: $hslide-min-height * 1px;
    box-sizing: border-box;
    overflow: hidden;

    &__scroll-hint {
        &-right {
            background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 1)));
            height: 100%;
            position: absolute;
            pointer-events: none;
            right: 0;
            top: 0;
            width: $hslide__scroll-hint-width * 1px;
            z-index: 2;
        }
    }

    * {
        box-sizing: inherit;
    }

    &__scroll-container {
        -webkit-user-select: none;
        display: block;
        overflow-y: hidden;
        padding: 0;
        position: relative;
        -webkit-overflow-scrolling: touch;
        overflow-x: auto;

    }

    &__list {
        display: inline-flex;
        margin-right: ($hslide__scroll-hint-width - 2) * 1px;
    }
}
