/*
|---------------------------------------------------------------------------
| List menu
|---------------------------------------------------------------------------
*/

.list-menu {
    position: relative;
    display: flex;
    align-items: flex-start;

    &__content {
        flex-grow: 1;
    }

    &__menu {
        flex-shrink: 1;
        display: flex;
        flex-wrap: nowrap;
        margin-left: 8px;
    }
}
