/*
|---------------------------------------------------------------------------
| Nutrient display
|---------------------------------------------------------------------------
*/

$nutrient-display__title-color: rgba(0,0,0,.54);
$nutrient-display__title-font-size: 0.625rem;
$nutrient-display__title-font-size--sm: $nutrient-display__title-font-size;
$nutrient-display__title-font-size--lg: 0.875rem;

$nutrient-display__value-font-size: 1rem;
$nutrient-display__value-font-size--sm: 0.875rem;
$nutrient-display__value-font-size--lg: 1.5rem;

.nutrient-display {
    display: inline-block;
    text-align: center;
    padding: 0;

    &__value {
        display: block;
        font-size: $nutrient-display__value-font-size;
        white-space: nowrap;
    }

    &__title {
        display: block;
        font-size: $nutrient-display__title-font-size;
        color: $nutrient-display__title-color;
        white-space: nowrap;
        text-transform: uppercase;
    }

    &--sm {
        .nutrient-display__value {
            font-size: $nutrient-display__value-font-size--sm;
        }
        .nutrient-display__unit {
            font-size: $nutrient-display__value-font-size--sm;
        }
        .nutrient-display__title {
            font-size: $nutrient-display__title-font-size--sm;
        }
    }

    &--lg {
        .nutrient-display__value {
            font-size: $nutrient-display__value-font-size--lg;
        }
        .nutrient-display__unit {
            font-size: $nutrient-display__value-font-size--lg;
        }
        .nutrient-display__title {
            font-size: $nutrient-display__title-font-size--lg;
        }
    }
}

.nutrient-display-container {
    .nutrient-display {
        &:not(:last-child) {
            padding-right: .5rem;
            margin-right: .5rem;
        }
    }
    &--spacer {
        .nutrient-display {
            &:not(:last-child) {
                border-right: 1px solid $border-color;
            }
        }
    }
}
