/*
|--------------------------------------------------------------------------
| State container
|--------------------------------------------------------------------------
*/

$empty-state__action--padding: 20;

.state-container {
    width: 100%;
    padding: 40px 0 65px;

    &__icon,
    &__title,
    &__message,
    &__action {
        text-align: center;
    }

    &__icon {
        color: $text-muted;
        font-size: $display4-size;
    }

    &__title {
        font-size: $h3-font-size;
    }

    &__message {
        color: $text-muted;
    }

    &__action {
        padding: $empty-state__action--padding * 2px 0 0;
    }
}
