.h7 {
    font-size: .875rem!important;
}
.h8 {
    font-size: .75rem!important;
}
.h9 {
    font-size: .625rem!important;
}
.h10 {
    font-size: .5rem!important;
}
@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        .text#{$infix}-left     { text-align: left !important; }
        .text#{$infix}-right     { text-align: right !important; }
        .text#{$infix}-center     { text-align: center !important; }
    }
}
