// stylelint-disable-next-line scss/dollar-variable-default
$white:    #fff !default;
$gray-100: #f5f5f5 !default;
$gray-200: #e5e5e5 !default;
$gray-300: #d4d4d4 !default;
$gray-400: #a3a3a3 !default;
$gray-500: #737373 !default;
$gray-600: #525252 !default;
$gray-700: #404040 !default;
$gray-800: #262626 !default;
$gray-900: #171717 !default;
$black:    #000 !default;

$blue:    #3b82f6 !default;
$indigo:  #6366f1 !default;
$purple:  #a855f7 !default;
$pink:    #ec4899 !default;
$red:     #ef4444 !default;
$orange:  #f59e0b !default;
$yellow:  #eab308 !default;
$green:   #10b981 !default;
$teal:    #14b8a6 !default;
$cyan:    #06b6d4 !default;

$theme-colors: (
    "default": #e4e7e9,
    "accent": #c40076,
);

$body-bg:                   $white !default;
$body-color:                rgba(0, 0, 0, .87) !default;

$border-color:                $gray-300 !default;
$border-radius:           0.375rem !default;
$border-radius-lg:        0.5rem !default;
$border-radius-sm:        0.25rem !default;

$input-border-color:          $gray-300 !default;

//$card-border-radius: 0.75rem;

$card-reactive-margin: 0.625rem;

$nav-pills-link-active-color:       $body-color !default;
$nav-pills-link-active-bg:          $white !default;
