// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'vue-multiselect';
@import 'state_container';
@import 'nutrient-display';
@import 'food-row';
@import 'bootstrap-button';
@import 'hslide';
@import 'list-menu';
@import 'footer';
@import 'utilities';
@import 'cards';
@import 'type';
@import 'swiper';
@import 'avatar';

.table.table-remove-top-border tbody tr:first-child td {
    border-top: none;
}

.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
}
.spinner {
    width: 3rem;
    height: 3rem;
}

.logo {
    width: 40px;
    height: 40px;
}

.pointer {
    cursor: pointer;
}

.bg-body {
    background-color: $body-bg;
}
