<template>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12">

                <div class="d-flex align-items-center justify-content-between mb-3">
                    <div>
                        <h4 class="m-0">{{ $trans('pages.templates_overview.title') }}</h4>
                    </div>
                    <div>
                        <b-button href="/templates/new"
                                  variant="success"
                                  :title="$trans('components.button.new_template.title')"
                        >
                            {{ $trans('components.button.new_template.text') }}
                        </b-button>
                    </div>
                </div>

                <div class="mb-3">
                    <b-form-input id="search"
                                  type="text"
                                  v-model="searchTerm"
                                  :placeholder="$trans('forms.search_templates.placeholder')"
                                  :aria-label="$trans('forms.search_templates.aria_label')"
                    >
                    </b-form-input>
                </div>

                <spinner-container :loading="isFetchTemplatesRequestActive">
                    <state-container :active="!templatesFiltered.length"
                                     :icon="true"
                                     :title="stateTitle"
                                     :message="stateMessage"
                                     :action-field="stateActionButton"
                    >
                        <div slot="icon">
                            <i class="fas fa-inbox"></i>
                        </div>

                        <div slot="action">
                            <b-button :href="urlToTemplateNew()"
                                      type="button"
                                      variant="success"
                                      :title="$trans('components.button.new_template.title')"
                                      :aria-label="$trans('components.button.new_template.title')"
                            >{{ $trans('components.button.new_template.text_action') }}</b-button>
                        </div>

                        <b-pagination
                            v-model="currentPage"
                            :total-rows="templatesFiltered.length"
                            :per-page="itemsPerPage"
                        ></b-pagination>



                        <default-card v-for="(template, idx) in getTemplatesForPagination"
                             :key="`template_${idx}`"
                             class="mb-card"
                        >
                            <default-card-body class="clearfix">
                                <avatar-container :char="template.name[0]"
                                                  :url="urlToTemplateShow(template.id)"
                                                  class="mr-75 float-left"
                                ></avatar-container>
                                <list-menu>
                                    <a :href="urlToTemplateShow(template.id)"
                                       class="text-body"
                                    >
                                        {{ template.name }}
                                    </a>
                                    <div slot="menu">
                                        <a class="dropdown-item"
                                           :href="urlToTemplateConsume(template.id)"
                                           :title="$trans('components.button.consume.title')"
                                           :aria-label="$trans('components.button.consume.title')"
                                        >{{ $trans('components.button.consume.text') }}</a>
                                        <a class="dropdown-item"
                                           :href="urlToTemplateShow(template.id)"
                                           :title="$trans('components.button.show.title', {action: $trans('glossar.template.word')})"
                                           :aria-label="$trans('components.button.show.title', {action: $trans('glossar.template.word')})"
                                        >{{ $trans('components.button.show.text') }}</a>
                                        <a class="dropdown-item"
                                           :href="urlToTemplateEdit(template.id)"
                                           :title="$trans('components.button.edit.title', {action: $trans('glossar.template.word')})"
                                           :aria-label="$trans('components.button.edit.title', {action: $trans('glossar.template.word')})"
                                        >{{ $trans('components.button.edit.text') }}</a>
                                        <button @click="copyTemplate(template.id)"
                                                class="dropdown-item"
                                                type="button"
                                                :title="$trans('components.button.copy_template.title')"
                                                :aria-label="$trans('components.button.copy_template.title')"
                                        >{{ $trans('components.button.copy_template.text') }}</button>
                                        <button @click="deleteTemplate(template.id)"
                                                class="dropdown-item"
                                                type="button"
                                                :title="$trans('components.button.delete.title', {action: $trans('glossar.template.word')})"
                                                :aria-label="$trans('components.button.delete.title', {action: $trans('glossar.template.word')})"
                                        >{{ $trans('components.button.delete.text') }}</button>
                                    </div>
                                </list-menu>
                            </default-card-body>
                            <default-card-footer>
                                <a @click="urlToTemplateConsume(template.id)"
                                   class="btn btn-action-default btn-sm"
                                   :href="urlToTemplateConsume(template.id)"
                                   :title="$trans('components.button.consume.title')"
                                   :aria-label="$trans('components.button.consume.title')"
                                >
                                    <i class="fas fa-utensils"></i>
                                </a>
                                <a class="btn btn-action-default btn-sm"
                                   :href="urlToTemplateEdit(template.id)"
                                   :title="$trans('components.button.edit.title', {action: $trans('glossar.template.word')})"
                                   :aria-label="$trans('components.button.edit.title', {action: $trans('glossar.template.word')})"
                                >
                                    <i class="far fa-edit"></i>
                                </a>
                            </default-card-footer>
                        </default-card>

                        <b-pagination
                            v-model="currentPage"
                            :total-rows="templatesFiltered.length"
                            :per-page="itemsPerPage"
                        ></b-pagination>

                    </state-container>
                </spinner-container>
            </div>
        </div>
    </div>
</template>

<script>

    /*
     |---------------------------------------------------------------------------
     | Smart component
     |---------------------------------------------------------------------------
     */
    import {sortBy} from 'lodash';

    import templateDeleteActionMixin from '../../mixins/template_delete_action';
    import templateCopyActionMixin from '../../mixins/template_copy_action';
    import linksMixin from '../../mixins/links';

    import Template from '../../models/Template';
    import TemplateAPI from '../../service/templates';
    import spinnerContainer from '../../shared/spinner_container';
    import stateContainer from '../../shared/state_container';
    import listMenu from '../../shared/list-menu';
    import DefaultCard from '../../shared/default_card';
    import DefaultCardBody from '../../shared/default_card_body';
    import DefaultCardFooter from '../../shared/default_card_footer';
    import AvatarContainer from '../../shared/avatar_container';

    import {handle_response_error} from '../../../utilities/response_error';
    import {createNamespacedHelpers} from 'vuex';

    const {
        mapActions: mapTemplatesActions,
        mapGetters: mapTemplatesGetters,
    } = createNamespacedHelpers('entities/templates');

    export default {

        name: 'templates_overview_view',

        /*
         |---------------------------------------------------------------------------
         | Composition
         |---------------------------------------------------------------------------
         */

        mixins: [
            linksMixin,
            templateDeleteActionMixin,
            templateCopyActionMixin,
        ],

        // extends: {},

        /*
         |---------------------------------------------------------------------------
         | Assets
         |---------------------------------------------------------------------------
         */

        // directives: {},

        // filters: {},

        components: {
            spinnerContainer,
            stateContainer,
            listMenu,
            DefaultCard,
            DefaultCardBody,
            DefaultCardFooter,
            AvatarContainer,
        },

        /*
         |---------------------------------------------------------------------------
         | Lifecycle Hooks
         |---------------------------------------------------------------------------
         */

        // created() {},

        mounted() {
            this.fetchTemplates();
        },

        /*
         |---------------------------------------------------------------------------
         | Data
         |---------------------------------------------------------------------------
         */

        // props: {},

        data() {
            return {
                searchTerm: '',
                itemsPerPage: 20,
                currentPage: 1,
            };
        },

        computed: {
            ...mapTemplatesGetters([
                'isFetchTemplatesRequestActive',
            ]),
            templates() {
                return Template.all();
            },
            templatesSorted() {
                return sortBy(this.templates, 'name');
            },
            templatesFiltered() {
                const vm = this;
                const searchTerm = vm.getSearchTerm.toLowerCase();
                return this.templatesSorted.filter((template) => {
                    return template.name.toLowerCase().indexOf(searchTerm) !== -1;
                });
            },
            getTemplatesForPagination() {
                const from = (this.currentPage - 1) * this.itemsPerPage;
                const to = from + this.itemsPerPage;
                return this.templatesFiltered.slice(from, to);
            },
            getSearchTerm() {
                return this.searchTerm;
            },
            stateActionButton() {
                return this.templates.length === 0;
            },
            stateTitle() {
                if (!this.templates.length) {
                    return this.$trans('components.states.no_templates_found.title.db_empty');
                }
                return this.$trans('components.states.no_templates_found.title.nothing_found');
            },
            stateMessage() {
                if (!this.templates.length) {
                    return this.$trans('components.states.no_templates_found.message.db_empty');
                }
                return this.$trans('components.states.no_templates_found.message.nothing_found', {query: this.getSearchTerm});
            },
        },

        // watch: {},

        methods: {
            ...mapTemplatesActions([
                'requestFetchTemplates',
            ]),
            fetchTemplates() {

                const vm = this;
                vm.requestFetchTemplates(true);

                return TemplateAPI.fetchTemplates()
                    .then((response) => {

                        Template.create({data: response.data});

                        vm.requestFetchTemplates(false);
                        return response;
                    })
                    .catch((error) => {

                        handle_response_error(error);

                        vm.requestFetchTemplates(false);
                        return error;
                    });
            },
        },
    };

</script>
