<template>
    <div sticky-container>
        <b-form @submit="updateAction"
                @reset="resetAction"
                @keydown="onKeyDown"
        >
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col col-lg-8">
                        <b-breadcrumb :items="breadcrumbs"
                                      class="p-0 bg-transparent"
                        ></b-breadcrumb>
                        <hr>

                        <h4 class="m-0">{{ $trans('pages.food_edit.title') }}</h4>
                    </div>
                </div>
            </div>


            <div v-sticky
                 on-stick="onStick"
                 :sticky-offset="stickyOffsetNavbar"
                 :class="stickyClass"
            >
                <div class="container">
                    <div class="row justify-content-md-center">
                        <div class="col col-lg-8">
                            <div class="pt-3 pb-1">
                                <b-button type="submit"
                                          variant="success"
                                          :disabled="hasAnyErrors"
                                          :title="$trans('components.button.save.title',{action: $trans('glossar.food.word')})"
                                          :aria-label="$trans('components.button.save.title',{action: $trans('glossar.food.word')})"
                                          class="mb-2"
                                >
                                    <b-spinner v-if="isUpdateFoodLoading" small />
                                    <i v-if="!isUpdateFoodLoading" class="fas fa-save"></i><span class="ml-2" v-if="!isMenuSticked">{{ $trans('components.button.save.text') }}</span>
                                </b-button>
                                <b-button type="reset"
                                          variant="default"
                                          :title="$trans('components.button.reset.title',{action: $trans('others.form')})"
                                          :aria-label="$trans('components.button.reset.title',{action: $trans('others.form')})"
                                          class="mb-2"
                                >{{ $trans('components.button.reset.text') }}</b-button>
                                <b-button :href="urlToFoodShow(foodId)"
                                          variant="default"
                                          :title="$trans('components.button.cancel.title',{action: $trans('pages.food_edit.title')})"
                                          :aria-label="$trans('components.button.cancel.title',{action: $trans('pages.food_edit.title')})"
                                          class="mb-2"
                                >{{ $trans('components.button.cancel.text') }}</b-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col col-lg-8">
                        <default-card class="mb-card">
                            <div class="card-body">
                                <food-meta-form></food-meta-form>
                            </div>
                        </default-card>

                        <default-card class="mb-card">
                            <food-nutrient-form></food-nutrient-form>
                        </default-card>
                    </div>
                </div>
            </div>
        </b-form>
    </div>
</template>

<script>

    /*
    |---------------------------------------------------------------------------
    | Smart component
    |---------------------------------------------------------------------------
    */

    import {
        DEFAULT_REDIRECT_TIME,
        DEFAULT_REDIRECT_TIME_EXTENDED,
        URL_FOOD_SHOW,
        URL_REDIRECT_FOOD_CATALOGUE,
    } from '../../../config';

    import logMixin from '../../mixins/log';
    import foodIdMixin from '../../mixins/food_id';
    import linksMixin from '../../mixins/links';
    import stickyMixin from '../../mixins/sticky';

    import {create_url, redirect_to} from '../../../utilities/url_helpers';

    import FoodMetaForm from './food_meta_form';
    import FoodNutrientForm from './food_nutrient_form';
    import DefaultCard from '../../shared/default_card';

    import {createNamespacedHelpers} from 'vuex';

    const {
        mapActions: mapFoodActions,
        mapGetters: mapFoodGetters,
    } = createNamespacedHelpers('food');

    const {
        mapActions: mapFoodMetaActions,
    } = createNamespacedHelpers('food/foodMeta');

    const {
        mapActions: mapFoodNutrientsActions,
    } = createNamespacedHelpers('food/foodNutrients');

    const {
        mapActions: mapNutrientsActions,
        mapGetters: mapNutrientsGetters,
    } = createNamespacedHelpers('nutrients');

    export default {

        name: "food_edit_view",

        /*
         |---------------------------------------------------------------------------
         | Composition
         |---------------------------------------------------------------------------
         */

        mixins: [
            logMixin,
            foodIdMixin,
            linksMixin,
            stickyMixin,
        ],

        // extends: {},

        /*
         |---------------------------------------------------------------------------
         | Assets
         |---------------------------------------------------------------------------
         */

        // directives: {},

        // filters: {},

        components: {
            FoodMetaForm,
            FoodNutrientForm,
            DefaultCard,
        },

        /*
         |---------------------------------------------------------------------------
         | Lifecycle Hooks
         |---------------------------------------------------------------------------
         */

        // created() {},

        mounted() {
            const vm = this;
            this.fetchNutrients();
            this.fetchNutrientUnits();
            this.fetchFoodForEdit(this.foodId)
                .then((ret) => {
                    if (!(ret instanceof Error)) {
                        if (!ret.data.editable) {
                            window.$alert.warning(this.$trans('messages.not_allowed_to_delete_food'));
                            redirect_to({
                                url: URL_FOOD_SHOW,
                                options: {id: vm.foodId},
                                delay: DEFAULT_REDIRECT_TIME_EXTENDED,
                            });
                        }
                    }
                });
        },

        /*
         |---------------------------------------------------------------------------
         | Data
         |---------------------------------------------------------------------------
         */

        // props: {},

        data() {
            return {
                breadcrumbs: [
                    {text: this.$trans('links.catalogue.text'), href: URL_REDIRECT_FOOD_CATALOGUE},
                    {text: this.$trans('links.food_detail_view.text'), href: create_url(URL_FOOD_SHOW, {id: this.foodId})},
                    {text: this.$trans('pages.food_edit.title'), active: true},
                ],
            };
        },

        computed: {
            ...mapFoodGetters([
                'isFoodLoading',
                'isUpdateFoodLoading',
                'errors',
                'hasAnyErrors',
            ]),
            ...mapNutrientsGetters([
                'areNutrientsLoading',
                'areNutrientUnitsLoading',
            ]),
        },

        // watch: {},

        methods: {
            ...mapFoodActions([
                'fetchFoodForEdit',
                'updateFood',
                'clearRequestError',
            ]),
            ...mapFoodMetaActions([
                'resetFoodMetaForm',
            ]),
            ...mapFoodNutrientsActions([
                'resetNutrientsForm',
            ]),
            ...mapNutrientsActions([
                'fetchNutrients',
                'fetchNutrientUnits',
            ]),
            updateAction(e) {
                e.preventDefault();
                this.updateFood(this.foodId)
                    .then((ret) => {
                        if (!(ret instanceof Error)) {
                            window.$alert.success(ret.data.message);
                            redirect_to({
                                url: URL_FOOD_SHOW,
                                options: {id: ret.data.data.id},
                                delay: DEFAULT_REDIRECT_TIME,
                            });
                        }
                    });
            },
            resetAction(e) {
                e.preventDefault();
                this.clearRequestError();
                this.resetFoodMetaForm();
                this.resetNutrientsForm();
            },
            onKeyDown(e) {
                this.clearRequestError(e.target.name);
            },
        }

    }

</script>

<style>

</style>
