<template>
    <div>
        <div class="card-body">
            <h5 class="mb-3">{{ $trans('glossar.nutrients.word') }}</h5>
            <div class="row">
                <div class="col-12 col-md-4">
                    <b-form-group :label="$trans('forms.food_ref_value.title')"
                                  label-for="food-ref-value"
                                  :invalid-feedback="errors.get('ref_value')"
                    >
                        <b-form-input v-model="ref_value"
                                      :state="errors.state('ref_value')"
                                      :aria-label="$trans('forms.food_ref_value.aria_label')"
                                      name="ref_value"
                                      id="food-ref-value"
                                      required
                        ></b-form-input>
                    </b-form-group>
                </div>
                <div class="col-12 col-md-4">
                    <b-form-group :label="$trans('forms.food_ref_unit.title')"
                                  label-for="food-ref-unit"
                                  :invalid-feedback="errors.get('ref_unit')"
                    >
                        <b-form-select v-model="ref_unit"
                                       :options="settings.ref_unit_values"
                                       :state="errors.state('ref_unit')"
                                       :aria-label="$trans('forms.food_ref_unit.aria_label')"
                                       name="ref_unit"
                                       id="food-ref-unit"
                                       required
                        ></b-form-select>
                    </b-form-group>
                </div>
            </div>

            <b-form-group :invalid-feedback="errors.get('carb_without_fiber')">
                <b-form-checkbox v-model="carb_without_fiber"
                                 :state="errors.state('carb_without_fiber')"
                                 :aria-label="$trans('forms.food_carb_without_fiber.aria_label')"
                                 name="carb_without_fiber"
                                 id="food-carb-without-fiber"
                >
                    {{ $trans('forms.food_carb_without_fiber.title') }}
                </b-form-checkbox>
            </b-form-group>
        </div>

        <div class="list-group list-group-flush border-top border-primary">
            <div v-for="(nutrient, idx) in foodNutrients" :key="idx" class="list-group-item">
                <div class="row">
                    <div class="col-12 col-lg-6 mb-2 mb-lg-0">
                        <div v-if="isMustHaveNutrient(nutrient.key)">
                            {{ customLabel(nutrient.key) }}
                        </div>
                        <div v-if="!isMustHaveNutrient(nutrient.key)">
                            <multiselect v-model="nutrient.key"
                                         @select="clearRequestError(`nutrients.${idx}.key`)"
                                         :options="nutrientsSelection"
                                         :custom-label="customLabel"
                                         :aria-label="$trans('forms.nutrient_name.aria_label')"
                                         :placeholder="$trans('forms.nutrient_name.placeholder')"
                                         :select-label="$trans('forms.nutrient_name.select_label')"
                                         :select-group-label="$trans('forms.nutrient_name.select_group_label')"
                                         :selected-label="$trans('forms.nutrient_name.selected_label')"
                                         :deselect-label="$trans('forms.nutrient_name.deselect_label')"
                                         :deselect-group-label="$trans('forms.nutrient_name.deselect_group_label')"
                            >
                            </multiselect>
                            <p v-if="errors.has(`nutrients.${idx}.key`)" class="text-danger">
                                {{ errors.get(`nutrients.${idx}.key`) }}
                            </p>
                        </div>
                    </div>
                    <div class="col-6 col-lg-2 mb-2 mb-lg-0">
                        <b-form-input v-model="nutrient.value"
                                      :state="errors.state(`nutrients.${idx}.value`)"
                                      :name="`nutrients.${idx}.value`"
                                      :id="`food-nutrients-${idx}-value`"
                                      :aria-label="$trans('forms.nutrient_value.aria_label')"
                                      required
                        ></b-form-input>
                        <p v-if="errors.has(`nutrients.${idx}.value`)" class="text-danger">
                            {{ errors.get(`nutrients.${idx}.value`) }}
                        </p>
                    </div>
                    <div class="col-6 col-lg-2 mb-2 mb-lg-0">
                        <div v-if="isMustHaveNutrient(nutrient.key)">
                            {{ nutrient.unit }}
                        </div>
                        <div v-if="!isMustHaveNutrient(nutrient.key)">
                            <b-form-select v-model="nutrient.unit"
                                           :state="errors.state(`nutrients.${idx}.unit`)"
                                           :options="nutrientUnits"
                                           :name="`nutrients.${idx}.unit`"
                                           :id="`food-nutrients-${idx}-unit`"
                                           :aria-label="$trans('forms.nutrient_name.aria_label')"
                                           :tag-placeholder="$trans('forms.nutrient_name.tag_placeholder')"
                                           :placeholder="$trans('forms.nutrient_name.placeholder')"
                                           :select-label="$trans('forms.nutrient_name.select_label')"
                                           :select-group-label="$trans('forms.nutrient_name.select_group_label')"
                                           :selected-label="$trans('forms.nutrient_name.selected_label')"
                                           :deselect-label="$trans('forms.nutrient_name.deselect_label')"
                                           :deselect-group-label="$trans('forms.nutrient_name.deselect_group_label')"
                                           required
                            ></b-form-select>
                            <p v-if="errors.has(`nutrients.${idx}.unit`)" class="text-danger">
                                {{ errors.get(`nutrients.${idx}.unit`) }}
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-2 text-right">
                        <div v-if="!isMustHaveNutrient(nutrient.key)">
                            <button @click="removeAndReset(nutrient, idx)"
                                    class="btn btn-default"
                                    type="button"
                                    :title="$trans('components.button.remove.title', {action: $trans('glossar.nutrient.word')})"
                                    :aria-label="$trans('components.button.remove.title', {action: $trans('glossar.nutrient.word')})"
                            ><i class="fas fa-minus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-group-item border-top border-primary rounded-bottom">
                <div class="row">
                    <div class="col-12 col-lg-6 mb-2 mb-lg-0">
                        <multiselect v-model="formNutrientKey"
                                     :options="nutrientsSelection"
                                     :custom-label="customLabel"
                                     :aria-label="$trans('forms.nutrient_name.aria_label')"
                                     :tag-placeholder="$trans('forms.nutrient_name.tag_placeholder')"
                                     :placeholder="$trans('forms.nutrient_name.placeholder')"
                                     :select-label="$trans('forms.nutrient_name.select_label')"
                                     :select-group-label="$trans('forms.nutrient_name.select_group_label')"
                                     :selected-label="$trans('forms.nutrient_name.selected_label')"
                                     :deselect-label="$trans('forms.nutrient_name.deselect_label')"
                                     :deselect-group-label="$trans('forms.nutrient_name.deselect_group_label')"
                        >
                        </multiselect>
                    </div>
                    <div class="col-6 col-lg-2 mb-2 mb-lg-0">
                        <b-form-input v-model="formNutrientValue"
                                      :name="`formNutrient.value`"
                                      :aria-label="$trans('forms.nutrient_value.aria_label')"
                        ></b-form-input>
                    </div>
                    <div class="col-6 col-lg-2 mb-2 mb-lg-0">
                        <b-form-select v-model="formNutrientUnit"
                                       :options="nutrientUnits"
                                       :name="`formNutrient.unit`"
                                       :aria-label="$trans('forms.nutrient_unit.aria_label')"
                        ></b-form-select>
                    </div>
                    <div class="col-12 col-lg-2 text-right">
                        <button @click="addNutrient()"
                                class="btn btn-default"
                                type="button"
                                :title="$trans('components.button.add.title', {action: $trans('glossar.nutrient.word')})"
                                :aria-label="$trans('components.button.add.title', {action: $trans('glossar.nutrient.word')})"
                        ><i class="fas fa-plus"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import {FOOD_REF_UNIT_VALUES} from '../../../config';

    import {in_array} from '../../../utilities/array_helper';

    import {createNamespacedHelpers} from 'vuex';

    import {
        mapFoodMetaFields,
        mapNutrientMultiRowFields,
        mapFoodNutrientFields,
    } from '../../store/modules/food/index';

    const {
        mapGetters: mapFoodGetters,
        mapActions: mapFoodActions,
    } = createNamespacedHelpers('food');

    const {
        mapGetters: mapNutrientsGetters,
    } = createNamespacedHelpers('nutrients');

    const {
        mapActions: mapFoodNutrientActions,
    } = createNamespacedHelpers('food/foodNutrients');

    export default {

        name: "food_nutrient_form",

        /*
         |---------------------------------------------------------------------------
         | Composition
         |---------------------------------------------------------------------------
         */

        // mixins: [],

        // extends: {},

        /*
         |---------------------------------------------------------------------------
         | Assets
         |---------------------------------------------------------------------------
         */

        // directives: {},

        // filters: {},

        // components: {},

        /*
         |---------------------------------------------------------------------------
         | Lifecycle Hooks
         |---------------------------------------------------------------------------
         */

        // created() {},

        // mounted() {},

        /*
         |---------------------------------------------------------------------------
         | Data
         |---------------------------------------------------------------------------
         */

        // props: {},

        data() {
            return {
                settings: {
                    ref_unit_values: FOOD_REF_UNIT_VALUES,
                    min_value: 0,
                }
            };
        },

        computed: {
            ...mapFoodMetaFields([
                'rows[0].ref_value',
                'rows[0].ref_unit',
                'rows[0].carb_without_fiber',
            ]),
            ...mapNutrientMultiRowFields({
                foodNutrients: 'rows',
            }),
            ...mapFoodNutrientFields({
                musthaveNutrients: 'musthaveNutrients',
                formNutrientKey: 'formNutrient.key',
                formNutrientValue: 'formNutrient.value',
                formNutrientUnit: 'formNutrient.unit',
            }),
            ...mapFoodGetters([
                'errors',
            ]),
            ...mapNutrientsGetters([
                'nutrientsSelection',
                'nutrientUnits',
            ]),
        },

        // watch: {},

        methods: {
            ...mapFoodActions([
                'clearRequestError',
            ]),
            ...mapFoodNutrientActions([
                'addNutrient',
                'removeNutrient',
            ]),
            isMustHaveNutrient(key) {
                return in_array(key, this.musthaveNutrients);
            },
            removeAndReset(nutrient, idx) {
                this.errors.clear(`nutrients.${idx}.key`);
                this.errors.clear(`nutrients.${idx}.value`);
                this.errors.clear(`nutrients.${idx}.unit`);
                this.removeNutrient(nutrient);
            },
            customLabel(key) {
                if (this.carb_without_fiber && key === 'carbohydrate_by_difference') {
                    return this.$trans(`nutrients.carbohydrate`);
                }
                return this.$trans(`nutrients.${key}`);
            }
        },
    }

</script>
