<template>
    <div>
        <h5 class="mb-3">{{ $trans('components.vue.food_meta_form.title') }}</h5>
        <b-form-group :label="$trans('forms.food_name.title')"
                      label-for="food-name"
                      :invalid-feedback="errors.get('name')"
        >
            <b-form-input v-model="name"
                          :state="errors.state('name')"
                          :aria-label="$trans('forms.food_name.aria_label')"
                          name="name"
                          id="food-name"
                          type="text"
                          required
            ></b-form-input>
        </b-form-group>

        <b-form-group :label="$trans('forms.food_brand.title')"
                      label-for="food-brand"
                      :invalid-feedback="errors.get('brand')"
        >
            <b-form-input v-model="brand"
                          :state="errors.state('brand')"
                          :aria-label="$trans('forms.food_brand.aria_label')"
                          name="brand"
                          id="food-brand"
                          type="text"
            ></b-form-input>
        </b-form-group>

        <b-form-group :label="$trans('forms.food_barcode.title')"
                      label-for="food-barcode"
                      :invalid-feedback="errors.get('barcode')"
        >
            <b-form-input v-model="barcode"
                          :state="errors.state('barcode')"
                          :aria-label="$trans('forms.food_barcode.aria_label')"
                          name="barcode"
                          id="food-barcode"
                          type="text"
            ></b-form-input>
        </b-form-group>

        <b-form-group :label="$trans('forms.food_description.title')"
                      label-for="food-description"
                      :invalid-feedback="errors.get('description')"
        >
            <b-form-textarea v-model="description"
                             :state="errors.state('description')"
                             :aria-label="$trans('forms.food_description.aria_label')"
                             name="description"
                             id="food-description"
                             rows="6"
            ></b-form-textarea>
        </b-form-group>

        <b-form-group :invalid-feedback="errors.get('private')">
            <b-form-checkbox v-model="private"
                             :state="errors.state('private')"
                             :aria-label="$trans('forms.food_private.aria_label')"
                             name="private"
                             id="food-private"
            >
                {{ $trans('forms.food_private.title') }}
            </b-form-checkbox>
        </b-form-group>
    </div>
</template>

<script>


    import {createNamespacedHelpers} from 'vuex';

    import {mapFoodMetaFields} from '../../store/modules/food/index';

    const {
        mapGetters: mapFoodGetters,
    } = createNamespacedHelpers('food');

    export default {

        name: "food_meta_form",

        /*
         |---------------------------------------------------------------------------
         | Composition
         |---------------------------------------------------------------------------
         */

        // mixins: [],

        // extends: {},

        /*
         |---------------------------------------------------------------------------
         | Assets
         |---------------------------------------------------------------------------
         */

        // directives: {},

        // filters: {},

        // components: {},

        /*
         |---------------------------------------------------------------------------
         | Lifecycle Hooks
         |---------------------------------------------------------------------------
         */

        // created() {},

        // mounted() {},

        /*
         |---------------------------------------------------------------------------
         | Data
         |---------------------------------------------------------------------------
         */

        // props: {},

        // data() { return {}; },

        computed: {
            ...mapFoodMetaFields([
                'rows[0].name',
                'rows[0].description',
                'rows[0].brand',
                'rows[0].barcode',
                'rows[0].private',
            ]),
            ...mapFoodGetters([
                'errors',
            ]),
        },

        // watch: {},

        // methods: {},

    }

</script>
