<script setup lang="ts">
import { AxiosError } from "axios";
import BrandedFoodFlag from '@/vue/shared/branded_food_flag.vue';
import { DEFAULT_REDIRECT_TIME } from "@/config";
import ImportedFoodFlag from '@/vue/shared/imported_food_flag.vue';
import { MessageResponse} from "@/response/MessageResponse";
import NutritionFacts from "@/vue/shared/nutrition_facts.vue";
import { computed, onMounted, ref } from "vue";
import { createMacroNutriens } from "@/nutrient/createMacroNutrients";
import { createModal } from "@/utilities/createModal";
import type { CopyTemplateResponse } from "@/response/CopyTemplateResponse";
import { redirect_to} from "@/utilities/url_helpers";
import StateContainer from '@/vue/shared/state_container.vue';
import Sticky from '@/vue/shared/sticky.vue';
import { trans } from "@/utilities/localization";
import { useDisplayHelpers } from "@/vue/composables/useDisplayHelpers";
import { useGlobalAlert} from "@/vue/composables/useGlobalAlert";
import { useLinks } from "@/vue/composables/useLinks";
import { useTemplateHandler } from "@/template/useTemplateHandler";
import XCard from "@/vue/shared/XCard.vue";
import XMacroNutritionTable from "@/vue/shared/XMacroNutritionTable.vue";

const props = defineProps<{
    templateId: string | number
}>();

const isMenuSticking = ref(false);

const links = useLinks();
const gAlert = useGlobalAlert();

const modal = createModal();

const { displayDate } = useDisplayHelpers();

const breadcrumbs = ref([
    { text: trans('links.templates_overview.text'), href: route("templates_overview") },
    { text: trans('links.template_detail_view.text'), active: true }
]);

const templateHandler = useTemplateHandler({ templateId: props.templateId });
templateHandler.on<AxiosError<{ message: string }>>("request-error", (err) => {
    if (!err.response?.data.message) {
        console.log(err);
        return;
    }
    gAlert.error(err.response.data.message);
});
templateHandler.on<MessageResponse>("deleteTemplate::success", (data) => {
    gAlert.success(data.message);
    redirect_to({
        url: route("templates_overview"),
        delay: DEFAULT_REDIRECT_TIME,
    });
});

templateHandler.on<CopyTemplateResponse>("copyTemplate::success", (data) => {
    gAlert.success(data.message);
    redirect_to({
        url: route("template_view", data.data.template_id),
        delay: DEFAULT_REDIRECT_TIME,
    });
});

async function deleteTemplate() {
    if (modal.confirm({ msg: trans("messages.ask_to_delete_template") })) {
        await templateHandler.deleteTemplate({ templateId: props.templateId });
    }
}

const macroNutrients = computed(() => createMacroNutriens({ nutrientsKeyMap: templateHandler.nutrientsKeyMap }));

const nutritionFactsType = ref("simple");

onMounted(async () => {
    await templateHandler.init();
});
</script>

<template>
    <div v-if="templateHandler.isInitialized">
        <div sticky-container>
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col col-lg-8">
                        <b-breadcrumb :items="breadcrumbs"
                                      class="p-0 bg-transparent"
                        ></b-breadcrumb>
                        <hr>
                        <h4>{{ templateHandler.template.name }}</h4>
                        <small>
                            <div><strong>{{ trans('others.created_at') }}:</strong> {{ displayDate(templateHandler.updated_at) }}</div>
                            <div><strong>{{ trans('others.updated_at') }}:</strong> {{ displayDate(templateHandler.created_at) }}</div>
                        </small>
                        <div class="mb-3"></div>
                    </div>
                </div>
            </div>

            <Sticky @stuck="isMenuSticking = $event">
                <div class="container">
                    <div class="row justify-content-md-center">
                        <div class="col col-lg-8">
                            <div class="pt-3 pb-1">
                                <b-button :href="$route('template_consume', templateId)"
                                          variant="success"
                                          :title="trans('components.button.consume.title')"
                                          :aria-label="trans('components.button.consume.title')"
                                          class="mb-2"
                                          :disabled="templateHandler.processing"
                                >
                                    <i class="fas fa-utensils"></i><span class="ml-2" v-if="!isMenuSticking">{{ trans('components.button.consume.text') }}</span>
                                </b-button>
                                <b-button :href="$route('template_new')"
                                          variant="default"
                                          :title="trans('components.button.new_template.title')"
                                          :aria-label="trans('components.button.new_template.title')"
                                          class="mb-2"
                                          :disabled="templateHandler.processing"
                                >
                                    <i class="far fa-file"></i><span class="ml-2" v-if="!isMenuSticking">{{ trans('components.button.new.text') }}</span>
                                </b-button>
                                <b-button :href="$route('template_edit', templateId)"
                                          variant="default"
                                          :title="trans('components.button.edit.title')"
                                          :aria-label="trans('components.button.edit.title')"
                                          class="mb-2"
                                          :disabled="templateHandler.processing"
                                >
                                    <i class="far fa-edit"></i><span class="ml-2" v-if="!isMenuSticking">{{ trans('components.button.edit.text') }}</span>
                                </b-button>
                                <b-button @click="templateHandler.copyTemplate({ templateId: templateId });"
                                          type="button"
                                          variant="default"
                                          class="mb-2"
                                          :title="trans('components.button.copy_template.title')"
                                          :aria-label="trans('components.button.copy_template.title')"
                                          :disabled="templateHandler.processing"
                                >
                                    <b-spinner v-show="templateHandler.requesting.copyTemplate" small></b-spinner>
                                    <i class="far fa-copy"></i><span class="ml-2" v-if="!isMenuSticking">{{ trans('components.button.copy_template.text') }}</span>
                                </b-button>
                                <b-button @click="deleteTemplate()"
                                          type="button"
                                          variant="danger"
                                          class="mb-2"
                                          :title="trans('components.button.delete.title', {action: trans('glossar.template.word')})"
                                          :aria-label="trans('components.button.delete.title', {action: trans('glossar.template.word')})"
                                          :disabled="templateHandler.processing"
                                >
                                    <b-spinner v-show="templateHandler.requesting.deleteTemplate" small></b-spinner>
                                    <i class="fas fa-trash-alt"></i><span class="ml-2" v-if="!isMenuSticking">{{ trans('components.button.delete.text') }}</span>
                                </b-button>
                            </div>
                        </div>
                    </div>
                </div>
            </sticky>

            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col col-lg-8 tw-space-y-4">
                        <XCard class="tw-p-2">
                            <XMacroNutritionTable v-bind="macroNutrients" />
                        </XCard>


                        <XCard v-if="templateHandler.template.description">
                            <div class="card-body">
                                <h5 class="mb-4">{{ trans('pages.template_show.text.description') }}</h5>
                                <div>{{ templateHandler.template.description }}</div>
                            </div>
                        </XCard>


                        <XCard>
                            <div class="card-body">
                                <h5 class="mb-4">{{ trans('pages.template_show.subtitles.ingredients') }}</h5>
                                <state-container :active="!templateHandler.template.foods.length"
                                                 :icon="true"
                                                 :title="trans('components.states.no_ingredients.title')"
                                                 :message="trans('components.states.no_ingredients.message')"
                                                 :action-field="true"
                                >

                                    <div slot="icon">
                                        <i class="fas fa-inbox"></i>
                                    </div>

                                    <div slot="action">
                                        <b-button :href="$route('template_edit', templateId)"
                                                  type="button"
                                                  variant="success"
                                                  :title="trans('components.button.edit_template_to_add_food.title')"
                                                  :aria-label="trans('components.button.edit_template_to_add_food.title')"
                                        >{{ trans('components.button.edit_template_to_add_food.text') }}</b-button>
                                    </div>

                                    <p class="border-bottom mb-1 pb-1">
                                        <strong>{{ trans('pages.template_show.text.portions') }}:</strong> {{ templateHandler.template.portion }}
                                    </p>
                                    <div v-for="(food, idx) in templateHandler.template.foods" :key="idx">
                                        {{ food.value }} {{ food.ref_unit }} -
                                        <imported-food-flag :imported="food.is_imported"></imported-food-flag>
                                        <a v-if="!food.is_deleted"
                                           :href="food.href"
                                        >{{ food.name }}</a>
                                        <s v-else class="text-muted" >{{ food.name }}</s>
                                        <small v-if="food.brand" class="text-muted">
                                            <branded-food-flag :brand="food.brand"></branded-food-flag>
                                            {{ food.brand }}
                                        </small>
                                    </div>
                                </state-container>
                            </div>
                        </XCard>

                        <XCard>
                            <div class="card-body">
                                <h5 class="mb-4">{{ trans('glossar.nutrition_facts.word') }}</h5>
                                <nutrition-facts @update:type="nutritionFactsType = $event"
                                                 :nutrition-facts-type="nutritionFactsType"
                                                 :nutrients="templateHandler.nutrientsKeyMap"
                                                 ref-unit="g"
                                                 :ref-value="100"
                                ></nutrition-facts>
                            </div>
                        </XCard>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
