<script setup lang="ts">

import BrandedFoodFlag from "@/vue/shared/branded_food_flag.vue";
import { computed, ref } from "vue";
import type { FoodSearch } from "@/types/v2/FoodSearch";
import ImportedFoodFlag from "@/vue/shared/imported_food_flag.vue";
import SpinnerContainer from "@/vue/shared/spinner_container.vue";
import StateContainer from "@/vue/shared/state_container.vue";
import type { TemplateFood } from "@/types/v2/TemplateFood";
import { trans } from "@/utilities/localization";
import { useFoodSearchHandler } from "@/food/useFoodSearchHandler";
import { useTabs} from "@/vue/composables/useTabs";

const MIN_CNT_SEARCH_CHARACTERS = 2;

const tabs = {
    get SEARCH_FORM() { return "SEARCH_FORM" },
    get ADD_VALUE() { return "ADD_VALUE" },
};

const emit = defineEmits<{
    (e: "add-food", food: TemplateFood): void
    (e: "hidden"): void
}>();
const props = defineProps<{
    show: boolean;
}>();

const foodSearchHandler = useFoodSearchHandler({ minCntSearchChar: MIN_CNT_SEARCH_CHARACTERS });

const tabHandler = useTabs({ activeTab: tabs.SEARCH_FORM });

const stateContainerIconCssClass = computed(() => {
    return [
        "fas",
        { "fa-inbox": foodSearchHandler.tblCtrl.filter.search_field.length > MIN_CNT_SEARCH_CHARACTERS },
        { "fa-search": foodSearchHandler.tblCtrl.filter.search_field.length <= MIN_CNT_SEARCH_CHARACTERS },
    ];
});
const stateContainerTitle = computed(() => {
    if (foodSearchHandler.tblCtrl.filter.search_field.length > MIN_CNT_SEARCH_CHARACTERS) {
        return trans("components.states.no_foods.title.nothing_found",{ query: foodSearchHandler.tblCtrl.filter.search_field });
    }
    return trans("components.states.no_foods.title.no_query");
});
const stateContainerMessage = computed(() => {
    if (foodSearchHandler.tblCtrl.filter.search_field.length > MIN_CNT_SEARCH_CHARACTERS) {
        return trans("components.states.no_foods.message.nothing_found",{ query: foodSearchHandler.tblCtrl.filter.search_field });
    }
    return trans("components.states.no_foods.message.no_query");
});
function hideModal() {
    foodSearchHandler.reset();
    selectedFood.value = null;
    tabHandler.setActiveTab(tabs.SEARCH_FORM);
    emit("hidden");
}

function createTemplateFood(food: FoodSearch) {
    return {
        ...food,
        value: 0,
        is_deleted: false,
    };
}

const selectedFood = ref<TemplateFood | null>(null);
function selectFood(food: TemplateFood): void {
    selectedFood.value = createTemplateFood(food);
}
function addFood() {
    if (selectedFood.value) {
        emit("add-food", selectedFood.value);
        hideModal();
    }
}
</script>

<template>
<BModal :visible="show"
        :title="$trans('components.modals.search_foods.header')"
        @hidden="hideModal"
>
    <div v-if="tabHandler.isActive(tabs.SEARCH_FORM)">
        <b-form-input v-model.trim="foodSearchHandler.tblCtrl.filter.search_field"
                      id="searchTermField"
                      type="text"
                      :placeholder="$trans('forms.search_foods.placeholder_instant_search')"
        ></b-form-input>

        <SpinnerContainer :loading="foodSearchHandler.processing">
            <StateContainer :active="!foodSearchHandler.foods.length"
                            :icon="true"
                            :title="stateContainerTitle"
                            :message="stateContainerMessage"
            >
                <div slot="icon">
                    <i :class="stateContainerIconCssClass"></i>
                </div>

                <ul class="list-group mt-3">
                    <li v-for="(food, idx) in foodSearchHandler.foods"
                        @click="selectFood(food); tabHandler.setActiveTab(tabs.ADD_VALUE)"
                        :key="idx"
                        class="list-group-item d-flex list-group-item-action pointer"
                    >
                        <div class="flex-grow-1">
                            <div>
                                <ImportedFoodFlag :imported="food.is_imported"></ImportedFoodFlag>
                                {{ food.name }}
                            </div>
                            <div v-if="food.brand">
                                <small class="text-muted">
                                    <BrandedFoodFlag :brand="food.brand"></BrandedFoodFlag>
                                    {{ food.brand }}
                                </small>
                            </div>
                        </div>
                        <div>
                            <i class="fas fa-angle-right"></i>
                        </div>
                    </li>
                </ul>
            </StateContainer>
        </SpinnerContainer>
    </div>
    <div v-else-if="tabHandler.isActive(tabs.ADD_VALUE)">
        <h5 class="mb-1">
            <imported-food-flag :imported="selectedFood?.is_imported"></imported-food-flag>
            {{ selectedFood?.name }}
        </h5>
        <div v-show="selectedFood?.brand" class="mb-0">
                    <span class="text-muted">
                        <branded-food-flag :brand="selectedFood?.brand"></branded-food-flag>
                        {{ selectedFood?.brand }}
                    </span>
        </div>
        <div class="mb-4"></div>

        <b-form-group :label="trans('forms.ingredient_value.title')"
                      label-for="food-value"
        >
            <b-input-group :append="selectedFood.ref_unit">
                <b-form-input v-model="selectedFood.value"
                              :aria-label="trans('forms.ingredient_value.aria_label', { unit: selectedFood.ref_unit })"
                              name="value"
                              id="food-value"
                              type="text"
                              required
                ></b-form-input>
            </b-input-group>
        </b-form-group>
    </div>


    <template v-slot:modal-footer>
        <div class="tw-flex tw-gap-2">
            <b-button v-if="tabHandler.isActive(tabs.ADD_VALUE)"
                      @click="addFood()"
                      variant="success"
                      class="mb-2 mb-sm-0"
                      :title="trans('components.button.add_food_to_template.title')"
                      :aria-label="trans('components.button.add_food_to_template.title')"
            >
                {{ trans('components.button.add_food_to_template.text_action') }}
            </b-button>
            <b-button @click="hideModal"
                      variant="default"
                      class="mb-2 mb-sm-0"
                      :title="trans('components.button.cancel.title', { action: trans('components.modals.search_foods.header') })"
                      :aria-label="trans('components.button.cancel.title', { action: trans('components.modals.search_foods.header') })"
            >{{ $trans('components.button.cancel.text') }}</b-button>
        </div>
    </template>
</BModal>
</template>
