<script setup lang="ts">
import type { Breadcrumb } from "@/types/v2/Breadcrumb";
import { computed, onMounted, ref } from "vue";
import { create_url, redirect_to } from "@/utilities/url_helpers";
import {
    DEFAULT_REDIRECT_TIME,
    URL_TEMPLATE_SHOW,
    URL_TEMPLATES_OVERVIEW
} from "@/config";
import { FormTemplate } from "@/vue/template_edit_view/types/FormTemplate";
import { httpClient } from "@/utilities/httpClient";
import { isAxiosError } from "axios";
import { isFormError } from "@/form/isFormError";
import SearchFoodModal from "@/vue/template_edit_view/components/SearchFoodModal.vue";
import Sticky from '@/vue/shared/sticky.vue';
import TemplateForm from "@/vue/template_edit_view/components/template_form.vue";
import type { TemplateFood } from "@/types/v2/TemplateFood";
import { trans } from "@/utilities/localization";
import { useForm } from "@/form/useForm";
import { useGlobalAlert } from "@/vue/composables/useGlobalAlert";
import { useLinks } from "@/vue/composables/useLinks";
import { useTemplateHandler } from "@/template/useTemplateHandler";

const { templateId } = defineProps<{ templateId: number }>();
const isFormTypeNew = computed(() => templateId === 0);

const links = useLinks();
const gAlert = useGlobalAlert();

const isMenuSticking = ref(false);

const breadcrumbs = computed<Breadcrumb[]>(() => {
    if (isFormTypeNew.value) {
        return [
            { text: trans('links.templates_overview.text'), href: URL_TEMPLATES_OVERVIEW },
            { text: trans('pages.template_new.title'), active: true },
        ];
    }
    return [
        { text: trans('links.templates_overview.text'), href: URL_TEMPLATES_OVERVIEW },
        { text: trans('links.template_detail_view.text'), href: create_url(URL_TEMPLATE_SHOW, { id: templateId }) },
        { text: trans('pages.template_edit.title'), active: true },
    ];
});
const pageTitle = computed(() => isFormTypeNew.value ? trans('pages.template_new.title') : trans('pages.template_edit.title'));



const form = useForm<FormTemplate>({ httpClient , data: {
    name: "",
    description: "",
    portion: 1,
    foods: [],
}});

const templateHandler = useTemplateHandler({ templateId });
function transformForRequest(data: FormTemplate) {
    return {
        name: data.name,
        description: data.description,
        portion: data.portion,
        foods: data.foods.map((food) => ({ value: food?.value, food_id: food?.id })),
    };
}
async function onSubmit(e: Event) {
    if (isFormTypeNew.value) {
        await createTemplate(e);
    } else {
        await updateTemplate(e);
    }
}
async function createTemplate(e: Event) {
    e.preventDefault();

    try {

        const data = await form.transform(transformForRequest).post<{ message: string, id: string }>(route("api.v2.store_template"));

        gAlert.success(data.message);

        form.defaults();

        redirect_to({
            url: route("template_view", { id: data.id }),
            delay: DEFAULT_REDIRECT_TIME,
        });

    } catch (e) {
        if (isAxiosError(e)) {
            if (!isFormError(e)) {
                gAlert.error(e.response?.data.message);
            }
            return;
        }
        console.log(e);
    }
}
async function updateTemplate(e: Event) {
    e.preventDefault();

    try {

        const data = await form.transform(transformForRequest).put<{ message: string, id: string }>(route("api.v2.update_template", templateId));

        gAlert.success(data.message);

        console.log("set form defaults");
        form.defaults();

    } catch (e) {
        if (isAxiosError(e)) {
            if (!isFormError(e)) {
                gAlert.error(e.response?.data.message);
            }
            return;
        }
        console.log(e);
    }
}

onMounted(async () => {
    if (!isFormTypeNew.value) {
        await templateHandler.init();
        form.defaults({
            name: templateHandler.template?.name ?? "",
            description: templateHandler.template?.description ?? "",
            portion: templateHandler.template?.portion ?? 1,
            foods: templateHandler.template?.foods ?? [],
        });
        form.reset();
    }
    // FIXME(ssandriesser): doesn't work on ios
    // https://developer.mozilla.org/en-US/docs/Web/API/Window/beforeunload_event
    window.addEventListener('beforeunload', (e) => {
        if (form.isDirty) {
            e.preventDefault();
            e.returnValue = '';
        }
    });
});

const showModal = ref(false);
function openFoodSearchModal() {
    showModal.value = true;
}
function removeFoodFromTemplate({ food }: { food: TemplateFood }) {
    const idx = form.foods.indexOf(food);
    form.errors.clear(`foods.${idx}.value`);
    form.errors.clear(`foods.${idx}.food_id`);
    form.foods.splice(idx, 1);
}
function addFoodToTemplate(food: TemplateFood) {
    form.foods.push(food);
}
</script>

<template>
    <div sticky-container>

        <SearchFoodModal @hidden="showModal = false"
                         @add-food="addFoodToTemplate($event)"
                         :show="showModal"
        />

        <b-form @submit="onSubmit"
                @keydown="form.errors.clear($event.target.name)"
        >

            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col col-lg-8">

                        <b-breadcrumb :items="breadcrumbs"
                                      class="p-0 bg-transparent"
                        ></b-breadcrumb>
                        <hr>

                        <h4 class="mb-3">{{ pageTitle }}</h4>
                    </div>
                </div>
            </div>


            <Sticky @stuck="isMenuSticking = $event">
                <div class="container">
                    <div class="row justify-content-md-center">
                        <div class="col col-lg-8">
                            <div class="pt-3 pb-1">
                                <b-button type="submit"
                                          variant="success"
                                          :disabled="form.processing || form.errors.any() || !form.isDirty"
                                          :title="trans('components.button.save.title',{ action: trans('glossar.template.word') })"
                                          :aria-label="trans('components.button.save.title',{ action: trans('glossar.template.word') })"
                                          class="mb-2"
                                >
                                    <i v-show="!form.processing" class="fas fa-save"></i>
                                    <b-spinner v-show="form.processing" small></b-spinner>
                                    <span class="ml-2" v-if="!isMenuSticking">{{ trans('components.button.save.text') }}</span>
                                </b-button>
                                <b-button @click="openFoodSearchModal"
                                          type="button"
                                          variant="default"
                                          :title="trans('components.button.add_food_to_template.title')"
                                          :aria-label="trans('components.button.add_food_to_template.title')"
                                          class="mb-2"
                                >
                                    <i class="fas fa-plus"></i><span class="ml-2" v-if="!isMenuSticking">{{ trans('components.button.add_food_to_template.text') }}</span>
                                </b-button>
                                <b-button :href="isFormTypeNew ? links.urlToTemplatesOverview() : templateHandler.template?.href"
                                          variant="default"
                                          :title="trans('components.button.cancel.title',{ action: trans('pages.template_edit.title') })"
                                          :aria-label="trans('components.button.cancel.title',{ action: trans('pages.template_edit.title') })"
                                          class="mb-2"
                                >{{ trans('components.button.cancel.text') }}</b-button>
                            </div>
                        </div>
                    </div>
                </div>
            </Sticky>

            <TemplateForm @add-food="openFoodSearchModal"
                          @remove-food="removeFoodFromTemplate"
                          :form="form"
            />

        </b-form>
    </div>
</template>
