<script setup lang="ts">
import BrandedFoodFlag from '@/vue/shared/branded_food_flag.vue';
import { computed, UnwrapNestedRefs } from "vue";
import { createNutrientsMap } from "@/template/useTemplateHandler";
import { FormTemplate } from "@/vue/template_edit_view/types/FormTemplate";
import ImportedFoodFlag from '@/vue/shared/imported_food_flag.vue';
import type { Nutrient } from "@/types/v2/Nutrient";
import StateContainer from "@/vue/shared/state_container.vue";
import type { TemplateFood } from "@/types/v2/TemplateFood";
import { trans } from "@/utilities/localization"
import { VueForm } from "@/form/useForm";
import XMacroNutritionTable from "@/vue/shared/XMacroNutritionTable.vue";
import XCard from "@/vue/shared/XCard.vue";
import {createMacroNutriens} from "@/nutrient/createMacroNutrients";

defineEmits<{
    (e: 'add-food'): void
    (e: 'remove-food', value: { food: TemplateFood, resetField: string }): void
}>();
const { form } = defineProps<{ form: UnwrapNestedRefs<FormTemplate & VueForm<FormTemplate>> }>();

const nutrientsKeyMap = computed<Record<string, Nutrient>>(() => {
    return createNutrientsMap({ foods: form.foods as TemplateFood[] });
});
const macroNutrients = computed(() => createMacroNutriens({ nutrientsKeyMap: nutrientsKeyMap.value }));

</script>

<template>
    <div>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col col-lg-8 tw-space-y-4">
                    <XCard>
                        <div class="p-4">

                            <h5 class="mb-3">{{ trans('components.vue.template_form.title1') }}</h5>


                            <b-form-group :label="trans('forms.template_name.title')"
                                          :invalid-feedback="form.errors.get(`name`)"
                                          :state="form.errors.state(`name`)"
                                          label-for="template-name"
                            >
                                <b-form-input v-model="form.name"
                                              :aria-label="trans('forms.template_name.aria_label')"
                                              :state="form.errors.state(`name`)"
                                              name="name"
                                              id="template-name"
                                              type="text"
                                              required
                                ></b-form-input>
                            </b-form-group>

                            <b-form-group :label="trans('forms.template_description.title')"
                                          :invalid-feedback="form.errors.get(`description`)"
                                          :state="form.errors.state(`description`)"
                                          label-for="template-name"
                                          class="mb-0"
                            >
                                <b-form-textarea v-model="form.description"
                                                 :aria-label="trans('forms.template_description.aria_label')"
                                                 :state="form.errors.state(`description`)"
                                                 name="description"
                                                 id="template-description"
                                                 rows="5"
                                ></b-form-textarea>
                            </b-form-group>
                        </div>
                    </XCard>


                    <XCard class="tw-p-2">
                        <XMacroNutritionTable v-bind="macroNutrients" />
                    </XCard>


                    <XCard class="mb-card">
                        <div class="card-body">
                            <h5 class="mb-3">{{ trans('components.vue.template_form.title2') }}</h5>

                            <b-form-group :label="trans('forms.template_portion.title')"
                                          :invalid-feedback="form.errors.get(`portion`)"
                                          :state="form.errors.state(`portion`)"
                                          label-for="template-portion"
                                          class="mb-0"
                                          :description="trans('forms.template_portion.help')"
                            >
                                <b-form-input v-model="form.portion"
                                              :aria-label="trans('forms.template_portion.aria_label')"
                                              :state="form.errors.state(`portion`)"
                                              name="portion"
                                              id="template-portion"
                                              type="text"
                                              required
                                ></b-form-input>
                            </b-form-group>

                        </div>
                        <StateContainer :active="!form.foods.length"
                                         :icon="true"
                                         :title="trans('components.states.no_ingredients.title')"
                                         :message="trans('components.states.no_ingredients.message')"
                                         :action-field="true"
                                         class="border-top border-primary"
                        >
                            <div slot="icon">
                                <i class="fas fa-inbox"></i>
                            </div>

                            <div slot="action">
                                <b-button @click="$emit('add-food')"
                                          type="button"
                                          variant="success"
                                          :title="trans('components.button.add_food_to_template.title')"
                                          :aria-label="trans('components.button.add_food_to_template.title')"
                                >{{ trans('components.button.add_food_to_template.text_action') }}</b-button>
                            </div>

                            <div class="list-group list-group-flush">
                                <div v-for="(food, idx) in form.foods"
                                     :key="`food_${idx}`"
                                     class="list-group-item bg-transparent"
                                >
                                    <div class="row">
                                        <div class="col-12 col-lg-8 mb-2 mb-lg-0">
                                            <div>
                                                <ImportedFoodFlag :imported="food.is_imported"></ImportedFoodFlag>
                                                <a v-if="!food.is_deleted"
                                                   :href="food.href"
                                                   target="_blank"
                                                >{{ food.name }}</a>
                                                <s class="text-muted" v-else>{{ food.name }}</s>
                                            </div>
                                            <div v-if="food.brand">
                                                <small class="text-muted">
                                                    <BrandedFoodFlag :brand="food.brand"></BrandedFoodFlag>
                                                    {{ food.brand }}
                                                </small>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4 mb-2 mb-lg-0 d-flex">
                                            <div class="mr-2">
                                                <b-form-group :state="form.errors.state(`foods.${idx}.value`)"
                                                              :invalid-feedback="form.errors.get(`foods.${idx}.value`)"
                                                              class="mb-0"
                                                >
                                                    <b-input-group :append="food.ref_unit">
                                                        <b-form-input v-model="food.value"
                                                                      :name="`foods.${idx}.value`"
                                                                      :state="form.errors.state(`foods.${idx}.value`)"
                                                                      :aria-label="trans('forms.ingredient_value.aria_label', { unit: food.ref_unit })"
                                                        ></b-form-input>
                                                    </b-input-group>
                                                </b-form-group>
                                            </div>
                                            <div>
                                                <button @click="$emit('remove-food', { food, resetField: `food.${idx}.value` })"
                                                        class="btn btn-default"
                                                        type="button"
                                                        :title="trans('components.button.remove.title', {action: trans('glossar.ingredient.word')})"
                                                        :aria-label="trans('components.button.remove.title', {action: trans('glossar.ingredient.word')})"
                                                ><i class="fas fa-minus"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div v-show="form.errors.has(`food.${idx}.value`)"
                                         class="text-danger"
                                    >
                                        {{ form.errors.get(`food.${idx}.value`) }}
                                    </div>
                                </div>
                            </div>

                        </StateContainer>
                    </XCard>
                </div>
            </div>
        </div>
    </div>
</template>
