<template>
    <div>
        <b-modal :id="getModalRef"
                 :title="getTitle"
                 @hidden="onHidden"
                 @show="onShow"
        >
            <h5>{{ consumedFood.food.name }}</h5>

            <div class="border my-4 p-2">
                <hslide class="nutrient-display-container nutrient-display-container--spacer">
                    <nutrient-display :title="$trans('nutrients.energy')"
                                      :val="round(consumedFood.calcEnergy())"
                                      :unit="consumedFood.food.energy.unit"
                    ></nutrient-display>
                    <nutrient-display :title="$trans('nutrients.groups.carb_no_fiber')"
                                      :val="round(consumedFood.calcCarb())"
                                      :unit="consumedFood.food.carb.unit"
                    ></nutrient-display>
                    <nutrient-display :title="$trans('nutrients.groups.fat')"
                                      :val="round(consumedFood.calcFat())"
                                      :unit="consumedFood.food.fat.unit"
                    ></nutrient-display>
                    <nutrient-display :title="$trans('nutrients.groups.protein')"
                                      :val="round(consumedFood.calcProtein())"
                                      :unit="consumedFood.food.protein.unit"
                    ></nutrient-display>
                </hslide>
            </div>


            <b-form @submit.prevent="onSubmit"
                    @reset="onReset"
                    @keydown="clearErrors($event.target.name)"
            >
                <b-form-group :label="$trans('forms.consumed_at.title')"
                              label-for="consumed-at"
                >
                    <flat-pickr :value="consumed_at"
                                @input="updateDate"
                                :config="modalFlatpickr.config"
                                :aria-label="$trans('forms.consumed_at.aria_label')"
                                class="form-control"
                                name="consumed_at"
                                id="consumed-at"
                    ></flat-pickr>
                </b-form-group>

                <b-form-group label-for="groups"
                              :description="$trans('forms.food_groups.description')"
                >
                    <label for="groups">
                        {{ $trans('forms.food_groups.title') }}
                    </label>
                    <multiselect :value="group"
                                 @input="updateGroup"
                                 @tag="addTag"
                                 label="name"
                                 track-by="id"
                                 :taggable="true"
                                 :isLoading="areConsumedFoodGroupsLoading || areConsumedFoodGroupsAtLoading"
                                 :options="optionGroups"
                                 group-values="groups"
                                 group-label="title"
                                 :group-select="false"
                                 id="groups"
                                 :aria-label="$trans('forms.food_groups.aria_label')"
                                 :tag-placeholder="$trans('forms.food_groups.tag_placeholder')"
                                 :placeholder="$trans('forms.food_groups.placeholder')"
                                 :select-label="$trans('forms.food_groups.select_label')"
                                 :select-group-label="$trans('forms.food_groups.select_group_label')"
                                 :selected-label="$trans('forms.food_groups.selected_label')"
                                 :deselect-label="$trans('forms.food_groups.deselect_label')"
                                 :deselect-group-label="$trans('forms.food_groups.deselect_group_label')"
                    >
                    </multiselect>
                </b-form-group>

                <b-form-group :label="$trans('forms.consumed_value.title')"
                              label-for="consumed-value"
                              :invalid-feedback="errors.get('consumed_value')"
                              :state="errors.state('consumed_value')"
                >
                    <b-input-group :append="consumedFood.food.ref_unit">
                        <b-form-input v-model="consumed_value"
                                      name="consumed_value"
                                      :state="errors.state('consumed_value')"
                                      :aria-label="$trans('forms.consumed_value.aria_label')"
                                      id="consumed-value"
                                      type="number"
                                      required
                        ></b-form-input>
                    </b-input-group>

                </b-form-group>
            </b-form>

            <div slot="modal-footer">
                <b-button @click="onSubmit"
                          variant="success"
                          :disabled="isStoreConsumedFoodLoading || areConsumedFoodGroupsLoading || errors.any()"
                          :title="$trans('components.button.consume.title')"
                          :aria-label="$trans('components.button.consume.title')"
                >
                    <b-spinner small v-if="isStoreConsumedFoodLoading" />
                    {{ $trans('components.button.consume.text') }}
                </b-button>
                <b-button @click="hideSelf"
                          variant="default"
                          :disabled="isStoreConsumedFoodLoading || areConsumedFoodGroupsLoading"
                          :title="$trans('components.button.cancel.title', {action: getCancelActionTitle})"
                          :aria-label="$trans('components.button.cancel.title', {action: getCancelActionTitle})"
                >{{ $trans('components.button.cancel.text') }}</b-button>
            </div>
        </b-modal>
    </div>
</template>

<script>

    import {
        FLATPICKR_CONSUMED_DATE_FORMAT,
    } from '../../../config';

    import flatPickr from 'vue-flatpickr-component';

    import modalRefMixin from '../../mixins/modal_ref';
    import logMixin from '../../mixins/log';
    import roundMixin from '../../mixins/round';
    import consumeActionsMixin from '../../mixins/consume_actions';
    import foodGroupMultiselect from '../../mixins/food_group_multiselect';

    import nutrientDisplay from '../../shared/nutrient_display';
    import hslide from '../../shared/hslide';

    import ConsumedFoodsApi from '../../service/consumed_foods';

    import { createNamespacedHelpers } from 'vuex';
    import {
        mapConsumedFoodInsertUpdateFields,
    } from '../../store/modules/consumed_foods/index';
    import {is_error} from '../../../utilities/helpers';

    const {
        mapActions: mapConsumedFoodsFormActions,
        mapState: mapConsumedFoodsFormStates,
        mapGetters: mapConsumedFoodsFormGetters,
    } = createNamespacedHelpers('consumedFoods/consumedFoodsForm');

    export default {

        name: 'consume_food_insert_update_modal',

        /*
         |---------------------------------------------------------------------------
         | Composition
         |---------------------------------------------------------------------------
         */

        mixins: [
            modalRefMixin,
            logMixin,
            roundMixin,
            foodGroupMultiselect,
            consumeActionsMixin,
        ],

        /*
         |---------------------------------------------------------------------------
         | Assets
         |---------------------------------------------------------------------------
         */

        components: {
            nutrientDisplay,
            flatPickr,
            hslide,
        },

        /*
         |---------------------------------------------------------------------------
         | Lifecycle Hooks
         |---------------------------------------------------------------------------
         */

        created() {

            const vm = this;
            const hub = this.$root;
            hub.$on(`action::newConsumedFood`, (food) => {
                vm.setConsumedFoodNew(food);
                vm.showSelf();
            });
            hub.$on(`action::editConsumedFood`, (consumedFood) => {
                vm.setConsumedFoodEdit(consumedFood);
                vm.showSelf();
            });
        },

        // mounted() {},

        /*
         |---------------------------------------------------------------------------
         | Data
         |---------------------------------------------------------------------------
         */

        // props: {},

        data() {
            return {
                modalFlatpickr: {
                    config: {
                        enableTime: true,
                        dateFormat: FLATPICKR_CONSUMED_DATE_FORMAT,
                    },
                },
            };
        },

        computed: {
            ...mapConsumedFoodInsertUpdateFields([
                'consumedFood.consumed_at',
                'consumedFood.consumed_value',
                'consumedFood',
                'storeUpdateModalState',
            ]),

            ...mapConsumedFoodsFormStates([
                'errors',
            ]),

            ...mapConsumedFoodsFormGetters([
                'isStoreConsumedFoodLoading',
                'isEditState',
            ]),

            isUpdateState() {
                return this.storeUpdateModalState !== 'NEW';
            },
            getTitle() {
                if (!this.isUpdateState) {
                    return this.$trans('components.modals.consume_food_insert_update_modal.header.new');
                }
                return this.$trans('components.modals.consume_food_insert_update_modal.header.edit');
            },
            getCancelActionTitle() {
                if (!this.isUpdateState) {
                    return this.$trans('components.modals.consume_food_insert_update_modal.cancel.new');
                }
                return this.$trans('components.modals.consume_food_insert_update_modal.cancel.edit');
            },
        },

        // watch: {},

        methods: {

            ...mapConsumedFoodsFormActions([
                'resetConsumedFoodModal',
                'setConsumedFoodNew',
                'setConsumedFoodEdit',
                'receiveUpdateConsumedFoodSuccess',
                'clearConsumedFoodValidationError',
            ]),

            updateDate(newDate) {
                this.consumed_at = newDate;
                // TODO(ssandriesser): check if date has changed before fetch group; time can be changed
                this.fetchGroupsAt();
            },

            onHidden() {
                // reset form
                this.onReset();
                this.resetConsumedFoodModal();
            },

            onShow() {
                this.fetchGroups();
            },
            onSubmit() {
                if (this.isEditState) {
                    this.updateConsumedFood(this.consumedFood.id, this.consumedFood.exportUpdateData());
                } else {
                    this.storeConsumedFood(this.consumedFood.exportStoreData());
                }
            },

            onReset() {

            },

            updateConsumedFood(id, data) {
                const vm = this;
                const hub = this.$root;

                this.requestStoreConsumedFood(true);

                ConsumedFoodsApi.updateConsumedFood(id, data)
                    .then(({ data }) => {
                        vm.receiveUpdateConsumedFoodSuccess(data);
                        vm.hideSelf();
                        hub.$emit(`fetch::consumed::foods`);
                    })
                    .catch((error) => {
                        vm.receiveStoreConsumedFoodError(error);
                    });
            },

            storeConsumedFood(data) {
                const vm = this;
                this.storeConsumedFoodAction(data)
                    .then((data) => {
                        if (!is_error(data)) {
                            vm.hideSelf();
                        }
                    })
                ;
            },

            clearErrors(name) {
                this.clearConsumedFoodValidationError(name);
            },
        }
    };
</script>
