<template>
    <div>
        <search-food-modal @submit="addTemplateIngredient(templateId, $event)"
                           state="template"
                           modal-ref="searchFoodModalId"
        ></search-food-modal>

        <div sticky-container>
            <b-form @submit="onSubmit"
                    @keydown="form.errors.clear($event.target.name)"
            >

                <div class="container">
                    <div class="row justify-content-md-center">
                        <div class="col col-lg-8">

                            <b-breadcrumb :items="breadcrumbs"
                                          class="p-0 bg-transparent"
                            ></b-breadcrumb>
                            <hr>

                            <h4 class="mb-3">{{ $trans('pages.template_consume.title', {name: template.name}) }}</h4>
                        </div>
                    </div>
                </div>

                <div v-sticky
                     on-stick="onStick"
                     :sticky-offset="stickyOffsetNavbar"
                     :class="stickyClass"
                >
                    <div class="container">
                        <div class="row justify-content-md-center">
                            <div class="col col-lg-8">
                                <div class="pt-3 pb-1">
                                    <b-button type="submit"
                                              variant="success"
                                              :disabled="isActionConsumeTemplateRequesting || form.errors.any() || !template.ingredients.length"
                                              :title="$trans('components.button.consume.title')"
                                              :aria-label="$trans('components.button.consume.title')"
                                              class="mb-2"
                                    >
                                        <i v-show="!isActionConsumeTemplateRequesting" class="fas fa-utensils"></i>
                                        <b-spinner v-show="isActionConsumeTemplateRequesting" small></b-spinner>
                                        <span class="ml-2" v-if="!isMenuSticked">{{ $trans('components.button.consume.text') }}</span>
                                    </b-button>
                                    <b-button @click="addFoodToTemplate"
                                              type="button"
                                              variant="default"
                                              :title="$trans('components.button.add_food_to_template.title')"
                                              :aria-label="$trans('components.button.add_food_to_template.title')"
                                              class="mb-2"
                                    >
                                        <i class="fas fa-plus"></i><span class="ml-2" v-if="!isMenuSticked">{{ $trans('components.button.add_food_to_template.text') }}</span>
                                    </b-button>
                                    <b-button :href="urlToTemplateShow(template.id)"
                                              variant="default"
                                              :title="$trans('components.button.cancel.title',{action: $trans('pages.template_edit.title')})"
                                              :aria-label="$trans('components.button.cancel.title',{action: $trans('pages.template_edit.title')})"
                                              class="mb-2"
                                    >{{ $trans('components.button.cancel.text') }}</b-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">

                    <div v-if="isFetchTemplateRequesting" class="row">
                        <div class="col">
                            <div class="p-5 text-center">
                                <b-spinner></b-spinner>
                            </div>
                        </div>
                    </div>

                    <div v-if="!isFetchTemplateRequesting" class="row justify-content-md-center">
                        <div class="col col-lg-8">
                            <XCard class="mb-card">
                                <div class="card-body">

                                    <b-form-group :label="$trans('forms.template_group.title')"
                                                  :invalid-feedback="form.errors.get(`group_name`)"
                                                  :state="form.errors.state(`group_name`)"
                                                  label-for="group-name"
                                                  :description="$trans('forms.template_group.help')"
                                    >
                                        <b-form-input v-model="form.groupName.value"
                                                      :placeholder="template.name"
                                                      :aria-label="$trans('forms.template_group.aria_label')"
                                                      :state="form.errors.state(`group_name`)"
                                                      name="group_name"
                                                      id="group-name"
                                                      type="text"
                                        ></b-form-input>
                                    </b-form-group>

                                    <b-form-group :label="$trans('forms.template_portion_consume.help')"
                                                  :invalid-feedback="form.errors.get(`portion`)"
                                                  :state="form.errors.state(`portion`)"
                                                  label-for="template-portion"
                                                  :description="$trans('pages.template_consume.text.default_portion')+': '+getOriginalData.portion"
                                    >
                                        <b-form-input :value="form.portion.value"
                                                      @input="updatePortion"
                                                      :aria-label="$trans('forms.template_portion_consume.aria_label')"
                                                      :state="form.errors.state(`portion`)"
                                                      name="portion"
                                                      id="template-portion"
                                                      type="text"
                                                      required
                                        ></b-form-input>
                                    </b-form-group>

                                    <b-form-group :label="$trans('forms.consumed_at.title')"
                                                  label-for="consumed-at"
                                                  class="mb-0"
                                    >
                                        <flat-pickr v-model="consumedAt"
                                                    :config="sectionFlatpickr.config"
                                                    :aria-label="$trans('forms.consumed_at.aria_label')"
                                                    class="form-control"
                                                    name="consumed_at"
                                                    id="consumed-at"
                                        ></flat-pickr>
                                    </b-form-group>

                                </div>

                                <div class="border-top border-primary">
                                    <state-container :active="!template.ingredients.length"
                                                     :icon="true"
                                                     :title="$trans('components.states.no_ingredients.title')"
                                                     :message="$trans('components.states.no_ingredients.message')"
                                    >
                                        <div slot="icon">
                                            <i class="fas fa-inbox"></i>
                                        </div>

                                        <div class="list-group list-group-flush">
                                            <ingredient-row v-for="(ingredient, idx) in template.ingredients"
                                                            :key="idx"
                                                            :idx="idx"
                                                            :ingredient="ingredient"
                                                            :form-error="form.errors"
                                                            class="bg-transparent"
                                            ></ingredient-row>
                                        </div>

                                    </state-container>
                                </div>
                            </XCard>
                        </div>
                    </div>
                </div>

            </b-form>
        </div>
    </div>
</template>

<script>

    /*
    |---------------------------------------------------------------------------
    | Smart component
    |---------------------------------------------------------------------------
    */

    import {
        MOMENT_JS_CONSUMED_DATE_FORMAT,
        FLATPICKR_DEFAULT_CONFIG,
        FLATPICKR_CONSUMED_DATE_FORMAT,
        DEFAULT_REDIRECT_TIME,
        URL_TEMPLATES_OVERVIEW, URL_TEMPLATE_SHOW, DEFAULT_DELAY_REQUEST_ACTIONS,
    } from '../../../config';

    import flatpickr from 'flatpickr';
    import FlatPickr from 'vue-flatpickr-component';

    import templateMixin from '../../mixins/template';
    import templateActionsMixin from '../../mixins/template_actions';
    import templateModelActionsMixin from '../../mixins/template_model_actions';
    import ingredientModelActionsMixin from '../../mixins/ingredient_model_actions';
    import linksMixin from '../../mixins/links';
    import roundMixin from '../../mixins/round';
    import stickyMixin from '../../mixins/sticky';

    import IngredientRow from '../../shared/ingredient_row';
    import StateContainer from '../../shared/state_container';
    import SearchFoodModal from '../../shared/search_food_modal';
    import XCard from "@/vue/shared/XCard.vue";

    import Form from '../../../utilities/form';

    import {handle_response_error} from '../../../utilities/response_error';
    import {is_validation_error} from '../../../utilities/request_response_helper';
    import {create_url} from '../../../utilities/url_helpers';
    import {minDelay} from '../../../utilities/helpers';

    flatpickr.setDefaults(FLATPICKR_DEFAULT_CONFIG);

    export default {

        name: "template_consume_view",

        /*
         |---------------------------------------------------------------------------
         | Composition
         |---------------------------------------------------------------------------
         */

        mixins: [
            templateMixin,
            templateActionsMixin,
            templateModelActionsMixin,
            ingredientModelActionsMixin,
            linksMixin,
            roundMixin,
            stickyMixin,
        ],

        // extends: {},

        /*
         |---------------------------------------------------------------------------
         | Assets
         |---------------------------------------------------------------------------
         */

        // directives: {},

        // filters: {},

        components: {
            IngredientRow,
            FlatPickr,
            StateContainer,
            XCard,
            SearchFoodModal,
        },

        /*
         |---------------------------------------------------------------------------
         | Lifecycle Hooks
         |---------------------------------------------------------------------------
         */

        // created() {},

        mounted() {
            this.fetchTemplate(this.templateId).then(() => {
                this.updatePortion(this.form.portion.value);
            });
        },

        /*
         |---------------------------------------------------------------------------
         | Data
         |---------------------------------------------------------------------------
         */

        // props: {},

        data() {

            const form = new Form({
                groupName: {
                    value: '',
                },
                portion: {
                    value: 1,
                    default: 1,
                },
            });

            let now = this.$moment().format(MOMENT_JS_CONSUMED_DATE_FORMAT);

            return {
                breadcrumbs: [
                    {text: this.$trans('links.templates_overview.text'), href: URL_TEMPLATES_OVERVIEW},
                    {text: this.$trans('links.template_detail_view.text'), href: create_url(URL_TEMPLATE_SHOW, {id: this.templateId})},
                    {text: this.$trans('pages.template_consume.breadcrumb'), active: true},
                ],
                form,
                sectionFlatpickr: {
                    config: {
                        enableTime: true,
                        dateFormat: FLATPICKR_CONSUMED_DATE_FORMAT,
                    },
                },
                consumedAt: now,
                request: {
                    actionConsumeTemplate: false,
                },
            };
        },

        computed: {
            isActionConsumeTemplateRequesting() {
                return this.request.actionConsumeTemplate;
            },
            originalIngredients() {
                let ingredients = {};
                this.originalData.ingredients.forEach((ingredient) => {
                    ingredients[ingredient.id] = ingredient;
                });
                return ingredients;
            },
        },

        // watch: {},

        methods: {
            onSubmit(e) {
                e.preventDefault();
                const vm = this;
                const data = {
                    group_name: null,
                    consumed_at: this.consumedAt,
                    ingredients: this.template.getConsumeData(),
                };

                if (this.form.groupName.value) {
                    data.group_name = this.form.groupName.value;
                }

                const startAction = Date.now();
                vm.request.actionConsumeTemplate = true;
                this.actionConsumeTemplate(this.templateId, data)
                    .then(({data}) => {
                        minDelay(startAction, DEFAULT_DELAY_REQUEST_ACTIONS, () => {
                            window.$alert.success(data.message);
                            redirect_to({
                                url: URL_TEMPLATES_OVERVIEW,
                                delay: DEFAULT_REDIRECT_TIME,
                            });
                        });
                    })
                    .catch((error) => {
                        minDelay(startAction, DEFAULT_DELAY_REQUEST_ACTIONS, () => {
                            const response = error.response;
                            if (is_validation_error(response)) {
                                vm.form.errors.record(response.data.errors);
                            } else {
                                handle_response_error(data);
                            }
                        });
                    })
                    .then(() => {
                        minDelay(startAction, DEFAULT_DELAY_REQUEST_ACTIONS, () => {
                            vm.request.actionConsumeTemplate = false;
                        });
                    })
                ;
            },
            updatePortion(portion) {

                if (isNaN(portion)) {
                    return;
                }

                this.form.portion.value = portion;
                this.form.errors.clear();

                const portionFactor = portion / this.originalData.portion;

                const vm = this;
                this.template.ingredients.forEach((ingredient) => {
                    const originalIngredient = vm.originalIngredients[ingredient.id];
                    if (typeof originalIngredient === 'undefined') {
                        return;
                    }
                    const val = vm.round(originalIngredient.value * portionFactor, 0);
                    vm.updateIngredientModel(ingredient.id, 'value', val);
                });
            },
        },
    }

</script>
