<template>
    <div sticky-container>

        <consume-food-insert-update-modal modal-ref="consumeFoodInsertUpdateModalId"></consume-food-insert-update-modal>

        <copy-consumed-foods-group-modal modal-ref="copyConsumedFoodsGroupModalId"></copy-consumed-foods-group-modal>

        <search-food-modal @submit="actionConsumeFood"
                           state="consumed_food"
                           modal-ref="searchFoodsModalId"
                           :consumed-at="currentDate"
                           :external-requesting="isStoreConsumedFoodActionRequesting"
        ></search-food-modal>

        <create-template-from-food-grouping-modal modal-ref="createTemplateFromFoodGroupingModalId"></create-template-from-food-grouping-modal>

        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="h3">{{ $trans('pages.consume_overview.title') }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-6 col-md-4">
                    <b-form-group id="labelDateFrom"
                                  :label="$trans('forms.date_from.title')"
                                  label-for="dateFrom"
                    >
                        <flat-pickr v-model="flatpickr.from"
                                    :config="flatpickr.config"
                                    :aria-label="$trans('forms.date_from.aria_label')"
                                    class="form-control"
                                    name="date_from"
                                    id="dateFrom"
                        ></flat-pickr>
                    </b-form-group>
                </div>
                <div class="col-12 col-sm-6 d-sm-flex align-items-sm-end">
                    <div class="form-group">
                        <b-button @click="loadDate()"
                                  variant="default"
                                  :block="true"
                                  :title="$trans('components.button.go_to_date.title')"
                                  :aria-label="$trans('components.button.go_to_date.title')"
                        >{{ $trans('components.button.go_to_date.text') }}
                        </b-button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 d-sm-none">
                    <div class="form-group">
                        <b-button @click="loadToday()"
                                  variant="default"
                                  :block="true"
                                  :title="$trans('components.button.today.title')"
                                  :aria-label="$trans('components.button.today.title')"
                        ><i class="fas fa-calendar-alt mr-2"></i>{{ $trans('components.button.today.text') }}
                        </b-button>
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-between justify-content-sm-start">
                    <div>
                        <b-button @click="prevDate()"
                                  variant="default"
                                  :block="true"
                                  :title="$trans('components.button.prev_day.title')"
                                  :aria-label="$trans('components.button.prev_day.title')"
                        ><i class="fas fa-chevron-left mr-2"></i>{{ $trans('components.button.prev_day.text') }}
                        </b-button>
                    </div>
                    <div class="ml-2 d-none d-sm-block">
                        <b-button @click="loadToday()"
                                  variant="default"
                                  :block="true"
                                  :title="$trans('components.button.today.title')"
                                  :aria-label="$trans('components.button.today.title')"
                        ><i class="fas fa-calendar-alt mr-2"></i>{{ $trans('components.button.today.text') }}
                        </b-button>
                    </div>
                    <div class="ml-2">
                        <b-button @click="nextDate()"
                                  variant="default"
                                  :block="true"
                                  :title="$trans('components.button.next_day.title')"
                                  :aria-label="$trans('components.button.next_day.title')"
                        >{{ $trans('components.button.next_day.text') }}<i class="fas fa-chevron-right ml-2"></i>
                        </b-button>
                    </div>
                </div>
            </div>
        </div>


        <div v-sticky
             on-stick="onStick"
             :sticky-offset="stickyOffsetNavbar"
             :class="stickyClass"
        >
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="pt-3 pb-1">
                            <b-button v-if="hasConsumedFoods"
                                      @click="consumeFood"
                                      type="button"
                                      variant="success"
                                      class="mb-2"
                                      :title="$trans('components.button.consume.title')"
                                      :aria-label="$trans('components.button.consume.title')"
                            >
                                <i class="fas fa-plus"></i><span class="ml-2" v-if="!isMenuSticked">{{ $trans('components.button.consume.text2') }}</span>
                            </b-button>

                            <b-button-group v-if="isMenuSticked" class="mb-2">
                                <b-button @click="prevDate()"
                                          variant="default"
                                          :title="$trans('components.button.prev_day.title')"
                                          :aria-label="$trans('components.button.prev_day.title')"
                                ><i class="fas fa-chevron-left"></i></b-button>
                                <b-button @click="loadToday()"
                                          variant="default"
                                          :title="$trans('components.button.today.title')"
                                          :aria-label="$trans('components.button.today.title')"
                                ><i class="fas fa-calendar-alt"></i></b-button>
                                <b-button @click="nextDate()"
                                          variant="default"
                                          :title="$trans('components.button.next_day.title')"
                                          :aria-label="$trans('components.button.next_day.title')"
                                ><i class="fas fa-chevron-right"></i></b-button>
                            </b-button-group>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <default-card v-if="hasConsumedFoods" class="mb-card">
                <div class="card-body pb-0 p-md-3">
                    <div class="row justify-content-center">
                        <div class="pb-3 pb-md-0 col-8 col-md-4 col-lg-3">
                            <pie-chart :chart-data="chart.data"
                                       :options="chart.options"
                            ></pie-chart>
                        </div>
                        <div class="col-12 col-md-8 col-lg-9">
                            <div class="row">
                                <div class="border-top border-md-top-0 p-2 p-md-0 col-12 col-md-6 col-lg-3 text-center">
                                    <nutrient-display :title="$trans('nutrients.energy')"
                                                      :val="round(getSumValues.energy)"
                                                      unit="kcal"
                                                      size="lg"
                                    ></nutrient-display>
                                </div>
                                <div class="border-top border-md-top-0 p-2 p-md-0 col-12 col-md-6 col-lg-3 text-center">
                                    <nutrient-display :title="$trans('nutrients.groups.carb_no_fiber')"
                                                      :val="round(getSumValues.carb)"
                                                      unit="g"
                                                      size="lg"
                                    ></nutrient-display>
                                </div>
                                <div class="border-top border-md-top-0 p-2 p-md-0 col-12 col-md-6 col-lg-3 text-center">
                                    <nutrient-display :title="$trans('nutrients.groups.fat')"
                                                      :val="round(getSumValues.fat)"
                                                      unit="g"
                                                      size="lg"
                                    ></nutrient-display>
                                </div>
                                <div class="border-top border-md-top-0 p-2 p-md-0 col-12 col-md-6 col-lg-3 text-center">
                                    <nutrient-display :title="$trans('nutrients.groups.protein')"
                                                      :val="round(getSumValues.protein)"
                                                      unit="g"
                                                      size="lg"
                                    ></nutrient-display>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </default-card>

            <spinner-container :loading="areConsumedFoodsLoading">
                <state-container :active="!hasConsumedFoods"
                                 :icon="true"
                                 :action-field="true"
                                 :title="$trans('components.states.nothing_consumed.title')"
                                 :message="$trans('components.states.nothing_consumed.message')"
                >
                    <div slot="icon">
                        <i class="fas fa-inbox"></i>
                    </div>

                    <div slot="action">
                        <div>
                            <b-button @click="consumeFood"
                                      type="button"
                                      variant="success"
                                      class="mb-2"
                                      :title="$trans('components.button.consume.title')"
                                      :aria-label="$trans('components.button.consume.title')"
                            >
                                {{ $trans('components.button.consume.text2') }}
                            </b-button>
                        </div>
                        <div>
                            <b-button :href="urlToTemplatesOverview()"
                                      type="button"
                                      variant="default"
                                      class="mb-2"
                                      :title="$trans('components.button.consume_from_template.title')"
                                      :aria-label="$trans('components.button.consume_from_template.title')"
                            >
                                {{ $trans('components.button.consume_from_template.text') }}
                            </b-button>
                        </div>
                    </div>

                    <default-card v-if="getConsumedFoodGroup(consumedFoodGroupKey).consumedFoods.length"
                         v-for="(consumedFoodGroupKey, keyIdx) in consumedFoodGroupKeys"
                         :key="`consumedFoodGroup_${keyIdx}`"
                         class="mb-card"
                    >
                        <div class="card-header rounded-card-top">
                            <list-menu>
                                <h5>
                                    {{ getConsumedFoodGroup(consumedFoodGroupKey).name }}
                                </h5>

                                <div slot="menu">
                                    <button @click="onCopyGroup(getConsumedFoodGroup(consumedFoodGroupKey))"
                                            class="dropdown-item"
                                            type="button"
                                            :title="$trans('components.button.copy_group.title')"
                                            :aria-label="$trans('components.button.copy_group.title')"
                                    >{{ $trans('components.button.copy_group.text') }}</button>
                                    <button @click="consumeFood(getConsumedFoodGroup(consumedFoodGroupKey))"
                                            class="dropdown-item"
                                            type="button"
                                            aria-disabled="true"
                                            :title="$trans('components.button.consume.title')"
                                            :aria-label="$trans('components.button.consume.title')"
                                    >{{ $trans('components.button.consume.text2') }}</button>
                                    <button @click="actionCreateTemplateFromGrouping(getConsumedFoodGroup(consumedFoodGroupKey), currentDate)"
                                            class="dropdown-item"
                                            type="button"
                                            :title="$trans('components.button.create_template.title')"
                                            :aria-label="$trans('components.button.create_template.title')"
                                    >{{ $trans('components.button.create_template.text') }}</button>
                                    <button @click="actionDeleteFoodGrouping(getConsumedFoodGroup(consumedFoodGroupKey), currentDate)"
                                            class="dropdown-item"
                                            type="button"
                                            :title="$trans('components.button.delete.title', {action: $trans('glossar.group.word')})"
                                            :aria-label="$trans('components.button.delete.title', {action: $trans('glossar.group.word')})"
                                    >{{ $trans('components.button.delete.text') }}</button>
                                </div>
                            </list-menu>

                            <hslide :scroll-hint="false"
                                    class="nutrient-display-container nutrient-display-container--spacer"
                            >
                                <nutrient-display :title="$trans('nutrients.energy')"
                                                  :val="round(getConsumedFoodGroup(consumedFoodGroupKey).summary.energy)"
                                                  unit="kcal"
                                ></nutrient-display>
                                <nutrient-display :title="$trans('nutrients.groups.carb_no_fiber')"
                                                  :val="round(getConsumedFoodGroup(consumedFoodGroupKey).summary.carb)"
                                                  unit="g"
                                ></nutrient-display>
                                <nutrient-display :title="$trans('nutrients.groups.fat')"
                                                  :val="round(getConsumedFoodGroup(consumedFoodGroupKey).summary.fat)"
                                                  unit="g"
                                ></nutrient-display>
                                <nutrient-display :title="$trans('nutrients.groups.protein')"
                                                  :val="round(getConsumedFoodGroup(consumedFoodGroupKey).summary.protein)"
                                                  unit="g"
                                ></nutrient-display>
                            </hslide>
                        </div>
                        <ul class="list-group list-group-flush rounded-card-bottom">
                            <li v-for="(consumedFood, idx) in getConsumedFoodGroup(consumedFoodGroupKey).consumedFoods"
                                :key="`consumedFood_${keyIdx}_${idx}`"
                                class="list-group-item"
                            >
                                <food-row :food="consumedFood.food"
                                          :ref-value="consumedFood.consumed_value"
                                          :init-visibility="false"
                                          :amount-visible="true"
                                >
                                    <div slot="menu">
                                        <button class="dropdown-item"
                                                type="button"
                                                @click="onEdit(consumedFood)"
                                                :title="$trans('components.button.edit.title', {action: $trans('glossar.consumed_food.word')})"
                                                :aria-label="$trans('components.button.edit.title', {action: $trans('glossar.consumed_food.word')})"
                                        >{{ $trans('components.button.edit.text') }}</button>
                                        <button class="dropdown-item"
                                                type="button"
                                                @click="onDelete(consumedFood)"
                                                :title="$trans('components.button.remove.title', {action: $trans('glossar.consumed_food.word')})"
                                                :aria-label="$trans('components.button.remove.title', {action: $trans('glossar.consumed_food.word')})"
                                        >{{ $trans('components.button.remove.text') }}</button>
                                    </div>
                                </food-row>
                            </li>
                        </ul>
                    </default-card>

                </state-container>
            </spinner-container>
        </div>

    </div>
</template>

<script>

    /*
     |---------------------------------------------------------------------------
     | Smart component
     |---------------------------------------------------------------------------
     */

    import {
        COLOR_CARB, COLOR_FAT, COLOR_PROTEIN,
        FLATPICKR_CONSUMED_DATE_OVERVIEW_FORMAT,
        MOMENT_JS_CONSUMED_DATE_OVERVIEW_FORMAT,
        NO_GROUP_KEY,
        URL_CONSUMED_FOODS_SHOW,
    } from '../../../config';

    import flatPickr from 'vue-flatpickr-component';
    import pieChart from '../../shared/pie_chart';

    import logMixin from '../../mixins/log';
    import roundMixin from '../../mixins/round';
    import linksMixin from '../../mixins/links';
    import stickyMixin from '../../mixins/sticky';
    import consumeActionsMixin from '../../mixins/consume_actions';

    import {redirect_to} from '../../../utilities/url_helpers';
    import {has, is_error} from '../../../utilities/helpers';
    import spinnerContainer from '../../shared/spinner_container';
    import stateContainer from '../../shared/state_container';
    import nutrientDisplay from '../../shared/nutrient_display';
    import foodRow from '../../shared/food_row';
    import hslide from '../../shared/hslide';
    import listMenu from '../../shared/list-menu';
    import defaultCard from '../../shared/default_card';

    import ConsumedFoodApi from '../../service/consumed_foods';

    import consumeFoodInsertUpdateModal
        from '../../shared/consume_food_insert_update_modal/consume_food_insert_update_modal';
    import CopyConsumedFoodsGroupModal from './copy_consumed_foods_group_modal';
    import CreateTemplateFromFoodGroupingModal from './create_template_from_food_grouping_modal';
    import SearchFoodModal from '../../shared/search_food_modal';

    import {createNamespacedHelpers, mapActions, mapGetters, mapState} from 'vuex';
    import {handle_response_error} from '../../../utilities/response_error';

    const {
        mapActions: mapConsumedFoodsFormActions,
        mapGetters: mapConsumedFoodsFormGetters,
    } = createNamespacedHelpers('consumedFoods/consumedFoodsForm');

    export default {

        name: 'consume_overview_view',

        /*
         |---------------------------------------------------------------------------
         | Composition
         |---------------------------------------------------------------------------
         */

        mixins: [
            logMixin,
            roundMixin,
            linksMixin,
            stickyMixin,
            consumeActionsMixin,
        ],

        /*
         |---------------------------------------------------------------------------
         | Assets
         |---------------------------------------------------------------------------
         */

        components: {
            flatPickr,
            nutrientDisplay,
            pieChart,
            consumeFoodInsertUpdateModal,
            spinnerContainer,
            stateContainer,
            foodRow,
            hslide,
            listMenu,
            CopyConsumedFoodsGroupModal,
            SearchFoodModal,
            CreateTemplateFromFoodGroupingModal,
            defaultCard,
        },

        /*
         |---------------------------------------------------------------------------
         | Lifecycle Hooks
         |---------------------------------------------------------------------------
         */

        created() {

            const vm = this;
            const hub = this.$root;
            hub.$on(`fetch::consumed::foods`, () => {
                vm.loadConsumedfoods(true);
            });
        },

        mounted() {
            this.flatpickr.from = this.from;
            this.flatpickr.to = this.to;
            this.loadConsumedfoods();
            this.chart.data = this.fillChart();
        },

        /*
         |---------------------------------------------------------------------------
         | Data
         |---------------------------------------------------------------------------
         */

        props: {
            from: {
                type: String,
                required: true,
            },
            to: {
                type: String,
                required: true,
            },
        },

        data() {
            return {
                flatpickr: {
                    from: null,
                    to: null,
                    config: {
                        altInput: true,
                        dateFormat: FLATPICKR_CONSUMED_DATE_OVERVIEW_FORMAT,
                        enableTime: false,
                    },
                },
                chart: {
                    type: 'doughnut',
                    data: null,
                    options: {
                        legend: {
                            position: 'top',
                        },
                        layout: {
                            padding: 0,
                        },
                        cutoutPercentage: 80,
                        tooltips: {
                            callbacks: {
                                label(tooltipItem, data) {
                                    const dataIdx = tooltipItem.index;
                                    let label = data.labels[dataIdx] || '';
                                    if (label) {
                                        label += ': ';
                                    }
                                    label += (data.datasets[tooltipItem.datasetIndex].data[dataIdx] + ' kcal');
                                    return label;
                                },
                            },
                        },
                    },
                },
                request: {
                    storeConsumedFoodAction: false,
                }
            };
        },

        computed: {

            ...mapGetters('consumedFoods', [
                'areConsumedFoodsLoading',
            ]),
            ...mapState('consumedFoods/consumedFoodsForm', {
                consumedFoods: 'rows',
            }),
            ...mapConsumedFoodsFormGetters([
                'getSumValues',
                'getSumFactors',
            ]),
            hasConsumedFoods() {
                return this.consumedFoods.length > 0;
            },
            currentDate() {
                return this.flatpickr.from
            },
            consumedFoodsAsGroups() {
                const noGroupId = NO_GROUP_KEY;
                let groups = {};
                groups[noGroupId] = {
                    id: noGroupId,
                    name: this.$trans('others.no_group_2'),
                    consumedFoods: [],
                    summary: {
                        carb: 0,
                        fat: 0,
                        protein: 0,
                        energy: 0,
                    },
                };
                this.consumedFoods.forEach((consumedFood) => {

                    // Consumed food has no group
                    if (!consumedFood.group) {
                        groups[noGroupId].summary.carb += consumedFood.calcCarb();
                        groups[noGroupId].summary.fat += consumedFood.calcFat();
                        groups[noGroupId].summary.protein += consumedFood.calcProtein();
                        groups[noGroupId].summary.energy += consumedFood.calcEnergy();
                        groups[noGroupId].consumedFoods.push(consumedFood);
                        return;
                    }

                    // Consumed foos has a group
                    let id = consumedFood.group.id;
                    if (!has.call(groups, id)) {
                        groups[id] = {
                            id: id,
                            name: consumedFood.group.name,
                            consumedFoods: [],
                            summary: {
                                carb: 0,
                                fat: 0,
                                protein: 0,
                                energy: 0,
                            },
                        };
                    }
                    groups[id].summary.carb += consumedFood.calcCarb();
                    groups[id].summary.fat += consumedFood.calcFat();
                    groups[id].summary.protein += consumedFood.calcProtein();
                    groups[id].summary.energy += consumedFood.calcEnergy();
                    groups[id].consumedFoods.push(consumedFood);
                });

                if (Object.keys(groups).length === 1 && has.call(groups, noGroupId)) {
                    groups[noGroupId].name = this.$trans('others.no_group');
                }

                return groups;
            },
            consumedFoodGroupKeys() {
                return Object.keys(this.consumedFoodsAsGroups);
            },
            isStoreConsumedFoodActionRequesting() {
                return this.request.storeConsumedFoodAction;
            }
        },

        watch: {
            getSumFactors(newVal) {
                this.chart.data = this.fillChart(
                    this.round(newVal.carb),
                    this.round(newVal.fat),
                    this.round(newVal.protein)
                );
            },
        },

        methods: {
            ...mapActions('consumedFoods', [
                'fetchConsumedFoods',
            ]),
            ...mapConsumedFoodsFormActions([
                'deleteConsumedFoodRequest',
            ]),
            loadDate() {
                redirect_to({
                    url: URL_CONSUMED_FOODS_SHOW,
                    params: {
                        from: this.$moment(this.flatpickr.from)
                            .format(MOMENT_JS_CONSUMED_DATE_OVERVIEW_FORMAT),
                        to: this.$moment(this.flatpickr.from)
                            .format(MOMENT_JS_CONSUMED_DATE_OVERVIEW_FORMAT),
                    },
                });
            },
            prevDate() {
                const day = this.$moment(this.flatpickr.from).subtract(1, 'd');
                redirect_to({
                    url: URL_CONSUMED_FOODS_SHOW,
                    params: {
                        from: day.format(MOMENT_JS_CONSUMED_DATE_OVERVIEW_FORMAT),
                        to: day.format(MOMENT_JS_CONSUMED_DATE_OVERVIEW_FORMAT),
                    },
                });
            },
            nextDate() {
                const day = this.$moment(this.flatpickr.from).add(1, 'd');
                redirect_to({
                    url: URL_CONSUMED_FOODS_SHOW,
                    params: {
                        from: day.format(MOMENT_JS_CONSUMED_DATE_OVERVIEW_FORMAT),
                        to: day.format(MOMENT_JS_CONSUMED_DATE_OVERVIEW_FORMAT),
                    },
                });
            },
            loadToday() {
                redirect_to({
                    url: URL_CONSUMED_FOODS_SHOW,
                });
            },
            loadConsumedfoods(silent = false) {
                this.fetchConsumedFoods({
                    from: this.from,
                    to: this.to,
                    silent,
                });
            },
            fillChart(carb = 0, fat = 0, protein = 0) {
                return {
                    datasets: [{
                        data: [
                            carb,
                            fat,
                            protein,
                        ],
                        backgroundColor: [
                            COLOR_CARB,
                            COLOR_FAT,
                            COLOR_PROTEIN,
                        ],
                    }],
                    labels: [
                        this.$trans('nutrients.groups.carb_short'),
                        this.$trans('nutrients.groups.fat'),
                        this.$trans('nutrients.groups.protein'),
                    ],
                };
            },
            onEdit(consumedFood) {
                const hub = this.$root;
                hub.$emit(`action::editConsumedFood`, consumedFood);
            },
            onDelete(consumedFood) {
                if (!window.confirm(this.$trans('components.modals.delete_consumed_food.message'))) {
                    return;
                }
                const hub = this.$root;
                this.deleteConsumedFoodRequest(consumedFood.id).then(() => {
                    hub.$emit(`fetch::consumed::foods`);
                });
            },
            getConsumedFoodGroup(group) {
                return this.consumedFoodsAsGroups[group];
            },
            onCopyGroup(group) {
                const hub = this.$root;
                hub.$emit(`action::copyGroup`, group);
            },
            consumeFood(group = null) {
                const hub = this.$root;
                hub.$emit(`action::searchFood`, {group: {
                    id: group.id,
                    name: group.name,
                }});
            },
            actionConsumeFood(data) {
                const vm = this;
                const hub = this.$root;
                vm.request.storeConsumedFoodAction = true;
                this.storeConsumedFoodAction(data)
                    .then((data) => {
                        if (!is_error(data)) {
                            hub.$emit(`fetch::consumed::foods`);
                            hub.$emit(`action::searchFood::close`);
                        }
                    })
                    .then(() => {
                        vm.request.storeConsumedFoodAction = false;
                    })
                ;
            },
            actionDeleteFoodGrouping(group, date) {
                if (!window.confirm(this.$trans('components.modals.delete_consumed_food_group.message'))) {
                    return;
                }
                let groupId = group.id !== NO_GROUP_KEY ? group.id : null;
                const hub = this.$root;
                ConsumedFoodApi.deleteFoodGrouping(groupId, date)
                    .then((response) => {
                        window.$alert.success(response.data.message);
                        hub.$emit(`fetch::consumed::foods`);
                    })
                    .catch((error) => {
                        handle_response_error(error);
                    })
                ;
            },
            actionCreateTemplateFromGrouping(group, date) {
                let groupId = group.id !== NO_GROUP_KEY ? group.id : null;
                const hub = this.$root;
                hub.$emit(`action::createTemplateFromFoodGrouping`, {id: groupId, name: group.name, date});
            },
        },
    };

</script>
