<template>
    <b-modal :id="getModalRef"
             :title="$trans('components.modals.copy_consumed_foods_group_modal.header')"
             @hidden="onHidden"
             @show="onShow"
    >
        <h5>{{ group.name }}</h5>

        <b-form @submit.prevent="onSubmit">
            <b-form-group :label="$trans('forms.copy_consumed_group_at.title')"
                          label-for="copy-consumed-group-at"
            >
                <flat-pickr v-model="copyConsumedGroupAt"
                            @input="updateDate"
                            :config="modalFlatpickr.config"
                            :aria-label="$trans('forms.copy_consumed_group_at.aria_label')"
                            class="form-control"
                            name="copy_consumed_group_at"
                            id="copy-consumed-group-at"
                ></flat-pickr>
            </b-form-group>

            <b-form-group label-for="groups"
                          :description="$trans('forms.food_groups.description')"
            >
                <label for="groups">
                    {{ $trans('forms.food_groups.title') }}
                </label>
                <multiselect :value="activeGroup"
                             @input="updateGroup"
                             @tag="addTag"
                             label="name"
                             track-by="id"
                             :taggable="true"
                             :isLoading="areConsumedFoodGroupsLoading || areConsumedFoodGroupsAtLoading"
                             :options="optionGroups"
                             group-values="groups"
                             group-label="title"
                             :group-select="false"
                             id="groups"
                             :aria-label="$trans('forms.food_groups.aria_label')"
                             :tag-placeholder="$trans('forms.food_groups.tag_placeholder')"
                             :placeholder="$trans('forms.food_groups.placeholder')"
                             :select-label="$trans('forms.food_groups.select_label')"
                             :select-group-label="$trans('forms.food_groups.select_group_label')"
                             :selected-label="$trans('forms.food_groups.selected_label')"
                             :deselected-label="$trans('forms.food_groups.deselect_label')"
                             :deselect-group-label="$trans('forms.food_groups.deselect_group_label')"
                >
                </multiselect>
            </b-form-group>
        </b-form>

        <div slot="modal-footer">
            <b-button @click="onSubmit"
                      :disabled="isCopyGroupRequestLoading"
                      variant="success"
                      :title="$trans('components.button.copy_group_action.title')"
                      :aria-label="$trans('components.button.copy_group_action.title')"
            >
                <b-spinner small v-if="isCopyGroupRequestLoading" />
                {{ $trans('components.button.copy_group_action.text') }}
            </b-button>
            <b-button @click="hideSelf"
                      :disabled="isCopyGroupRequestLoading"
                      variant="default"
                      :title="$trans('components.button.cancel.title', {action: $trans('components.modals.copy_consumed_foods_group_modal.header')})"
                      :aria-label="$trans('components.button.cancel.title', {action: $trans('components.modals.copy_consumed_foods_group_modal.header')})"
            >{{ $trans('components.button.cancel.text') }}</b-button>
        </div>

    </b-modal>
</template>

<script>

    import {
        FLATPICKR_CONSUMED_DATE_FORMAT,
        MOMENT_JS_CONSUMED_DATE_FORMAT,
    } from '../../../config';

    import flatPickr from 'vue-flatpickr-component';

    import modalRefMixin from '../../mixins/modal_ref';

    import ConsumedFoodsApi from '../../service/consumed_foods';

    import {is_error} from '../../../utilities/helpers';

    import { createNamespacedHelpers } from 'vuex';
    import {handle_response_error} from '../../../utilities/response_error';
    const {
        mapActions: mapConsumedFoodGroupsFormActions,
        mapGetters: mapConsumedFoodGroupsFormGetters,
    } = createNamespacedHelpers('consumedFoods/consumedFoodGroupsForm');

    export default {

        name: 'copy-consumed-foods-group-modal',

        /*
         |---------------------------------------------------------------------------
         | Composition
         |---------------------------------------------------------------------------
         */

        mixins: [
            modalRefMixin,
        ],

        /*
         |---------------------------------------------------------------------------
         | Assets
         |---------------------------------------------------------------------------
         */

        components: {
            flatPickr,
        },

        /*
         |---------------------------------------------------------------------------
         | Lifecycle Hooks
         |---------------------------------------------------------------------------
         */

        created() {

            const vm = this;
            const hub = this.$root;
            hub.$on(`action::copyGroup`, (group) => {
                vm.refGroup = group;
                vm.refActiveGroup = { id: group.id, name: group.name, };
                vm.showSelf();
            });
        },

        /*
         |---------------------------------------------------------------------------
         | Data
         |---------------------------------------------------------------------------
         */
        data() {
            return {
                modalFlatpickr: {
                    config: {
                        enableTime: true,
                        dateFormat: FLATPICKR_CONSUMED_DATE_FORMAT,
                    },
                },
                copyConsumedGroupAt: window.$moment().format(MOMENT_JS_CONSUMED_DATE_FORMAT),
                refGroup: null,
                refActiveGroup: null,
                copyGroupRequest: false,
            };
        },

        computed: {
            ...mapConsumedFoodGroupsFormGetters([
                'optionGroups',
                'areConsumedFoodGroupsLoading',
                'areConsumedFoodGroupsAtLoading',
            ]),
            group() {
                return this.refGroup || {
                    id: null,
                    name: '',
                };
            },
            activeGroup() {
                // FIXME(ssandriesser): if the user is try to copy the 'without group' foods,
                //                      return an empty group instead of the 'Without group' suggestion
                return this.refActiveGroup || {
                    id: null,
                    name: '',
                };
            },
            isCopyGroupRequestLoading() {
                return this.copyGroupRequest;
            }
        },

        methods: {
            ...mapConsumedFoodGroupsFormActions([
                'fetchConsumedFoodGroups',
                'fetchConsumedFoodGroupsAt',
                'addConsumedFoodGroup',
            ]),
            fetchGroups() {
                const vm = this;
                this.fetchConsumedFoodGroups()
                    .then((data) => {
                        if (!is_error(data)) {
                            vm.fetchGroupsAt();
                        }
                    })
                ;
            },
            fetchGroupsAt() {
                const date = this.$moment(this.consumed_at, MOMENT_JS_CONSUMED_DATE_FORMAT).format("YYYY-MM-DD");
                this.fetchConsumedFoodGroupsAt({
                    from: date,
                    to: date,
                });
            },
            updateDate(newDate) {
                this.copyConsumedGroupAt = newDate;
                // TODO(ssandriesser): check if date has changed before fetch group; time can be changed
                this.fetchGroupsAt();
            },
            addTag(newTag) {
                const nt = {
                    id: null,
                    name: newTag
                };
                this.refActiveGroup = nt;
                this.addConsumedFoodGroup(nt);
            },
            updateGroup(group) {
                // NOTE(ssandriesser): workaround; existing groups need parameter access,
                //                     because they are empty objects in case of no access.
                let clone = null;
                if (group) {
                    clone = {
                        id: group.id,
                        name: group.name,
                    };
                }
                this.refActiveGroup = clone;
            },
            resetForm() {
                this.refGroup = null;
                this.refActiveGroup = null;
            },
            onShow() {
                this.fetchGroups();
            },
            onHidden() {
                this.resetForm();
            },
            onSubmit() {
                this.actionMakeCopy();
            },
            actionMakeCopy() {
                const vm = this;
                const hub = this.$root;

                vm.copyGroupRequest = true;

                const data = {
                    group: null,
                    group_id_origin: this.group.id,
                    // FIXME(ssandriesser): check if group has consumed foods
                    from: this.group.consumedFoods[0].consumed_at,
                    to: this.copyConsumedGroupAt,
                };

                if (this.activeGroup.name) {
                    data.group = this.activeGroup;
                }

                return ConsumedFoodsApi.copyConsumedFoodGroup(data)
                    .then((response) => {
                        window.$alert.success(window.$trans(response.data.message));
                        vm.hideSelf();
                        hub.$emit(`fetch::consumed::foods`);
                        vm.copyGroupRequest = false;
                        return response;
                    })
                    .catch((error) => {
                        handle_response_error(error);
                        vm.copyGroupRequest = false;
                        return error;
                    })
                    ;
            }
        },
    };
</script>
