<template>
    <b-modal :id="getModalRef"
             :title="$trans('components.modals.create_template_from_food_grouping.header')"
             @hidden="onHidden"
             @show="onShow"
    >
        <b-form @submit.prevent="onSubmit">
            <b-form-group :label="$trans('forms.template_name.title2')"
                          :invalid-feedback="form.errors.get(`template_name`)"
                          :state="form.errors.state(`template_name`)"
                          label-for="template-name"
            >
                <b-form-input v-model="form.templateName.value"
                              :aria-label="$trans('forms.template_name.aria_label')"
                              :state="form.errors.state(`template_name`)"
                              name="template_name"
                              id="template-name"
                              type="text"
                ></b-form-input>
            </b-form-group>
        </b-form>

        <div slot="modal-footer">
            <b-button @click="onSubmit"
                      :disabled="isRequestActive"
                      variant="success"
                      :title="$trans('components.button.create_template_from_food_grouping.title')"
                      :aria-label="$trans('components.button.create_template_from_food_grouping.title')"
            >
                <b-spinner small v-if="isRequestActive" />
                {{ $trans('components.button.create_template_from_food_grouping.text') }}
            </b-button>
            <b-button @click="hideSelf"
                      :disabled="isRequestActive"
                      variant="default"
                      :title="$trans('components.button.cancel.title', {action: $trans('components.modals.copy_consumed_foods_group_modal.header')})"
                      :aria-label="$trans('components.button.cancel.title', {action: $trans('components.modals.copy_consumed_foods_group_modal.header')})"
            >{{ $trans('components.button.cancel.text') }}</b-button>
        </div>

    </b-modal>
</template>

<script>

    import modalRefMixin from '../../mixins/modal_ref';

    import Form from '../../../utilities/form';

    import ConsumedFoodsApi from '../../service/consumed_foods';

    import {redirect_to} from '../../../utilities/url_helpers';
    import {handle_response_error} from '../../../utilities/response_error';
    import {is_validation_error} from '../../../utilities/request_response_helper';
    import {DEFAULT_REDIRECT_TIME, URL_TEMPLATE_EDIT} from '../../../config';

    export default {

        name: 'create_template_from_food_grouping_modal',

        /*
         |---------------------------------------------------------------------------
         | Composition
         |---------------------------------------------------------------------------
         */

        mixins: [
            modalRefMixin,
        ],

        /*
         |---------------------------------------------------------------------------
         | Assets
         |---------------------------------------------------------------------------
         */

        // components: {},

        /*
         |---------------------------------------------------------------------------
         | Lifecycle Hooks
         |---------------------------------------------------------------------------
         */

        created() {
            const vm = this;
            const hub = this.$root;
            hub.$on(`action::createTemplateFromFoodGrouping`, (group) => {
                vm.refGroup = group;
                vm.form.templateName.value = group.name;
                vm.showSelf();
            });
        },

        /*
         |---------------------------------------------------------------------------
         | Data
         |---------------------------------------------------------------------------
         */

        data() {

            const form = new Form({
                templateName: {
                    value: '',
                },
            });

            return {
                refGroup: null,
                form,
                request: false,
            };
        },

        computed: {

            group() {
                return this.refGroup || {
                    id: null,
                    name: '',
                    date: '',
                };
            },
            activeGroup() {

            },
            isRequestActive() {
                return this.request;
            },
        },

        methods: {

            resetForm() {
                this.refGroup = null;
                this.request = false;
                this.form.templateName.value = '';
            },
            onShow() {

            },
            onHidden() {
                this.resetForm();
            },
            onSubmit() {
                this.actionCreateTemplateFromFoodGrouping();
            },
            actionCreateTemplateFromFoodGrouping() {
                const vm = this;

                vm.request = true;
                const data = {
                    group_id: this.group.id,
                    template_name: this.form.templateName.value,
                    consumed_at: this.group.date,
                };
                return ConsumedFoodsApi.createTemplateFromFoodGrouping(data)
                    .then((response) => {
                        window.$alert.success(window.$trans(response.data.message));
                        vm.hideSelf();
                        redirect_to({
                            url: URL_TEMPLATE_EDIT,
                            options: {id: response.data.data.id},
                            delay: DEFAULT_REDIRECT_TIME,
                        });
                    })
                    .catch((error) => {
                        const response = error.response;
                        if (is_validation_error(response)) {
                            vm.form.errors.record(response.data.errors);
                        } else {
                            handle_response_error(data);
                        }
                    })
                    .then(() => {
                        vm.request = false;
                    })
                    ;
            }
        },
    };
</script>
