<template>
    <div sticky-container>
        <b-form @submit="storeAction"
                @reset="resetAction"
                @keydown="clearRequestError($event.target.name)"
        >
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col col-lg-8">
                        <b-breadcrumb :items="breadcrumbs"
                                      class="p-0 bg-transparent"
                        ></b-breadcrumb>
                        <hr>

                        <h4 class="m-0">{{ $trans('pages.food_new.title') }}</h4>
                    </div>
                </div>
            </div>


            <div v-sticky
                 on-stick="onStick"
                 :sticky-offset="stickyOffsetNavbar"
                 :class="stickyClass"
            >
                <div class="container">
                    <div class="row justify-content-md-center">
                        <div class="col col-lg-8">
                            <div class="pt-3 pb-1">
                                <b-button type="submit"
                                          variant="success"
                                          :disabled="hasAnyErrors"
                                          :title="$trans('components.button.save.title',{action: $trans('glossar.food.word')})"
                                          :aria-label="$trans('components.button.save.title',{action: $trans('glossar.food.word')})"
                                          class="mb-2"
                                >
                                    <i class="fas fa-save"></i><span class="ml-2" v-if="!isMenuSticked">{{ $trans('components.button.save.text') }}</span>
                                </b-button>
                                <b-button type="reset"
                                          variant="default"
                                          :title="$trans('components.button.reset.title',{action: $trans('others.form')})"
                                          :aria-label="$trans('components.button.reset.title',{action: $trans('others.form')})"
                                          class="mb-2"
                                >{{ $trans('components.button.reset.text') }}</b-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col col-lg-8">
                        <default-card class="mb-card">
                            <div class="card-body">
                                <food-meta-form></food-meta-form>
                            </div>
                        </default-card>

                        <default-card class="mb-card">
                            <food-nutrient-form></food-nutrient-form>
                        </default-card>
                    </div>
                </div>
            </div>
        </b-form>
    </div>
</template>

<script>

    /*
    |---------------------------------------------------------------------------
    | Smart component
    |---------------------------------------------------------------------------
    */

    import {
        DEFAULT_REDIRECT_TIME,
        FOOD_REF_UNIT_VALUES,
        URL_FOOD_SHOW,
        URL_REDIRECT_FOOD_CATALOGUE,
    } from '../../../config';

    import logMixin from '../../mixins/log';
    import stickyMixin from '../../mixins/sticky';

    import {redirect_to} from '../../../utilities/url_helpers';

    import FoodMetaForm from '../../food_edit_view/components/food_meta_form';
    import FoodNutrientForm from '../../food_edit_view/components/food_nutrient_form';
    import DefaultCard from '../../shared/default_card';

    import {createNamespacedHelpers} from 'vuex';

    const {
        mapActions: mapFoodActions,
        mapGetters: mapFoodGetters,
    } = createNamespacedHelpers('food');

    const {
        mapActions: mapFoodMetaActions,
    } = createNamespacedHelpers('food/foodMeta');

    const {
        mapActions: mapFoodNutrientsActions,
    } = createNamespacedHelpers('food/foodNutrients');

    const {
        mapActions: mapNutrientsActions,
        mapGetters: mapNutrientsGetters,
    } = createNamespacedHelpers('nutrients');

    export default {

        name: "food_new_view",

        /*
         |---------------------------------------------------------------------------
         | Composition
         |---------------------------------------------------------------------------
         */

        mixins: [
            logMixin,
            stickyMixin,
        ],

        // extends: {},

        /*
         |---------------------------------------------------------------------------
         | Assets
         |---------------------------------------------------------------------------
         */

        // directives: {},

        // filters: {},

        components: {
            FoodMetaForm,
            FoodNutrientForm,
            DefaultCard,
        },

        /*
         |---------------------------------------------------------------------------
         | Lifecycle Hooks
         |---------------------------------------------------------------------------
         */

        // created() {},

        mounted() {
            this.fetchNutrients();
            this.fetchNutrientUnits();
        },

        /*
         |---------------------------------------------------------------------------
         | Data
         |---------------------------------------------------------------------------
         */

        // props: {},

        data() {
            return {
                breadcrumbs: [
                    {text: this.$trans('links.catalogue.text'), href: URL_REDIRECT_FOOD_CATALOGUE},
                    {text: this.$trans('pages.food_new.title'), active: true},
                ],
                settings: {
                    ref_unit_values: FOOD_REF_UNIT_VALUES
                },
            }
        },

        computed: {
            ...mapFoodGetters([
                'errors',
                'hasAnyErrors',
            ]),
            ...mapNutrientsGetters([
                'areNutrientsLoading',
                'areNutrientUnitsLoading',
            ]),
        },

        // watch: {},

        methods: {
            ...mapFoodActions([
                'clearRequestError',
                'storeFood',
            ]),
            ...mapFoodMetaActions([
                'resetFoodMetaForm',
            ]),
            ...mapFoodNutrientsActions([
                'resetNutrientsForm',
            ]),
            ...mapNutrientsActions([
                'fetchNutrients',
                'fetchNutrientUnits',
            ]),
            storeAction(e) {
                e.preventDefault();
                this.storeFood().then((data) => {
                    if (!(data instanceof Error)) {
                        window.$alert.success(data.data.message);
                        redirect_to({
                            url: URL_FOOD_SHOW,
                            options: {id: data.data.data.id},
                            delay: DEFAULT_REDIRECT_TIME,
                        });
                    }
                });
            },
            resetAction(e) {
                e.preventDefault();
                this.clearRequestError();
                this.resetFoodMetaForm();
                this.resetNutrientsForm();
            },
        }

    }

</script>

<style>

</style>
