<template>
    <div>
        <b-modal :id="getModalRef"
                 :title="$trans('components.modals.add_food_to_template.header')"
                 @hidden="onHidden"

        >

            <h5 class="mb-3">{{ food.name }}</h5>

            <b-form @submit.prevent="addFoodToTemplateAction()"
                    @keydown="clearErrors($event.target.name)"
            >
                <b-form-group label-for="templates"
                              :invalid-feedback="formError.get('template')"
                              :state="formError.state('template')"
                >
                    <label for="templates">
                        {{ $trans('forms.templates.title') }}
                    </label>
                    <multiselect v-model="refTemplate"
                                 label="name"
                                 @input="clearErrors('template')"
                                 track-by="id"
                                 :taggable="false"
                                 :options="templates"
                                 :isLoading="isFetchTemplatesRequestActive"
                                 id="templates"
                                 name="template"
                                 :aria-label="$trans('forms.templates.aria_label')"
                                 :placeholder="$trans('forms.templates.placeholder')"
                                 :select-label="$trans('forms.templates.select_label')"
                                 :select-group-label="$trans('forms.templates.select_template_label')"
                                 :selected-label="$trans('forms.templates.selected_label')"
                                 :deselect-label="$trans('forms.templates.deselect_label')"
                                 :deselect-group-label="$trans('forms.templates.deselect_template_label')"
                    >
                    </multiselect>
                </b-form-group>

                <b-form-group :label="$trans('forms.template_food_value.title')"
                              label-for="template-value"
                              :invalid-feedback="formError.get('value')"
                              :state="formError.state('value')"
                >
                    <b-input-group :append="food.ref_unit">
                        <b-form-input v-model="templateValue"
                                      name="value"
                                      :state="formError.state('value')"
                                      :aria-label="$trans('forms.template_food_value.aria_label')"
                                      id="template-value"
                                      required
                        ></b-form-input>
                    </b-input-group>

                </b-form-group>
            </b-form>

            <div slot="modal-footer">
                <b-button @click="addFoodToTemplateAction()"
                          variant="success"
                          class="mb-2 mb-sm-0"
                          :title="$trans('components.button.add_food_to_template.title')"
                          :aria-label="$trans('components.button.add_food_to_template.title')"
                          :disabled="formError.any()"
                >{{ $trans('components.button.add_food_to_template.text_action') }}</b-button>
                <b-button @click="hideSelf"
                          variant="default"
                          class="mb-2 mb-sm-0"
                          :title="$trans('components.button.cancel.title', {action: $trans('components.modals.search_foods.header')})"
                          :aria-label="$trans('components.button.cancel.title', {action: $trans('components.modals.search_foods.header')})"
                >{{ $trans('components.button.cancel.text') }}</b-button>
            </div>
        </b-modal>
    </div>
</template>

<script>

    import modalRefMixin from '../mixins/modal_ref';
    import logMixin from '../mixins/log';

    import TemplateAPI from '../service/templates';

    import FormError from '../../utilities/errors';
    import {Food} from '../objects/food';
    import {handle_response_error} from '../../utilities/response_error';

    import {createNamespacedHelpers} from 'vuex';
    import {is_validation_error} from '../../utilities/request_response_helper';

    const {
        mapActions: mapTemplatesActions,
        mapGetters: mapTemplatesGetters,
    } = createNamespacedHelpers('entities/templates');

    export default {

        name: 'add_food_to_template_modal',

        /*
         |---------------------------------------------------------------------------
         | Composition
         |---------------------------------------------------------------------------
         */

        mixins: [
            modalRefMixin,
            logMixin,
        ],

        /*
         |---------------------------------------------------------------------------
         | Assets
         |---------------------------------------------------------------------------
         */

        components: {

        },

        /*
         |---------------------------------------------------------------------------
         | Lifecycle Hooks
         |---------------------------------------------------------------------------
         */

        created() {
            const vm = this;
            const hub = this.$root;
            hub.$on(`action::addFoodToTemplate`, (food) => {
                vm.fetchTemplates();
                this.refFood = food;
                vm.showSelf();
            });
            hub.$on(`action::addFoodToTemplate::close`, () => {
                vm.hideSelf();
            });
        },

        // mounted() {},

        /*
         |---------------------------------------------------------------------------
         | Data
         |---------------------------------------------------------------------------
         */

        props: {},

        data() {

            const error = new FormError();
            const food = new Food();

            return {
                form: {
                    error,
                },
                refFood: food,
                refTemplate: null,
                refTemplates: [],
                templateValue: null,
            };
        },

        computed: {
            ...mapTemplatesGetters([
                'isFetchTemplatesRequestActive',
            ]),
            formError() {
                return this.form.error;
            },
            food() {
                return this.refFood;
            },
            selectedTemplate() {
                return this.refTemplate;
            },
            templates() {
                return this.refTemplates;
            }
        },

        // watch: {},

        methods: {
            ...mapTemplatesActions([
                'requestFetchTemplates',
            ]),
            onHidden() {
                this.resetForm();
            },
            onSubmit() {
                this.$emit('submit', this.selectedFood);
            },
            clearErrors(name) {
                this.form.error.clear(name);
            },
            resetForm() {
                this.form.error.clear();
                this.$set(this, 'refFood', new Food());
                this.templateValue = null;
                this.refTemplate = null;
            },
            fetchTemplates() {
                const vm = this;
                vm.requestFetchTemplates(true);
                return TemplateAPI.fetchTemplates()
                    .then((response) => {
                        vm.refTemplates = response.data;
                        vm.requestFetchTemplates(false);
                        return response;
                    })
                    .catch((error) => {
                        handle_response_error(error);
                        vm.requestFetchTemplates(false);
                        vm.hideSelf();
                        return error;
                    })
                    ;
            },
            addFoodToTemplateAction() {
                // TODO(ssandriesser): check if template is selected
                if (!this.selectedTemplate) {
                    this.form.error.record({
                        template: [this.$trans('Please select a template')],
                    });
                    return;
                }
                const vm = this;
                const hub = this.$root;
                const templateId = this.selectedTemplate.id;
                const data = {
                    food_id: this.food.id,
                    value: this.templateValue,
                };

                return TemplateAPI.addFoodToTemplate(templateId, data)
                    .then((response) => {
                        $alert.success(response.data.message);
                        hub.$emit('action::addFoodToTemplate::close');
                    })
                    .catch((error) => {
                        const response = error.response;
                        if (is_validation_error(response)) {
                            vm.form.error.record(response.data.errors);
                        } else {
                            handle_response_error(error);
                        }
                    })
                ;
            },
        }
    };
</script>
