<template>
    <div class="avatar-container">
        <a :href="url">
            <div class="avatar">{{ char }}</div>
        </a>
    </div>
</template>

<script>

    export default {
        name: 'avatar_container',

        props: {
            char: {
                type: String,
                required: true,
            },
            url: {
                type: String,
                required: true,
            }
        }
    };
</script>
