<script setup lang="ts">
import { trans } from "@/utilities/localization"

defineProps<{ brand: string }>();
</script>

<template>
    <span v-if="brand"
          :title="trans('others.branded_food')"
    >
        <i class="far fa-copyright"></i>
    </span>
</template>


