<template>
    <div>
        <div v-show="!nutrientsOnly">
            <strong>{{ consumedFood.consumed_value }} {{ consumedFood.food.ref_unit }}</strong> -
            <imported-food-flag :imported="consumedFood.food.imported"></imported-food-flag>
            <a :href="`/foods/${consumedFood.food.id}`">{{ $trans(consumedFood.food.name) }}</a>
            <div v-show="consumedFood.food.brand">
                <branded-food-flag :brand="consumedFood.food.brand"></branded-food-flag>
                {{ consumedFood.food.brand }}
            </div>
        </div>

        <div class="">
            <nutrient-display :title="$trans('nutrients.energy')"
                              :val="round(consumedFood.calcEnergy())"
                              :unit="consumedFood.food.energy.unit"
            ></nutrient-display>
            <nutrient-display :title="$trans('nutrients.groups.carb_no_fiber')"
                              :val="round(consumedFood.calcCarb())"
                              :unit="consumedFood.food.carb.unit"
            ></nutrient-display>
            <nutrient-display :title="$trans('nutrients.groups.fat')"
                              :val="round(consumedFood.calcFat())"
                              :unit="consumedFood.food.fat.unit"
            ></nutrient-display>
            <nutrient-display :title="$trans('nutrients.groups.protein')"
                              :val="round(consumedFood.calcProtein())"
                              :unit="consumedFood.food.protein.unit"
            ></nutrient-display>
        </div>
    </div>
</template>

<script>

    import roundMixin from '../mixins/round';

    import nutrientDisplay from './nutrient_display';
    import importedFoodFlag from './imported_food_flag';
    import brandedFoodFlag from './branded_food_flag';
    import {ConsumedFood} from '../objects/consumed_food';


    export default {
        name: 'consumed_food_block',

        mixins: [
            roundMixin
        ],

        components: {
            nutrientDisplay,
            importedFoodFlag,
            brandedFoodFlag,
        },

        props: {
            consumedFood: {
                type: ConsumedFood,
                required: true
            },

            nutrientsOnly: {
                type: Boolean,
                default: false,
            }
        },
    };
</script>
