<template>
        <div class="card border-0 shadow-card position-relative"
             :class="cssClasses"
        >
            <slot></slot>
        </div>
</template>

<script>

    const VALID_ROUNDED = ['lg', 'card', '0', 'sm', 'pill'];

    export default {
        name: 'default_card',

        props: {
            rounded: {
                type: String,
                default: 'card',
                validator(value) {
                    return VALID_ROUNDED.indexOf(value) !== -1;
                },
            }
        },

        computed: {
            cssClasses() {
                return [`rounded-${this.rounded}`];
            },
        },
    };

</script>
