<template>
    <div>
        <div>
            <strong>{{ food.ref_value }} {{ food.ref_unit }}</strong> -
            <imported-food-flag :imported="food.imported"></imported-food-flag>
            <a :href="urlToFoodShow(food.id)">{{ $trans(food.name) }}</a>
        </div>
        <div v-show="food.brand">
            <branded-food-flag :brand="food.brand"></branded-food-flag>
            {{ food.brand }}
        </div>
        <div>
            <nutrient-display :title="$trans('nutrients.energy')"
                              :val="round(food.calcEnergy())"
                              :unit="food.energy.unit"
            ></nutrient-display>
            <nutrient-display :title="$trans('nutrients.groups.carb_no_fiber')"
                              :val="round(food.calcCarb())"
                              :unit="food.carb.unit"
            ></nutrient-display>
            <nutrient-display :title="$trans('nutrients.groups.fat')"
                              :val="round(food.calcFat())"
                              :unit="food.fat.unit"
            ></nutrient-display>
            <nutrient-display :title="$trans('nutrients.groups.protein')"
                              :val="round(food.calcProtein())"
                              :unit="food.protein.unit"
            ></nutrient-display>
        </div>
        <div>
            <b-button @click="onConsume(food)"
                      size="sm"
                      variant="outline-secondary"
            >
                {{ $trans('Consume') }}
            </b-button>
            <b-button size="sm"
                      variant="outline-secondary"
            >
                {{ $trans('Favorite') }}
            </b-button>
        </div>
    </div>
</template>

<script>

    import roundMixin from '../mixins/round';
    import linksMixin from '../mixins/links';
    import consumeActionsMixin from '../mixins/consume_actions';

    import nutrientDisplay from './nutrient_display';
    import importedFoodFlag from './imported_food_flag';
    import brandedFoodFlag from './branded_food_flag';
    import {Food} from '../objects/food';


    export default {
        name: 'consumed_food_block',

        mixins: [
            roundMixin,
            linksMixin,
            consumeActionsMixin,
        ],

        components: {
            nutrientDisplay,
            importedFoodFlag,
            brandedFoodFlag,
        },

        props: {
            food: {
                type: Food,
                required: true
            }
        },

        // methods: {},
    };
</script>
