<template>
    <div class="food-row">
        <list-menu>
            <div>
                <span v-if="amountVisible">{{ getRefValue }}{{ getRefUnit }} - </span>
                <imported-food-flag :imported="getFood.imported"></imported-food-flag>
                <a :href="urlToFoodShow(getFood.id)" class="text-body">{{ getFood.name }}</a>
            </div>
            <div v-show="getFood.brand">
                <small class="text-black-50">
                    <branded-food-flag :brand="getFood.brand ?? ''"></branded-food-flag>
                    {{ getFood.brand }}
                </small>
            </div>

            <div class="d-inline-block" slot="pre-btn">
                <button class="list-btn list-btn--fa5-icon text-black-50"
                        type="button"
                        @click="toggleVisibility()"
                >
                    <i v-show="areNutrientsVisible" class="fas fa-caret-down"></i>
                    <i v-show="!areNutrientsVisible" class="fas fa-caret-right"></i>
                </button>
            </div>

            <div slot="menu">
                <slot name="menu"></slot>
            </div>
        </list-menu>

        <div v-show="areNutrientsVisible">
            <hr>

            <div class="d-block d-sm-none mb-2" v-if="!amountVisible"><strong>{{ getRefValue }} {{ getRefUnit }}</strong></div>
            <div class="d-flex align-items-center">
                <div class="d-none d-sm-block mr-3" v-if="!amountVisible"><strong>{{ getRefValue }} {{ getRefUnit }}</strong></div>
                <hslide class="nutrient-display-container nutrient-display-container--spacer">
                    <nutrient-display :title="$trans('nutrients.energy')"
                                      :val="round(getEnergy)"
                                      :unit="getFood.energy.unit"
                                      size="sm"
                    ></nutrient-display>
                    <nutrient-display :title="$trans('nutrients.groups.carb_no_fiber')"
                                      :val="round(getCarb)"
                                      :unit="getFood.carb.unit"
                                      size="sm"
                    ></nutrient-display>
                    <nutrient-display :title="$trans('nutrients.groups.fat')"
                                      :val="round(getFat)"
                                      :unit="getFood.fat.unit"
                                      size="sm"
                    ></nutrient-display>
                    <nutrient-display :title="$trans('nutrients.groups.protein')"
                                      :val="round(getProtein)"
                                      :unit="getFood.protein.unit"
                                      size="sm"
                    ></nutrient-display>
                </hslide>
            </div>
        </div>
    </div>
</template>

<script>

    import foodConsumeRefMixin from '../mixins/food_consume_ref';
    import roundMixin from '../mixins/round';
    import linksMixin from '../mixins/links';

    import nutrientDisplay from './nutrient_display';
    import importedFoodFlag from './imported_food_flag';
    import brandedFoodFlag from './branded_food_flag';
    import hslide from './hslide';
    import listMenu from './list-menu';

    export default {

        name: "food_row",

        /*
         |---------------------------------------------------------------------------
         | Composition
         |---------------------------------------------------------------------------
         */

        mixins: [
            foodConsumeRefMixin,
            roundMixin,
            linksMixin,
        ],

        // extends: {},

        /*
         |---------------------------------------------------------------------------
         | Assets
         |---------------------------------------------------------------------------
         */

        // directives: {},

        // filters: {},

        components: {
            nutrientDisplay,
            importedFoodFlag,
            brandedFoodFlag,
            hslide,
            listMenu,
        },

        /*
         |---------------------------------------------------------------------------
         | Lifecycle Hooks
         |---------------------------------------------------------------------------
         */

        mounted() {
            this.nutrientsVisible = this.getInitVisibility;
        },

        /*
         |---------------------------------------------------------------------------
         | Data
         |---------------------------------------------------------------------------
         */

        props: {
            initVisibility: {
                type: Boolean,
                default: true,
            },
            amountVisible: {
                type: Boolean,
                default: false,
            },
        },

        data() {
            return {
                nutrientsVisible: true,
            };
        },

        computed: {
            areNutrientsVisible() {
                return this.nutrientsVisible;
            },
            getInitVisibility() {
                return this.initVisibility;
            },
        },

        // watch: {},

        methods: {
            toggleVisibility() {
                this.nutrientsVisible = !this.nutrientsVisible;
            },
        },

    }

</script>
