<script setup lang="ts">
import { trans } from "@/utilities/localization"

defineProps<{ imported: boolean }>();
</script>

<template>
    <span v-if="imported"
          :title="trans('others.imported_food')"
          class="text-black-50"
    >
        <i class="fas fa-external-link-square-alt"></i>
    </span>
</template>
