<template>
    <div class="list-group-item">
        <div class="row">
            <div class="col-12 col-lg-8 mb-2 mb-lg-0">
                <div>
                    <imported-food-flag :imported="ingredient.food.imported"></imported-food-flag>
                    <a :href="urlToFoodShow(ingredient.food.id)"
                       target="_blank"
                    >{{ ingredient.food.name }}</a>
                </div>
                <div v-if="ingredient.food.brand">
                    <small class="text-muted">
                        <branded-food-flag :brand="ingredient.food.brand ?? ''"></branded-food-flag>
                        {{ ingredient.food.brand }}
                    </small>
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-2 mb-lg-0 d-flex">
                <div class="mr-2">
                    <b-input-group :append="ingredient.food.ref_unit">
                        <b-form-input :value="ingredient.value"
                                      @input="updateIngredientModelValue(ingredient.id, $event)"
                                      :name="`ingredients.${idx}.value`"
                                      :state="formError.state(`ingredients.${idx}.value`)"
                                      :aria-label="$trans('forms.ingredient_value.aria_label', {unit: ingredient.food.ref_unit})"
                        ></b-form-input>
                    </b-input-group>
                </div>
                <div>
                    <button @click="removeIngredientAndResetFormError(ingredient, idx)"
                            class="btn btn-default"
                            type="button"
                            :title="$trans('components.button.remove.title', {action: $trans('glossar.ingredient.word')})"
                            :aria-label="$trans('components.button.remove.title', {action: $trans('glossar.ingredient.word')})"
                    ><i class="fas fa-minus"></i></button>
                </div>
            </div>
        </div>
        <div v-show="formError.has(`ingredients.${idx}.value`)"
             class="text-danger"
        >
            {{ formError.get(`ingredients.${idx}.value`) }}
        </div>
    </div>
</template>

<script>

    import linksMixin from '../mixins/links';
    import ingredientModelActionsMixin from '../mixins/ingredient_model_actions';

    import importedFoodFlag from './imported_food_flag';
    import brandedFoodFlag from './branded_food_flag';

    import Ingredient from '../models/Ingredient';

    export default {

        name: 'ingredient_row',

        /*
         |---------------------------------------------------------------------------
         | Composition
         |---------------------------------------------------------------------------
         */

        mixins: [
            linksMixin,
            ingredientModelActionsMixin,
        ],

        // extends: {},

        /*
         |---------------------------------------------------------------------------
         | Assets
         |---------------------------------------------------------------------------
         */

        // directives: {},

        // filters: {},

        components: {
            importedFoodFlag,
            brandedFoodFlag,
        },

        /*
         |---------------------------------------------------------------------------
         | Lifecycle Hooks
         |---------------------------------------------------------------------------
         */

        // created() {},

        // mounted() {},

        /*
         |---------------------------------------------------------------------------
         | Data
         |---------------------------------------------------------------------------
         */

        props: {
            ingredient: {
                type: Object,
                required: true,
            },
            formError: {
                type: Object,
                required: true,
            },
            idx: {
                type: Number,
                required: true,
            },
        },

        // data() { return {}; },

        // computed: {},

        // watch: {},

        methods: {
            removeIngredientAndResetFormError(ingredient, idx) {
                this.formError.clear(`ingredients.${idx}.value`);
                Ingredient.delete(ingredient.id);
            },
        },
    };
</script>
