<template>
    <div class="list-menu">
        <div class="list-menu__content">
            <slot></slot>
        </div>
        <div  class="list-menu__menu">
            <slot name="pre-btn"></slot>
            <div v-if="isMenuVisible" class="dropdown">
                <button class="list-btn list-btn--fa5-icon text-black-50"
                        type="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                >
                    <i class="fas fa-ellipsis-v"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <slot name="menu"></slot>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

        name: 'list_menu',

        props: {
            menu: {
                type: Boolean,
                default: true,
            }
        },

        computed: {
            isMenuVisible() {
                return this.menu;
            }
        },
    };
</script>
