<template>
    <div>
        <div v-for="(nutrientGroup, ngIdx) in nutrientGroupsOrder" :key="`ng_${ngIdx}`">
            <div v-if="groupExists(nutrientGroup) && getNutrientGroups[nutrientGroup].length">
                <h6 class="border-bottom"><strong>{{ nutrientGroupName(nutrientGroup) }}</strong></h6>
                <div class="row mb-3">
                    <div v-for="(nutrient, nIdx) in getNutrientsForGroup(nutrientGroup)"
                         :key="`n_${nIdx}`"
                         class="col-12 col-md-6"
                    >
                        <div :class="{'text-black-50': nutrient.value == 0}"
                             class="d-flex justify-content-between"
                        >
                            <div>
                                {{ nutrientName(nutrient.key) }}
                            </div>
                            <div>
                                {{ round(nutrient.value, 3) }} {{ nutrient.unit }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import roundMixin from '../mixins/round';
    import logMixin from '../mixins/log';
    import foodMixin from '../mixins/food';

    import {has} from '../../utilities/helpers';

    export default {

        name: "nutrients_container",

        /*
         |---------------------------------------------------------------------------
         | Composition
         |---------------------------------------------------------------------------
         */

        mixins: [
            roundMixin,
            logMixin,
            foodMixin,
        ],

        // extends: {},

        /*
         |---------------------------------------------------------------------------
         | Assets
         |---------------------------------------------------------------------------
         */

        // directives: {},

        // filters: {},

        // components: {},

        /*
         |---------------------------------------------------------------------------
         | Lifecycle Hooks
         |---------------------------------------------------------------------------
         */

        // created() {},

        // mounted() {},

        /*
         |---------------------------------------------------------------------------
         | Data
         |---------------------------------------------------------------------------
         */

        // props: {},

        data() {
            return {
                nutrientGroupsOrder: [
                    'proximates',
                    'protein',
                    'carb',
                    'fat',
                    'minerals',
                    'vitamins',
                    'aminos',
                    'lipids',
                    'others',
                ],
                nutrientGroups: {},
            };
        },

        computed: {
            getNutrientGroups() {
                return this.nutrientGroups;
            },
        },

        watch: {
            food(newVal, oldVal) {
                this.sortGroups(newVal.nutrientsKeyVal);
            },
        },

        methods: {
            sortGroups(nutrients) {
                const vm = this;
                Object.keys(nutrients).forEach((nutrientKey) => {

                    const group = vm.food.nutrientsKeyVal[nutrientKey].group;
                    if (!has.call(vm.nutrientGroups, group)) {
                        vm.$set(vm.nutrientGroups, group, []);
                    }
                    vm.nutrientGroups[group].push(nutrientKey);
                });
            },
            groupExists(group) {
                return has.call(this.getNutrientGroups, group);
            },
            getNutrientsForGroup(group) {
                const vm = this;
                return this.getNutrientGroups[group].map((nutrientKey) => {
                    return vm.food.nutrientsKeyVal[nutrientKey];
                });
            },
            nutrientGroupName(group) {
                return $trans(`nutrients.groups.${group}`);
            },
            nutrientName(key) {
                if (this.food.carb_without_fiber && key === 'carbohydrate_by_difference') {
                    return $trans('nutrients.carbohydrate');
                }
                return $trans(`nutrients.${key}`);
            },
        },

    }

</script>
