<template>
    <div>
        <div v-for="(group, groupIdx) in getNutrientGroupsOrder" :key="`ng_${groupIdx}`">
            <div v-if="groupExists(group) && getNutrientGroups[group].length">
                <h6 class="border-bottom"><strong>{{ nutrientGroupName(group) }}</strong></h6>
                <div class="row mb-3">
                    <div v-for="(nutrient, nIdx) in getNutrientsForGroup(group)"
                         :key="`n_${nIdx}`"
                         class="col-12 col-md-6"
                    >
                        <div :class="{'text-black-50': nutrient.value == 0}"
                             class="d-flex justify-content-between"
                        >
                            <div>
                                {{ nutrientName(nutrient.key) }}
                            </div>
                            <div>
                                {{ round(nutrient.value, 3) }} {{ nutrient.unit }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import roundMixin from '../mixins/round';

    import {has} from '../../utilities/helpers';

    export default {

        name: "nutrients_list_container",

        /*
         |---------------------------------------------------------------------------
         | Composition
         |---------------------------------------------------------------------------
         */

        mixins: [
            roundMixin,
        ],

        // extends: {},

        /*
         |---------------------------------------------------------------------------
         | Assets
         |---------------------------------------------------------------------------
         */

        // directives: {},

        // filters: {},

        // components: {},

        /*
         |---------------------------------------------------------------------------
         | Lifecycle Hooks
         |---------------------------------------------------------------------------
         */

        // created() {},

        // mounted() {},

        /*
         |---------------------------------------------------------------------------
         | Data
         |---------------------------------------------------------------------------
         */

        props: {
            nutrients: {
                type: Object,
                required: true,
                default: [],
            }
        },

        data() {
            return {
                nutrientGroupsOrder: [
                    'proximates',
                    'protein',
                    'carb',
                    'fat',
                    'minerals',
                    'vitamins',
                    'aminos',
                    'lipids',
                    'others',
                ],
                nutrientGroups: {},
            };
        },

        computed: {
            getNutrientGroupsOrder() {
                return this.nutrientGroupsOrder;
            },
            getNutrientGroups() {
                const nutrientGroups = {};
                Object.values(this.nutrients).forEach((nutrient) => {
                    const group = nutrient.group;
                    if (!has.call(nutrientGroups, group)) {
                        nutrientGroups[group] = [];
                    }
                    nutrientGroups[group].push(nutrient.key);
                });
                return nutrientGroups;
            },
        },

        methods: {
            groupExists(group) {
                return has.call(this.getNutrientGroups, group);
            },
            getNutrientsForGroup(group) {
                const vm = this;
                return this.getNutrientGroups[group].map((nutrientKey) => {
                    return vm.nutrients[nutrientKey];
                });
            },
            nutrientGroupName(group) {
                return this.$trans(`nutrients.groups.${group}`);
            },
            nutrientName(key) {
                return this.$trans(`nutrients.${key}`);
            },
        },

    }

</script>
