<script setup>
import { computed } from "vue";
import { round } from "@/utilities/helpers";

const props = defineProps({
    title: {
        type: String,
        required: true,
    },
    val: {
        type: Number,
        required: true,
    },
    unit: {
        type: [String, null],
    },
    digits: {
        type: Number,
        default: 2,
    },
    size: {
        type: String,
        default: 'md',
    },
});

const cssClass = computed(() => {
    return [
        'nutrient-display',
        { 'nutrient-display--lg': props.size === 'lg' },
        { 'nutrient-display--sm': props.size === 'sm' },
    ];
});
</script>


<template>
    <div :class="cssClass">
        <span class="nutrient-display__title" v-text="title"></span>
        <span class="nutrient-display__value">
            {{ round(val, digits) }} <small>{{ unit }}</small>
        </span>
    </div>
</template>


