<template>
    <default-card class="mb-card" rounded="card">
        <list-menu :menu="isMenuVisible" class="py-2 px-3">
            <div class="card-reactive-title mb-1">
                <slot name="title"></slot>
            </div>
            <div slot="pre-btn">
                <slot name="pre-btn"></slot>
            </div>
            <div slot="menu">
                <slot name="menu"></slot>
            </div>
        </list-menu>
        <slot></slot>
    </default-card>
</template>

<script>

    import DefaultCard from './default_card'
    import ListMenu from './list-menu'

    export default {
        name: 'reactive_card',

        components: {
            DefaultCard,
            ListMenu,
        },

        props: {
            menu: {
                type: Boolean,
                default: true,
            }
        },

        computed: {
            isMenuVisible() {
                return this.menu;
            },
        },
    };

</script>
