<template>
    <div>
        <b-modal :id="getModalRef"
                 :title="$trans('components.modals.search_foods.header')"
                 @hidden="onHidden"
        >

            <div v-if="isTab('FOOD_SEARCH_TAB')">
                <b-form-input v-model.trim="searchTerm"
                              id="searchTermField"
                              type="text"
                              :placeholder="$trans('forms.search_foods.placeholder_instant_search')"
                ></b-form-input>

                <spinner-container :loading="isRequestSearchActionLoading">
                    <state-container :active="!results.length"
                                     :icon="true"
                                     :title="stateContainerTitle"
                                     :message="stateContainerMessage"
                    >
                        <div slot="icon">
                            <i :class="stateContainerIconCssClass"></i>
                        </div>

                        <ul class="list-group mt-3">
                            <li v-for="(result, idx) in sortedResults"
                                @click="setFood(result)"
                                :key="idx"
                                class="list-group-item d-flex list-group-item-action pointer"
                            >
                                <div class="flex-grow-1">
                                    <div>
                                        <imported-food-flag :imported="result.imported"></imported-food-flag>
                                        {{ result.name }}
                                    </div>
                                    <div v-show="result.brand">
                                        <small class="text-muted">
                                            <branded-food-flag :brand="result.brand"></branded-food-flag>
                                            {{ result.brand }}
                                        </small>
                                    </div>
                                </div>
                                <div>
                                    <i class="fas fa-angle-right"></i>
                                </div>
                            </li>
                        </ul>
                    </state-container>
                </spinner-container>
            </div>


            <div v-if="isTab('FOOD_ADD_VALUE_TAB')">

                <h5 class="mb-1">
                    <imported-food-flag :imported="selectedFood.imported"></imported-food-flag>
                    {{ selectedFood.name }}
                </h5>
                <div v-show="selectedFood.brand" class="mb-0">
                    <span class="text-muted">
                        <branded-food-flag :brand="selectedFood.brand"></branded-food-flag>
                        {{ selectedFood.brand }}
                    </span>
                </div>
                <div class="mb-4"></div>

                <b-form-group :label="$trans('forms.ingredient_value.title')"
                              :invalid-feedback="formError.get(`value`)"
                              :state="formError.state(`value`)"
                              label-for="food-value"
                >
                    <b-input-group :append="selectedFood.ref_unit">
                        <b-form-input v-model="selectedFood.value"
                                      :aria-label="$trans('forms.ingredient_value.aria_label', {unit: selectedFood.ref_unit})"
                                      :state="formError.state(`value`)"
                                      name="value"
                                      id="food-value"
                                      type="text"
                                      required
                        ></b-form-input>
                    </b-input-group>
                </b-form-group>
            </div>


            <div v-if="isTab('FOOD_CONSUME_TAB')">
                <h5 class="mb-1">
                    <imported-food-flag :imported="selectedFood.imported"></imported-food-flag>
                    {{ selectedFood.name }}
                </h5>
                <div v-show="selectedFood.brand" class="mb-0">
                    <span class="text-muted">
                        <branded-food-flag :brand="selectedFood.brand"></branded-food-flag>
                        {{ selectedFood.brand }}
                    </span>
                </div>
                <div class="mb-4"></div>

                <b-form-group id="labelSelectTime"
                              :label="$trans('forms.select_time.title')"
                              label-for="selectTime"
                >
                    <flat-pickr v-model="flatpickr.date"
                                :config="flatpickr.config"
                                :aria-label="$trans('forms.select_time.aria_label')"
                                class="form-control"
                                name="select_time"
                                id="selectTime"
                    ></flat-pickr>
                </b-form-group>

                <b-form-group label-for="groups"
                              :description="$trans('forms.food_groups.description')"
                >
                    <label for="groups">
                        {{ $trans('forms.food_groups.title') }}
                    </label>
                    <multiselect :value="group"
                                 @input="updateGroup"
                                 @tag="addTag"
                                 label="name"
                                 track-by="id"
                                 :taggable="true"
                                 :isLoading="areConsumedFoodGroupsLoading || areConsumedFoodGroupsAtLoading"
                                 :options="optionGroups"
                                 group-values="groups"
                                 group-label="title"
                                 :group-select="false"
                                 id="groups"
                                 :aria-label="$trans('forms.food_groups.aria_label')"
                                 :tag-placeholder="$trans('forms.food_groups.tag_placeholder')"
                                 :placeholder="$trans('forms.food_groups.placeholder')"
                                 :select-label="$trans('forms.food_groups.select_label')"
                                 :select-group-label="$trans('forms.food_groups.select_group_label')"
                                 :selected-label="$trans('forms.food_groups.selected_label')"
                                 :deselect-label="$trans('forms.food_groups.deselect_label')"
                                 :deselect-group-label="$trans('forms.food_groups.deselect_group_label')"
                    >
                    </multiselect>
                </b-form-group>

                <b-form-group :label="$trans('forms.ingredient_value.title')"
                              :invalid-feedback="formError.get(`value`)"
                              :state="formError.state(`value`)"
                              label-for="food-value"
                >
                    <b-input-group :append="selectedFood.ref_unit">
                        <b-form-input v-model="selectedFood.value"
                                      :aria-label="$trans('forms.ingredient_value.aria_label', {unit: selectedFood.ref_unit})"
                                      :state="formError.state(`value`)"
                                      name="value"
                                      id="food-value"
                                      type="text"
                                      required
                        ></b-form-input>
                    </b-input-group>
                </b-form-group>

            </div>



            <div slot="modal-footer">
                <b-button v-if="isTab('FOOD_ADD_VALUE_TAB') && isState('template')"
                          @click="addTemplateAction"
                          variant="success"
                          class="mb-2 mb-sm-0"
                          :title="$trans('components.button.add_food_to_template.title')"
                          :aria-label="$trans('components.button.add_food_to_template.title')"
                          :disabled="isExternalRequesting"
                >
                    <b-spinner v-show="isExternalRequesting" small></b-spinner>
                    {{ $trans('components.button.add_food_to_template.text_action') }}
                </b-button>
                <b-button v-if="isTab('FOOD_CONSUME_TAB') && isState('consumed_food')"
                          @click="consumeFoodAction"
                          variant="success"
                          class="mb-2 mb-sm-0"
                          :title="$trans('components.button.consume.title')"
                          :aria-label="$trans('components.button.consume.title')"
                          :disabled="isExternalRequesting"
                >
                    <b-spinner v-show="isExternalRequesting" small></b-spinner>
                    {{ $trans('components.button.consume.text') }}
                </b-button>
                <b-button v-if="isTab('FOOD_ADD_VALUE_TAB') || isTab('FOOD_CONSUME_TAB')"
                          @click="backAction"
                          variant="default"
                          class="mb-2 mb-sm-0"
                          :title="$trans('components.button.back.title')"
                          :aria-label="$trans('components.button.back.title')"
                >{{ $trans('components.button.back.text') }}</b-button>
                <b-button @click="hideSelf"
                          variant="default"
                          class="mb-2 mb-sm-0"
                          :title="$trans('components.button.cancel.title', {action: $trans('components.modals.search_foods.header')})"
                          :aria-label="$trans('components.button.cancel.title', {action: $trans('components.modals.search_foods.header')})"
                >{{ $trans('components.button.cancel.text') }}</b-button>
            </div>
        </b-modal>
    </div>
</template>

<script>


    import {
        REQUEST_DELAY,
        VALID_AMOUNT_MIN,
        VALID_AMOUNT_MAX,
        FLATPICKR_CONSUMED_DATE_FORMAT,
        FLATPICKR_TIME_ONLY_FORMAT,
        MOMENT_JS_DATE_FORMAT,
        MOMENT_JS_DATE_TIME_FORMAT,
        NO_GROUP_KEY,
        DEFAULT_DELAY_REQUEST_ACTIONS,
    } from '../../config';

    import {sortBy} from 'lodash';
    import flatPickr from 'vue-flatpickr-component';
    import {handle_response_error} from '../../utilities/response_error';

    const TABS = [
        'FOOD_SEARCH_TAB',
        'FOOD_ADD_VALUE_TAB',
        'FOOD_CONSUME_TAB',
    ];

    const POSSIBLE_STATES = [
        'template',
        'consumed_food',
    ];

    let requestTimeoutID = null;

    import modalRefMixin from '../mixins/modal_ref';
    import logMixin from '../mixins/log';
    import foodGroupMultiselect from '../mixins/food_group_multiselect';

    import SpinnerContainer from './spinner_container';
    import stateContainer from './state_container';
    import importedFoodFlag from './imported_food_flag';
    import brandedFoodFlag from './branded_food_flag';

    import FormError from '../../utilities/errors';

    import FoodApi from '../service/foods';

    import {has, is_gt, is_lt, is_number, minDelay} from '../../utilities/helpers';

    export default {

        name: 'search_food_modal',

        /*
         |---------------------------------------------------------------------------
         | Composition
         |---------------------------------------------------------------------------
         */

        mixins: [
            modalRefMixin,
            logMixin,
            foodGroupMultiselect,
        ],

        /*
         |---------------------------------------------------------------------------
         | Assets
         |---------------------------------------------------------------------------
         */

        components: {
            stateContainer,
            brandedFoodFlag,
            importedFoodFlag,
            flatPickr,
            SpinnerContainer,
        },

        /*
         |---------------------------------------------------------------------------
         | Lifecycle Hooks
         |---------------------------------------------------------------------------
         */

        created() {

            const vm = this;
            const hub = this.$root;
            hub.$on(`action::searchFood`, (data) => {
                if (data && has.call(data, 'group')
                    && typeof data.group.id !== 'undefined'
                    && data.group.id !== NO_GROUP_KEY
                ) {
                    vm.selectedGroup = data.group;
                    vm.updateGroup(data.group);
                }
                let now = this.$moment();
                if (this.isState('consumed_food')) {
                    this.fetchGroups({
                        consumedAt: this.consumedAt,
                    });
                    let moment = this.$moment(this.consumedAt, MOMENT_JS_DATE_FORMAT);
                    now.year(moment.year());
                    now.month(moment.month());
                    now.date(moment.date());
                }
                vm.requestSearchAction = false;
                this.flatpickr.date = now.format(MOMENT_JS_DATE_TIME_FORMAT);
                vm.showSelf();
            });
            hub.$on(`action::searchFood::close`, () => {
                vm.hideSelf();
            });
        },

        // mounted() {},

        /*
         |---------------------------------------------------------------------------
         | Data
         |---------------------------------------------------------------------------
         */

        props: {
            state: {
                type: String,
                required: true,
                validator(value) {
                    return POSSIBLE_STATES.indexOf(value) !== -1;
                },
            },
            consumedAt: {
                type: String,
                default: null,
            },
            externalRequesting: {
                type: Boolean,
                default: false,
            }
        },

        data() {

            const error = new FormError();

            return {
                searchTerm: '',
                results: [],
                selectedFood: null,
                activeTab: TABS[0],
                form: {
                    error,
                },
                selectedGroup: null,
                requestSearchAction: false,
                flatpickr: {
                    date: new Date(),
                    config: {
                        altInput: true,
                        altFormat: FLATPICKR_TIME_ONLY_FORMAT,
                        enableTime: true,
                        noCalendar: true,
                        dateFormat: FLATPICKR_CONSUMED_DATE_FORMAT,
                    },
                },
            };
        },

        computed: {
            isExternalRequesting() {
                return this.externalRequesting;
            },
            sortedResults() {
                return sortBy(this.results, 'name');
            },
            getActiveTab() {
                return this.activeTab;
            },
            formError() {
                return this.form.error;
            },
            stateContainerIconCssClass() {
                return [
                    'fas',
                    {'fa-inbox': this.searchTerm},
                    {'fa-search': !this.searchTerm},
                ];
            },
            stateContainerTitle() {
                if (this.searchTerm) {
                    return this.$trans('components.states.no_foods.title.nothing_found',{query:this.searchTerm});
                }
                return this.$trans('components.states.no_foods.title.no_query');
            },
            stateContainerMessage() {
                if (this.searchTerm) {
                    return this.$trans('components.states.no_foods.message.nothing_found',{query:this.searchTerm});
                }
                return this.$trans('components.states.no_foods.message.no_query');
            },
            isRequestSearchActionLoading() {
                return this.requestSearchAction;
            },
        },

        watch: {
            searchTerm(newVal) {
                this.delayedSearchAction(newVal);
            },
        },

        methods: {
            onHidden() {
                this.resetForm();
            },
            onSubmit() {
                this.$emit('submit', this.selectedFood);
            },
            resetForm() {
                this.searchTerm = '';
                this.results = [];
                this.selectedFood = null;
                this.activeTab = TABS[0];
                this.selectedGroup = null;
                this.updateGroup(null);
                this.flatpickr.date = new Date();
                this.resetFormErrors();
            },
            resetFormErrors() {
                this.form.error = new FormError();
            },
            delayedSearchAction(searchTerm) {
                const vm = this;
                if (requestTimeoutID) {
                    clearTimeout(requestTimeoutID);
                }
                requestTimeoutID = setTimeout(() => {
                    vm.searchAction(searchTerm);
                }, REQUEST_DELAY);
            },
            searchAction(searchTerm) {
                const vm = this;
                const startAction = Date.now();
                vm.requestSearchAction = true;
                FoodApi.search(searchTerm)
                    .then((response) => {
                        vm.$set(vm, 'results', response.data);
                        minDelay(startAction, DEFAULT_DELAY_REQUEST_ACTIONS, () => {
                            vm.requestSearchAction = false;
                        });
                    })
                    .catch((error) => {
                        handle_response_error(error);
                        vm.hideSelf();
                    })
                ;
            },
            setFood(food) {
                this.selectedFood = food;
                this.selectedFood.value = null;
                let tab = 'FOOD_ADD_VALUE_TAB';
                if (this.isState('consumed_food')) {
                    tab = 'FOOD_CONSUME_TAB';
                }
                this.setTab(tab);
            },
            isTab(tab) {
                return this.getActiveTab === tab;
            },
            setTab(tab) {
                this.activeTab = tab;
            },
            isState(state) {
                return this.state === state;
            },
            backAction() {
                this.resetFormErrors();
                this.setTab('FOOD_SEARCH_TAB');
            },
            validateSelectedFoodValue(value) {

                if (value === null || value === '') {
                    this.form.error.record({
                        value: [this.$trans('validation.required', {attribute: 'value'})],
                    });
                    return false;
                }

                if (!is_number(value)) {

                    this.form.error.record({
                        value: [this.$trans('validation.numeric', {attribute: 'value'})],
                    });
                    return false;
                }

                value = parseFloat(value);

                if (!(is_gt(value, VALID_AMOUNT_MIN) && is_lt(value, VALID_AMOUNT_MAX))) {
                    this.form.error.record({
                        value: [this.$trans('validation.between.numeric', {
                            attribute: 'value',
                            VALID_AMOUNT_MIN,
                            VALID_AMOUNT_MAX,
                        })],
                    });
                    return false;
                }

                return true;
            },
            consumeFoodAction() {
                if (!this.validateSelectedFoodValue(this.selectedFood.value)) {
                    return;
                }
                this.$emit('submit', {
                    food_id: this.selectedFood.id,
                    group: this.group,
                    consumed_at: this.flatpickr.date,
                    consumed_value: this.selectedFood.value,
                });
            },
            addTemplateAction() {
                if (!this.validateSelectedFoodValue(this.selectedFood.value)) {
                    return;
                }
                this.$emit('submit', this.selectedFood);
            },
        }
    };
</script>
