<template>
    <div>
        <div v-if="isLoading" class="spinner-container">
            <b-spinner class="spinner" />
        </div>
        <div v-if="!isLoading">
            <slot></slot>
        </div>
    </div>
</template>

<script>
    export default {

        name: 'spinner_container',

        props: {
            loading: {
                type: Boolean,
                default: false,
            },
        },

        computed: {
            isLoading() {
                return this.loading;
            },
        },
    };
</script>
