<script setup lang="ts">
const {
    title = "",
    message,
    icon = false,
    active = false,
    actionField = false,
} = defineProps<{
    title?: string
    message: string
    icon?: boolean
    active?: boolean
    actionField?: boolean
}>();
</script>

<template>
    <div>
        <div v-if="active" class="state-container">
            <div v-show="icon" class="state-container__icon">
                <slot name="icon"></slot>
            </div>
            <div v-if="title" class="state-container__title">{{ title }}</div>
            <div v-if="message" class="state-container__message">{{ message }}</div>
            <div v-if="actionField" class="state-container__action">
                <slot name="action"></slot>
            </div>
        </div>
        <div v-else>
            <slot></slot>
        </div>
    </div>
</template>
