<script>
import { defineComponent } from "vue";

export default defineComponent({
    name: "Sticky",
    data() {
        return {
            sticky: {
                menu: false,
                offset: {
                    navbar: '{top:57}',
                },
            },
        };
    },
    emits: [ 'stuck' ],
    computed: {
        stickyClass() {
            return [
                {'border-bottom': this.sticky.menu},
                {'shadow': this.sticky.menu},
                {'bg-white': this.sticky.menu},
            ];
        },
    },
    methods: {
        /**
         * @param {{ sticked: boolean, top: boolean, bottom: boolean }} obj
         */
        onStick(obj) {
            this.sticky.menu = obj.sticked;
            if (this.sticky.menu) {
                $('.navbar.fixed-top').addClass('shadow-none');
            } else {
                $('.navbar.fixed-top').removeClass('shadow-none');
            }
            this.$emit('stuck', obj.sticked);
        },
    },
});
</script>

<template>
<div v-sticky
     on-stick="onStick"
     :sticky-offset="sticky.offset.navbar"
     :class="stickyClass"
><slot></slot></div>
</template>
