<template>
    <strong class="h4">{{ displayValue }}<span v-if="displayUnit" class="ml-1 h7 text-black-50">{{ displayUnit }}</span></strong>
</template>

<script>
    export default {
        name: 'value_unit_wrapper',

        props: {
            val: {
                require: true,
            },
            unit: {
                type: String,
                default: '',
            },
        },

        computed: {
            displayValue() {
                return this.val;
            },
            displayUnit() {
                return this.unit;
            },
        }
    };
</script>
