<template>
    <v-chart :options="chartOptions"
             :autoresize="true"
             style="width: 100%; height: 140px"
    ></v-chart>
</template>

<script>

    import {COLOR_PRIMARY} from '../../config';

    import * as weekBar from '../../echart/week_bar';

    import VueECharts from 'vue-echarts';
    import 'echarts/lib/chart/bar';

    export default {

        name: 'week_bar_chart',

        components: {
            'v-chart': VueECharts,
        },

        props: {
            weekData: {
                type: Array,
                required: true,
            },
            barColor: {
                type: String,
                default: COLOR_PRIMARY,
            },
            unit: {
                type: String,
            },
        },

        data() {
            return {
                chart: weekBar.createBasicConfig(),
            };
        },

        computed: {
            chartOptions() {
                if (this.unit) {
                    this.chart.baseOption.yAxis.axisLabel = {
                        formatter: `{value} ${this.unit}`,
                    };
                    this.chart.baseOption.grid.left = weekBar.gridLeftMinWidth + (this.unit.length + 1) * 6;
                }
                this.chart.baseOption.series[0].data = this.weekData;
                this.chart.baseOption.series[0].itemStyle.color = this.barColor;
                return this.chart;
            },
        },
    };
</script>
