<template>
    <div :id="id" class="swiper-container swiper-container-horizontal-pagination-offset">
        <div class="swiper-wrapper">
            <div v-for="(slide, idx) in vData.slides"
                 class="swiper-slide"
                 :key="`slide_${idx}`"
                 :style="{left: `${vData.offset}px`}"
            >
                <reactive-card :menu="false">
                    <div slot="title">
                        {{ $trans('others.weekly_overview') }} |
                        {{ $trans(slide.title) }}
                    </div>
                    <div class="px-2 pb-2">
                        <week-bar-chart :week-data="slide.data"
                                        bar-color="rgba(0,0,0,.5)"
                                        :unit="slide.unit"
                        ></week-bar-chart>
                    </div>
                </reactive-card>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</template>

<script>

    import ReactiveCard from './reactive_card';
    import WeekBarChart from './week_bar_chart';

    import Swiper from 'swiper';

    export default {
        name: 'week_bar_chart_slider',

        components: {
            ReactiveCard,
            WeekBarChart,
        },

        mounted() {
            if (!this.swiper) {
                this.mountInstance();
            }
        },

        updated() {
            this.update();
        },

        props: {
            id: {
                type: [Number, String],
                required: true
            },
            slides: Array,
        },

        data() {
            return {
                swiper: null,
                virtualData: {
                    slides: [],
                },
            };
        },

        computed: {
            vData() {
                return this.virtualData;
            },
        },

        methods: {
            update() {
                if (this.swiper) {
                    this.swiper.update && this.swiper.update();
                    this.swiper.navigation && this.swiper.navigation.update();
                    this.swiper.pagination && this.swiper.pagination.render();
                    this.swiper.pagination && this.swiper.pagination.update();
                    this.swiper.virtual && this.swiper.virtual.update && this.swiper.virtual.update();
                }
            },
            mountInstance() {
                const vm = this;
                this.swiper = new Swiper(`#${this.id}`, {
                    spaceBetween: 15,
                    virtual: {
                        slides: vm.slides,
                        renderExternal(data) {
                            vm.virtualData = data;
                        },
                    },
                    pagination: {
                        el: '.swiper-pagination',
                        dynamicBullets: true,
                    },
                    breakpoints: {
                        576: {
                            slidesPerView: 2,
                        },
                    },
                });
            },
        },
    };
</script>
