<script setup lang="ts">
import NutrientDisplay from "@/vue/shared/nutrient_display.vue";
import type { Nutrient } from "@/types/v2/Nutrient";
import { trans } from "@/utilities/localization";

defineProps<{
    energy: Nutrient
    carb: Nutrient
    fat: Nutrient
    protein: Nutrient
}>();

</script>

<template>
    <div class="tw-grid tw-grid-cols-1 lg:tw-grid-cols-4 tw-gap-2">
        <div class="tw-p-2 lg:tw-p-6 tw-text-center tw-rounded-lg tw-bg-gray-50">
            <nutrient-display :title="trans('nutrients.energy')"
                              :val="energy.value"
                              :unit="energy.unit"
                              size="lg"
            ></nutrient-display>
        </div>
        <div class="tw-p-2 lg:tw-p-6 tw-text-center tw-rounded-lg tw-bg-gray-50">
            <nutrient-display :title="trans('nutrients.groups.carb')"
                              :val="carb.value"
                              :unit="carb.unit"
                              size="lg"
            ></nutrient-display>
        </div>
        <div class="tw-p-2 lg:tw-p-6 tw-text-center tw-rounded-lg tw-bg-gray-50">
            <nutrient-display :title="trans('nutrients.groups.fat')"
                              :val="fat.value"
                              :unit="fat.unit"
                              size="lg"
            ></nutrient-display>
        </div>
        <div class="tw-p-2 lg:tw-p-6 tw-text-center tw-rounded-lg tw-bg-gray-50">
            <nutrient-display :title="trans('nutrients.groups.protein')"
                              :val="protein.value"
                              :unit="protein.unit"
                              size="lg"
            ></nutrient-display>
        </div>
    </div>
</template>
