$padding-75: .75rem!default;
$margin-75: $padding-75;

.p-75 {
    padding: $padding-75;
}
.pr-75,
.px-75 {
    padding-right: $padding-75;
}
.pl-75,
.px-75 {
    padding-left: $padding-75;
}
.pt-75,
.py-75 {
    padding-top: $padding-75;
}
.pb-75,
.py-75 {
    padding-bottom: $padding-75;
}


.m-75 {
    margin: $margin-75;
}
.mr-75,
.mx-75 {
    margin-right: $margin-75;
}
.ml-75,
.mx-75 {
    margin-left: $margin-75;
}
.mt-75,
.my-75 {
    margin-top: $padding-75;
}
.mb-75,
.my-75 {
    margin-bottom: $margin-75;
}
