<template>
    <div sticky-container>

        <consume-food-insert-update-modal modal-ref="consumeFoodInsertUpdateModalId"></consume-food-insert-update-modal>

        <add-food-to-template-modal modal-ref="addFoodToTemplateModalId"></add-food-to-template-modal>

        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col col-lg-8">

                    <b-breadcrumb :items="breadcrumbs"
                                  class="p-0 bg-transparent"
                    ></b-breadcrumb>
                    <hr>

                    <h4 class="mb-1">{{ food.name }} <small>({{ food.ref_value }}{{ food.ref_unit }})</small></h4>
                    <h6 v-if="food.brand"
                        class="mb-1"
                    >
                        <branded-food-flag :brand="food.brand"></branded-food-flag>
                        {{ food.brand }}
                    </h6>
                    <div class="mb-2">
                        <div v-if="food.imported">

                            <a v-if="food.import_source === 'usda'"
                               :href="urlToUsdaFoodReport(food.import_reference)"
                               target="_blank"
                               :title="$trans('links.go_to_source.title')"
                               :aria-label="$trans('links.go_to_source.title')"
                            >
                                <imported-food-flag :imported="food.imported"></imported-food-flag>
                                {{ $trans('glossar.source.word') }}: {{ $trans('glossar.usda.word') }}
                            </a>

                            <a v-if="food.import_source === 'usda_food_data_central'"
                               :href="urlToUsdaFoodDataCentralReport(food.import_reference)"
                               target="_blank"
                               :title="$trans('links.go_to_source.title')"
                               :aria-label="$trans('links.go_to_source.title')"
                            >
                                <imported-food-flag :imported="food.imported"></imported-food-flag>
                                {{ $trans('glossar.source.word') }}: {{ $trans('glossar.usda_data_central.word') }}
                            </a>
                        </div>
                    </div>

                    <div class="mb-1">
                        <small>
                            <p class="mb-0"><strong>{{ $trans('others.created_at') }}:</strong> {{ displayDate(food.created_at) }}</p>
                            <p class="mb-0"><strong>{{ $trans('others.updated_at') }}:</strong> {{ displayDate(food.updated_at) }}</p>
                        </small>
                    </div>

                </div>
            </div>
        </div>


        <div v-sticky
             on-stick="onStick"
             :sticky-offset="stickyOffsetNavbar"
             :class="stickyClass"
        >
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col col-lg-8">
                        <div class="pt-3 pb-1">
                            <b-button @click="onConsume(food)"
                                      variant="success"
                                      :title="$trans('components.button.consume.title')"
                                      :aria-label="$trans('components.button.consume.title')"
                                      class="mb-2"
                            >
                                <i class="fas fa-utensils"></i><span class="ml-2" v-if="!isMenuSticked">{{ $trans('components.button.consume.text') }}</span>
                            </b-button>
                            <b-button @click="addFoodToTemplate(food)"
                                      variant="default"
                                      :title="$trans('components.button.add_food_to_template.title')"
                                      :aria-label="$trans('components.button.add_food_to_template.title')"
                                      class="mb-2"
                            >
                                <i class="fas fa-plus-circle"></i><span class="ml-2" v-if="!isMenuSticked">{{ $trans('components.button.add_food_to_template.text_mnu') }}</span>
                            </b-button>
                            <b-button :href="urlToFoodNew()"
                                      variant="default"
                                      :title="$trans('components.button.new_food.title')"
                                      :aria-label="$trans('components.button.new_food.title')"
                                      class="mb-2"
                            >
                                <i class="far fa-file"></i><span class="ml-2" v-if="!isMenuSticked">{{ $trans('components.button.new.text') }}</span>
                            </b-button>
                            <div v-if="food.editable" class="d-inline-block">
                                <b-button :href="urlToFoodEdit(foodId)"
                                          variant="default"
                                          :title="$trans('components.button.edit.title', {action: $trans('glossar.food.word')})"
                                          :aria-label="$trans('components.button.edit.title', {action: $trans('glossar.food.word')})"
                                          class="mb-2"
                                >
                                    <i class="far fa-edit"></i><span class="ml-2" v-if="!isMenuSticked">{{ $trans('components.button.edit.text') }}</span>
                                </b-button>
                                <b-button @click="actionDeleteFood(foodId)"
                                          variant="danger"
                                          :title="$trans('components.button.delete.title', {action: $trans('glossar.food.word')})"
                                          :aria-label="$trans('components.button.delete.title', {action: $trans('glossar.food.word')})"
                                          class="mb-2"
                                >
                                    <i class="fas fa-trash-alt"></i><span class="ml-2" v-if="!isMenuSticked">{{ $trans('components.button.delete.text') }}</span>
                                </b-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col col-lg-8">
                    <default-card class="mb-card justify-content-between justify-content-md-around flex-column flex-md-row">
                        <div class="p-2 p-md-4 text-center">
                            <nutrient-display :title="$trans('nutrients.energy')"
                                              :val="food.calcEnergy(food.ref_value)"
                                              :unit="food.energy.unit"
                                              size="lg"
                            ></nutrient-display>
                        </div>
                        <div class="p-2 p-md-4 text-center border-top border-md-top-0">
                            <nutrient-display :title="$trans('nutrients.groups.carb_no_fiber')"
                                              :val="food.calcCarb(food.ref_value)"
                                              :unit="food.carb.unit"
                                              size="lg"
                            ></nutrient-display>
                        </div>
                        <div class="p-2 p-md-4 text-center border-top border-md-top-0">
                            <nutrient-display :title="$trans('nutrients.groups.fat')"
                                              :val="food.calcFat(food.ref_value)"
                                              :unit="food.fat.unit"
                                              size="lg"
                            ></nutrient-display>
                        </div>
                        <div class="p-2 p-md-4 text-center border-top border-md-top-0">
                            <nutrient-display :title="$trans('nutrients.groups.protein')"
                                              :val="food.calcProtein(food.ref_value)"
                                              :unit="food.protein.unit"
                                              size="lg"
                            ></nutrient-display>
                        </div>
                    </default-card>


                    <default-card v-if="food.id" class="mb-card">
                        <div class="card-body">
                            <h5 class="mb-4">{{ $trans('glossar.nutrition_facts.word') }}</h5>
                            <nutrition-facts @update:type="nutritionFactsType = $event"
                                             :nutrition-facts-type="getNutritionFactsType"
                                             :nutrients="food.nutrientsKeyVal"
                                             :ref-unit="food.ref_unit"
                                             :ref-value="food.ref_value"
                            ></nutrition-facts>
                        </div>
                    </default-card>

                </div>
            </div>
        </div>

    </div>
</template>

<script>

    /*
    |---------------------------------------------------------------------------
    | Smart component
    |---------------------------------------------------------------------------
    */

    import {
        DEFAULT_REDIRECT_TIME,
        DEFAULT_REDIRECT_TIME_EXTENDED,
        URL_REDIRECT_FOOD_CATALOGUE,
    } from '../../../config';

    import logMixin from '../../mixins/log';
    import foodIdMixin from '../../mixins/food_id';
    import roundMixin from '../../mixins/round';
    import linksMixin from '../../mixins/links';
    import consumeMixin from '../../mixins/consume_actions';
    import stickyMixin from '../../mixins/sticky';
    import displayHelperMixin from '../../mixins/display_helper';
    import addFoodToTemplateActionMixin from '../../mixins/food_add_to_template_action';

    import {redirect_to} from '../../../utilities/url_helpers';

    import nutrientDisplay from '../../shared/nutrient_display';
    import nutrientsContainer from '../../shared/nutrients_container';
    import importedFoodFlag from '../../shared/imported_food_flag';
    import brandedFoodFlag from '../../shared/branded_food_flag';
    import consumeFoodInsertUpdateModal from '../../shared/consume_food_insert_update_modal/consume_food_insert_update_modal';
    import addFoodToTemplateModal from '../../shared/add_food_to_template_modal';
    import DefaultCard from '../../shared/default_card';
    import NutritionFacts from '../../shared/nutrition_facts.vue';

    import { createNamespacedHelpers } from 'vuex';

    const {
        mapGetters: mapFoodGetters,
        mapActions: mapFoodActions,
    } = createNamespacedHelpers('food');

    const {
        mapActions: mapNutrientsActions,
        mapGetters: mapNutrientsGetters,
    } = createNamespacedHelpers('nutrients');

    export default {

        name: "food_view",

        /*
         |---------------------------------------------------------------------------
         | Composition
         |---------------------------------------------------------------------------
         */

        mixins: [
            logMixin,
            foodIdMixin,
            roundMixin,
            linksMixin,
            consumeMixin,
            stickyMixin,
            displayHelperMixin,
            addFoodToTemplateActionMixin,
        ],

        // extends: {},

        /*
         |---------------------------------------------------------------------------
         | Assets
         |---------------------------------------------------------------------------
         */

        // directives: {},

        // filters: {},

        components: {
            nutrientDisplay,
            nutrientsContainer,
            importedFoodFlag,
            brandedFoodFlag,
            consumeFoodInsertUpdateModal,
            addFoodToTemplateModal,
            DefaultCard,
            NutritionFacts,
        },

        /*
         |---------------------------------------------------------------------------
         | Lifecycle Hooks
         |---------------------------------------------------------------------------
         */

        // created() {},

        mounted() {
            this.fetchFood(this.foodId)
                .then((data) => {
                    if (data && data instanceof Error) {
                        redirect_to({
                            url: URL_REDIRECT_FOOD_CATALOGUE,
                            delay: DEFAULT_REDIRECT_TIME_EXTENDED,
                        });
                    }
                })
            ;
        },

        /*
         |---------------------------------------------------------------------------
         | Data
         |---------------------------------------------------------------------------
         */

        // props: {},

        data() {
            return {
                breadcrumbs: [
                    {text: this.$trans('links.catalogue.text'), href: URL_REDIRECT_FOOD_CATALOGUE},
                    {text: this.$trans('links.food_detail_view.text'), active: true}
                ],
                nutritionFactsType: "simple",
            };
        },

        computed: {
            ...mapFoodGetters([
                'food',
                'isFoodLoading',
                'isDeleteFoodLoading',
            ]),
            getNutritionFactsType() { return this.nutritionFactsType; },
        },

        // watch: {},

        methods: {
            ...mapFoodActions([
                'fetchFood',
                'deleteFood',
            ]),
            actionDeleteFood(id) {
                if (!window.confirm(this.$trans('components.modals.delete_food.message'))) {
                    return;
                }
                this.deleteFood(id)
                    .then((data) => {
                        if (!(data instanceof Error)) {
                            window.$alert.success(data.data.message);
                            redirect_to({
                                url: URL_REDIRECT_FOOD_CATALOGUE,
                                delay: DEFAULT_REDIRECT_TIME,
                            });
                        }
                    });
            },
        }

    }

</script>

<style>

</style>
